# EXP 113
## -33の目的変数をもつcard_idの分析

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)
import os
import sys
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import get_categorical_features, get_numeric_features
import datetime

key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_avtive_month']

feat_no = '113_eda_'

### Tableau可視化用データセットの作成

In [14]:
import datetime
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

clf_pred = utils.read_pkl_gzip('../stack/1225_102_outlier_classify_lgb_auc0-88940189917734_83features.gz').set_index(key)
clf_pred.columns = [f"clf_{col}" for col in clf_pred.columns]
out_pred = utils.read_pkl_gzip('../stack/1225_172_en_route_lgb_CV1-55583888596708_83features.gz').set_index(key)
out_pred.columns = [f"out_{col}" for col in out_pred.columns]
best_pred = utils.read_pkl_gzip('../stack/1225_182_en_route_lgb_CV3-65604336032456_83features.gz').set_index(key)
best_pred.columns = [f"best_{col}" for col in best_pred.columns]

best_pred[clf_pred.columns] = clf_pred
best_pred[out_pred.columns] = out_pred

In [86]:
import glob

win_path = '../features/4_winner/*'
# Data Load
base = utils.read_df_pkl('../input/base*')
win_path_list = glob.glob(win_path)
train_path_list = []
test_path_list = []
for path in win_path_list:
    if path.count('train'):
        train_path_list.append(path)
    elif path.count('test'):
        test_path_list.append(path)

base_train = base[~base[target].isnull()].reset_index(drop=True)
base_test = base[base[target].isnull()].reset_index(drop=True)
train_feature_list = utils.parallel_load_data(path_list=train_path_list)
test_feature_list = utils.parallel_load_data(path_list=test_path_list)
train = pd.concat(train_feature_list, axis=1)
train = pd.concat([base_train, train], axis=1)
test = pd.concat(test_feature_list, axis=1)
test = pd.concat([base_test, test], axis=1)

train_test = pd.concat([train, test], ignore_index=True)
train_test.head()

SystemExit:

In [19]:
train_test.set_index(key, inplace=True)
best_pred = best_pred.join(train_test)
best_pred.to_csv(f'../output/{start_time[4:11]}_elo_exp113.csv', index=True)

### Tableau可視化結果から、outlierの二値分類による予測可否でグルーピングしたcard_idを取得

In [11]:
out_g = pd.read_csv('../input/elo_outlier_clf_pred_div.csv')
display(out_g.head())

df_out = train_test.merge(out_g, how='inner', on='card_id')
print(df_out.shape)

   div          card_id
0    0  C_ID_0a9a30162f
1    0  C_ID_0a33d755fc
2    0  C_ID_0ac55f7b51
3    0  C_ID_0aeccc1ef8
4    0  C_ID_0b45efc727

(2207, 86)

In [29]:
# corr = train_test.corr(method='pearson')
# corr['111_ker_hist_first_buy@']

In [22]:
out_corr = df_out.query("div==1").corr(method='pearson')
out_corr.to_csv('../output/1227_elo_corr_outlier_clfdiv1.csv')

In [20]:
df_out.query("div==0").to_csv('../output/1227_elo_eda_outlier_clfdiv.csv', index=False)

### historyデータ

In [4]:
hist = utils.read_df_pkl('../input/historical_transactions0*')
new = utils.read_df_pkl('../input/new*0*')
hist.head(10)

100%|██████████| 3/3 [00:08<00:00,  2.89s/it]
100%|██████████| 3/3 [00:00<00:00,  3.40it/s]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37
5,Y,C_ID_4e6213e9bc,333,N,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24 08:45:05,1.0,9,37
6,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21 00:10:51,1.0,16,37
7,Y,C_ID_4e6213e9bc,3,N,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18 20:05:55,1.0,16,37
8,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01 22:02:56,1.0,16,37
9,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16 15:41:22,1.0,16,37

In [30]:
d0 = df_out.query("div==0")
d1 = df_out.query("div==1")

In [33]:
hist0 = hist.loc[hist[key].isin(d0.card_id), :]
hist1 = hist.loc[hist[key].isin(d1.card_id), :]

In [35]:
hist0['purchase_date'].min()
hist0['purchase_date'].max()

2017-01-01 00:07:20
2018-02-28 23:00:24

In [24]:
print(hist['category_1'].dropna().drop_duplicates())
print(hist['category_2'].dropna().drop_duplicates())
print(hist['category_3'].dropna().drop_duplicates())

0      N
797    Y
Name: category_1, dtype: object
0      1.0
400    3.0
406    5.0
407    2.0
464    4.0
Name: category_2, dtype: float64
0      A
400    B
493    C
Name: category_3, dtype: object

In [26]:
train = utils.read_df_pkl('../input/train00*')
train.head()
print(train['feature_1'].drop_duplicates())
print(train['feature_2'].drop_duplicates())
print(train['feature_3'].drop_duplicates())

100%|██████████| 3/3 [00:00<00:00, 96.09it/s]

0    5
1    4
2    2
4    1
6    3
Name: feature_1, dtype: int64
0    2
1    1
3    3
Name: feature_2, dtype: int64
0    1
1    0
Name: feature_3, dtype: int64

### newデータ

In [42]:
new2017 = new.loc[new['purchase_date'].map(lambda x: True if str(x).count('2017') else False), :]
new2017.shape

(303483, 14)

In [47]:
hist_new2017 = hist.loc[hist[key].isin(new2017[key].values), :]
print(hist_new2017.shape)
hist_new2017.head(20)

(3110038, 14)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
2812,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.369742,2017-07-12 18:51:42,2.0,24,19
2813,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-3,-0.731926,2017-05-03 07:17:35,2.0,24,33
2814,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.697380,2017-07-28 09:15:49,2.0,24,33
2815,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-4,-0.697320,2017-04-16 08:51:05,2.0,24,34
2816,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-2,-0.730093,2017-06-05 07:11:13,2.0,24,33
2817,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,0,-0.674781,2017-08-26 13:17:35,2.0,24,16
2818,Y,C_ID_a9af70f52d,117,N,1,B,307,M_ID_806656dfc9,-1,-0.506469,2017-07-24 11:17:05,4.0,13,19
2819,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,0,-0.704834,2017-08-28 16:09:24,2.0,24,16
2820,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.718282,2017-07-30 11:10:46,2.0,24,33
2821,Y,C_ID_a9af70f52d,160,N,1,B,771,M_ID_3f48320bbd,0,-0.711130,2017-08-10 14:51:03,5.0,21,31
2822,Y,C_ID_a9af70f52d,96,N,1,B,419,M_ID_9388465c5a,-1,-0.732482,2017-07-27 08:45:53,2.0,24,1
2823,Y,C_ID_a9af70f52d,157,N,1,B,278,M_ID_a0101df4a8,-1,-0.672376,2017-07-20 20:22:14,4.0,13,37
2824,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.678552,2017-07-27 08:39:55,2.0,24,33
2825,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-7,-0.706336,2017-01-14 18:34:52,2.0,24,34
2826,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_0500147d97,-4,-0.737141,2017-04-03 09:59:23,2.0,24,21
2827,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.565403,2017-04-23 09:56:53,2.0,24,33
2828,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_672339de49,-2,-0.532570,2017-06-21 08:33:51,2.0,24,16
2829,Y,C_ID_a9af70f52d,96,N,1,B,45,M_ID_38f43f6038,-2,-0.446378,2017-06-08 14:32:58,2.0,24,18
2830,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-01 13:33:34,NaN,-1,22
2831,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.596643,2017-01-08 10:02:20,2.0,24,19

### newは各IDの直近2ヶ月を取り出したデータセット

In [55]:
hist_new2017[hist_new2017[key]=='C_ID_a9af70f52d'].sort_values(by='purchase_date')

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
2992,N,C_ID_a9af70f52d,117,N,1,B,307,M_ID_0e272cdbf2,-7,-0.493320,2017-01-01 10:26:05,4.0,13,19
2902,Y,C_ID_a9af70f52d,117,N,1,B,307,M_ID_0e272cdbf2,-7,-0.493320,2017-01-01 10:27:12,4.0,13,19
2958,Y,C_ID_a9af70f52d,117,N,1,B,705,M_ID_3c75ea64c5,-7,-0.704383,2017-01-01 12:35:57,4.0,13,33
2984,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.709402,2017-01-02 10:44:22,2.0,24,33
2838,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_6986e72b70,-7,-0.505732,2017-01-02 18:26:40,2.0,24,18
3009,Y,C_ID_a9af70f52d,96,N,1,B,420,M_ID_68fba10ff4,-7,-0.596643,2017-01-03 18:49:32,2.0,24,31
2904,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_768caea057,-7,-0.721768,2017-01-04 11:06:08,2.0,24,21
2867,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 11:20:34,2.0,24,33
2930,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 11:22:22,2.0,24,33
2961,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 11:24:50,2.0,24,33
3002,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 11:24:59,2.0,24,33
3032,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 11:27:47,2.0,24,33
2996,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.723692,2017-01-04 12:15:28,2.0,24,33
2953,Y,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-7,-0.716855,2017-01-04 13:10:01,2.0,24,19
2845,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_ef5bdb709e,-7,-0.734887,2017-01-06 16:01:00,2.0,24,18
2960,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_768caea057,-7,-0.718748,2017-01-06 16:24:13,2.0,24,21
2852,N,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.596643,2017-01-08 10:01:49,2.0,24,19
2831,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.596643,2017-01-08 10:02:20,2.0,24,19
2863,Y,C_ID_a9af70f52d,96,N,1,B,45,M_ID_e4e601020c,-7,-0.296112,2017-01-09 17:45:39,2.0,24,18
2854,Y,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-7,-0.679288,2017-01-10 12:08:10,2.0,24,19
2936,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.706652,2017-01-10 13:08:57,2.0,24,33
2837,Y,C_ID_a9af70f52d,96,N,1,B,222,M_ID_b313b3790f,-7,-0.692767,2017-01-11 15:42:07,2.0,24,21
3013,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.704909,2017-01-11 15:49:59,2.0,24,33
3007,N,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.119401,2017-01-11 16:08:21,2.0,24,19
2977,N,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.119401,2017-01-11 16:09:10,2.0,24,19
2848,N,C_ID_a9af70f52d,96,N,3,C,373,M_ID_6986e72b70,-7,0.247847,2017-01-11 16:21:39,2.0,24,18
3035,N,C_ID_a9af70f52d,96,N,3,C,373,M_ID_6986e72b70,-7,0.247847,2017-01-11 16:22:55,2.0,24,18
2849,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.703030,2017-01-13 12:25:56,2.0,24,33
3019,N,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.223985,2017-01-14 10:48:15,2.0,24,19
2825,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-7,-0.706336,2017-01-14 18:34:52,2.0,24,34
2945,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-7,-0.596643,2017-01-15 09:08:01,2.0,24,19
3026,N,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-7,-0.716855,2017-01-16 10:40:23,2.0,24,19
2905,N,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-7,-0.716855,2017-01-16 10:41:03,2.0,24,19
2940,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-7,-0.557724,2017-01-17 10:10:41,2.0,24,33
2891,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-6,-0.713354,2017-02-16 20:41:22,2.0,24,33
2944,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-6,-0.596643,2017-02-18 13:03:23,2.0,24,19
2948,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-6,-0.671775,2017-02-23 18:45:56,2.0,24,19
3028,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-6,-0.676418,2017-02-26 12:01:25,2.0,24,33
2922,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-6,-0.717501,2017-02-27 07:21:01,2.0,24,33
2889,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-6,-0.717501,2017-02-27 07:22:00,2.0,24,33
2873,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,-6,-0.727373,2017-02-27 07:26:59,2.0,24,16
2947,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_672339de49,-6,-0.688304,2017-02-27 15:50:52,2.0,24,16
2906,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-6,-0.394130,2017-02-28 11:26:12,2.0,24,33
2850,Y,C_ID_a9af70f52d,96,N,1,B,420,M_ID_68fba10ff4,-5,-0.671775,2017-03-01 19:19:03,2.0,24,31
2938,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-5,-0.671775,2017-03-13 10:25:41,2.0,24,19
2840,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,-5,-0.734887,2017-03-15 13:32:40,2.0,24,16
2874,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-5,-0.596643,2017-03-17 14:01:24,2.0,24,19
2903,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-5,-0.671775,2017-03-27 11:55:52,2.0,24,19
3018,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-5,-0.701948,2017-03-27 15:00:57,2.0,24,33
2920,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_6986e72b70,-5,-0.701528,2017-03-27 17:22:56,2.0,24,18
2914,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-5,-0.742400,2017-03-27 20:10:19,NaN,-1,22
2861,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-5,-0.716735,2017-03-27 20:13:44,NaN,-1,22
2880,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_6986e72b70,-5,-0.709342,2017-03-29 20:19:25,2.0,24,18
3012,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-5,-0.671775,2017-03-30 11:09:41,2.0,24,19
2988,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.635231,2017-04-02 10:35:05,2.0,24,33
3017,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-4,-0.716855,2017-04-02 12:09:27,2.0,24,34
2832,Y,C_ID_a9af70f52d,96,N,1,B,411,M_ID_deb5849bd5,-4,-0.664262,2017-04-03 09:37:42,2.0,24,21
2826,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_0500147d97,-4,-0.737141,2017-04-03 09:59:23,2.0,24,21
2911,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.596643,2017-04-03 13:34:28,2.0,24,19
2898,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,-4,-0.694315,2017-04-05 11:32:26,2.0,24,16
2841,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.596643,2017-04-05 11:37:46,2.0,24,19
2965,Y,C_ID_a9af70f52d,-1,Y,1,B,879,M_ID_00a6ca8a8a,-4,-0.522637,2017-04-10 18:24:13,NaN,-1,29
2933,N,C_ID_a9af70f52d,96,N,1,B,68,M_ID_538d8fdb81,-4,-0.639017,2017-04-15 15:18:10,2.0,24,27
3010,N,C_ID_a9af70f52d,96,N,1,B,68,M_ID_538d8fdb81,-4,-0.639017,2017-04-15 15:19:07,2.0,24,27
2909,Y,C_ID_a9af70f52d,96,N,1,B,68,M_ID_538d8fdb81,-4,-0.639017,2017-04-15 15:19:12,2.0,24,27
2868,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.596643,2017-04-16 08:14:37,2.0,24,19
2815,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-4,-0.697320,2017-04-16 08:51:05,2.0,24,34
2887,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.596643,2017-04-18 10:59:40,2.0,24,19
2876,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.671775,2017-04-19 10:49:13,2.0,24,19
3031,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.686802,2017-04-19 11:20:26,2.0,24,33
2913,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.686802,2017-04-19 11:21:40,2.0,24,33
2964,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.686802,2017-04-19 11:22:49,2.0,24,33
2994,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eadbac8ee2,-4,-0.506484,2017-04-19 11:56:59,2.0,24,33
2985,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.702580,2017-04-20 07:22:14,2.0,24,33
2866,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.731881,2017-04-22 13:03:23,2.0,24,19
2858,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.700731,2017-04-22 13:12:57,2.0,24,33
2827,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.565403,2017-04-23 09:56:53,2.0,24,33
2908,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.565403,2017-04-23 09:57:45,2.0,24,33
3033,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-4,-0.701828,2017-04-23 11:43:04,2.0,24,34
2943,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.716659,2017-04-25 07:07:03,2.0,24,33
2844,N,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.718252,2017-04-27 12:03:00,2.0,24,33
2927,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.718252,2017-04-27 12:04:00,2.0,24,33
2949,Y,C_ID_a9af70f52d,96,N,1,B,222,M_ID_5e9e9b71b9,-4,-0.726622,2017-04-29 11:11:40,2.0,24,21
2886,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-4,-0.719920,2017-04-29 11:21:58,2.0,24,33
2862,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-4,-0.596643,2017-04-29 13:37:45,2.0,24,19
2843,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-4,-0.553066,2017-04-29 13:45:23,2.0,24,34
3027,Y,C_ID_a9af70f52d,96,N,1,B,420,M_ID_68fba10ff4,-3,-0.671775,2017-05-03 07:04:42,2.0,24,31
2813,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-3,-0.731926,2017-05-03 07:17:35,2.0,24,33
2941,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-3,-0.439255,2017-05-04 08:10:14,2.0,24,33
2895,Y,C_ID_a9af70f52d,96,N,1,B,419,M_ID_9388465c5a,-3,-0.681843,2017-05-04 08:29:15,2.0,24,1
2987,Y,C_ID_a9af70f52d,96,N,1,B,330,M_ID_285f9855cc,-3,-0.581616,2017-05-04 18:54:54,2.0,24,25
2929,Y,C_ID_a9af70f52d,96,N,1,B,414,M_ID_b33b7f3b4e,-3,-0.686050,2017-05-07 08:49:05,2.0,24,29
2979,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-3,-0.589460,2017-05-18 07:49:10,2.0,24,33
2923,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-3,-0.671775,2017-05-18 15:56:42,2.0,24,19
3008,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-3,-0.698823,2017-05-18 20:41:31,2.0,24,34
2982,Y,C_ID_a9af70f52d,96,N,1,B,531,M_ID_b98e2420f1,-3,-0.416325,2017-05-19 17:32:37,2.0,24,27
3003,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,-3,-0.716855,2017-05-20 17:55:25,2.0,24,19
2892,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_0500147d97,-3,-0.679288,2017-05-25 14:53:45,2.0,24,21
2857,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-3,-0.710033,2017-05-26 19:45:29,2.0,24,33
2991,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-3,-0.686802,2017-05-28 12:55:00,2.0,24,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_672339de49,-2,-0.532570,2017-06-21 08:33:51,2.0,24,16
2878,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eadbac8ee2,-2,-0.722865,2017-06-21 13:07:12,2.0,24,33
3006,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-2,-0.671775,2017-06-21 16:27:37,2.0,24,19
2893,Y,C_ID_a9af70f52d,96,N,1,B,692,M_ID_042f27730c,-2,-0.725871,2017-06-23 13:30:12,2.0,24,21
2931,Y,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-2,-0.521510,2017-06-26 10:32:23,2.0,24,19
2990,Y,C_ID_a9af70f52d,96,N,1,B,330,M_ID_285f9855cc,-2,-0.446378,2017-06-26 19:05:00,2.0,24,25
2847,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-2,-0.733399,2017-06-27 13:12:23,NaN,-1,22
2882,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-2,-0.600384,2017-06-28 08:52:11,2.0,24,33
2856,Y,C_ID_a9af70f52d,96,N,1,B,796,M_ID_1d341e65b6,-2,-0.296112,2017-06-29 14:27:12,2.0,24,10
3024,Y,C_ID_a9af70f52d,96,N,1,B,796,M_ID_1d341e65b6,-2,-0.727373,2017-06-29 14:39:18,2.0,24,10
2972,Y,C_ID_a9af70f52d,96,N,1,B,332,M_ID_ab6398e907,-1,0.004418,2017-07-01 10:36:59,2.0,24,2
3005,Y,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-1,-0.704834,2017-07-01 11:07:53,2.0,24,19
2834,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.596643,2017-07-01 12:51:27,2.0,24,19
2877,Y,C_ID_a9af70f52d,96,N,1,B,419,M_ID_b3686a2ecf,-1,-0.686802,2017-07-03 16:04:55,2.0,24,1
2983,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.671775,2017-07-04 10:12:40,2.0,24,19
2989,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-1,-0.733399,2017-07-04 13:05:49,NaN,-1,22
2917,Y,C_ID_a9af70f52d,96,N,1,B,45,M_ID_e4e601020c,-1,-0.220980,2017-07-05 14:15:45,2.0,24,18
2928,Y,C_ID_a9af70f52d,96,N,1,B,290,M_ID_c8931eee18,-1,-0.716855,2017-07-05 17:52:39,2.0,24,19
2894,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.596643,2017-07-05 18:40:58,2.0,24,19
3011,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.598220,2017-07-05 18:49:38,2.0,24,33
2956,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_672339de49,-1,-0.701077,2017-07-08 11:30:52,2.0,24,16
2890,Y,C_ID_a9af70f52d,96,N,1,B,637,M_ID_bc3c955b48,-1,-0.701828,2017-07-09 16:49:11,2.0,24,37
2896,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,-1,-0.700326,2017-07-09 20:05:44,2.0,24,16
3022,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.656749,2017-07-10 09:46:29,2.0,24,19
3015,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.671775,2017-07-10 17:38:37,2.0,24,19
2946,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-1,-0.733399,2017-07-11 13:14:09,NaN,-1,22
2981,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_737fa6fb3e,-1,-0.686802,2017-07-12 14:44:02,2.0,24,16
2812,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,-1,-0.369742,2017-07-12 18:51:42,2.0,24,19
2900,Y,C_ID_a9af70f52d,117,N,1,B,705,M_ID_75646057c8,-1,-0.667943,2017-07-13 13:27:09,4.0,13,33
2937,Y,C_ID_a9af70f52d,117,N,1,B,414,M_ID_72b9d13ac1,-1,-0.691310,2017-07-16 13:29:31,4.0,13,29
2955,Y,C_ID_a9af70f52d,117,N,1,B,80,M_ID_cbf911cbb0,-1,-0.619182,2017-07-17 01:20:01,4.0,13,37
2855,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-1,-0.733399,2017-07-18 13:16:42,NaN,-1,22
2919,Y,C_ID_a9af70f52d,117,N,1,B,307,M_ID_f3aac5237b,-1,-0.671775,2017-07-19 15:28:14,4.0,13,19
2846,Y,C_ID_a9af70f52d,117,N,1,B,289,M_ID_416e35045d,-1,-0.535034,2017-07-19 17:51:41,4.0,13,27
2859,Y,C_ID_a9af70f52d,117,N,1,B,367,M_ID_122e00a223,-1,-0.724368,2017-07-19 20:23:15,4.0,13,16
2872,Y,C_ID_a9af70f52d,117,N,1,B,307,M_ID_0e272cdbf2,-1,-0.349577,2017-07-20 09:25:59,4.0,13,19
3014,Y,C_ID_a9af70f52d,157,N,1,B,80,M_ID_11cd39bc91,-1,-0.692061,2017-07-20 12:50:26,4.0,13,37
2976,Y,C_ID_a9af70f52d,157,N,3,C,690,M_ID_f4db5b8d54,-1,0.176967,2017-07-20 13:54:59,4.0,13,1
2962,Y,C_ID_a9af70f52d,157,N,2,C,34,M_ID_1b2a7d9f00,-1,-0.386572,2017-07-20 14:37:58,4.0,13,38
2899,Y,C_ID_a9af70f52d,157,N,1,B,813,M_ID_9171bf1fad,-1,-0.539542,2017-07-20 15:32:03,4.0,13,29
2860,Y,C_ID_a9af70f52d,157,N,1,B,412,M_ID_e4ca88e97b,-1,-0.650738,2017-07-20 16:21:42,4.0,13,18
2897,Y,C_ID_a9af70f52d,157,N,2,C,683,M_ID_9297db700d,-1,-0.311439,2017-07-20 17:27:04,4.0,13,34
2869,Y,C_ID_a9af70f52d,157,N,1,B,414,M_ID_5f34cc6504,-1,-0.680791,2017-07-20 17:53:32,4.0,13,29
2823,Y,C_ID_a9af70f52d,157,N,1,B,278,M_ID_a0101df4a8,-1,-0.672376,2017-07-20 20:22:14,4.0,13,37
2963,Y,C_ID_a9af70f52d,157,N,1,B,683,M_ID_e80d680153,-1,-0.724368,2017-07-20 20:25:58,4.0,13,34
3025,Y,C_ID_a9af70f52d,157,N,1,B,19,M_ID_ce818b9690,-1,-0.577860,2017-07-21 10:34:45,4.0,13,36
2942,Y,C_ID_a9af70f52d,157,N,1,B,80,M_ID_11cd39bc91,-1,-0.677035,2017-07-21 13:31:48,4.0,13,37
2925,Y,C_ID_a9af70f52d,157,N,2,C,367,M_ID_c90c72a6f8,-1,-0.236006,2017-07-21 15:48:29,4.0,13,16
3023,Y,C_ID_a9af70f52d,157,N,1,B,307,M_ID_7a48aa8dd5,-1,-0.570031,2017-07-21 16:24:31,4.0,13,19
2818,Y,C_ID_a9af70f52d,117,N,1,B,307,M_ID_806656dfc9,-1,-0.506469,2017-07-24 11:17:05,4.0,13,19
2966,Y,C_ID_a9af70f52d,117,N,1,B,705,M_ID_75646057c8,-1,-0.715187,2017-07-24 11:54:00,4.0,13,33
2995,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.648469,2017-07-25 08:51:40,2.0,24,33
3001,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_6986e72b70,-1,0.500293,2017-07-25 12:23:32,2.0,24,18
2951,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,-1,-0.733399,2017-07-25 14:52:53,NaN,-1,22
2851,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-1,-0.739395,2017-07-26 16:22:29,2.0,24,34
2952,Y,C_ID_a9af70f52d,96,N,1,B,80,M_ID_c40da6895a,-1,-0.574103,2017-07-26 22:25:20,2.0,24,37
2824,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.678552,2017-07-27 08:39:55,2.0,24,33
2822,Y,C_ID_a9af70f52d,96,N,1,B,419,M_ID_9388465c5a,-1,-0.732482,2017-07-27 08:45:53,2.0,24,1
2814,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.697380,2017-07-28 09:15:49,2.0,24,33
2916,Y,C_ID_a9af70f52d,96,N,1,B,373,M_ID_6986e72b70,-1,-0.153361,2017-07-28 14:23:31,2.0,24,18
2870,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eadbac8ee2,-1,-0.722865,2017-07-29 13:03:06,2.0,24,33
2820,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,-1,-0.718282,2017-07-30 11:10:46,2.0,24,33
2998,Y,C_ID_a9af70f52d,96,N,1,B,360,M_ID_69934e0055,-1,-0.686802,2017-07-30 11:18:20,2.0,24,34
2978,Y,C_ID_a9af70f52d,96,N,5,C,215,M_ID_deb5849bd5,-1,3.009720,2017-07-31 15:54:55,2.0,24,21
2884,Y,C_ID_a9af70f52d,96,N,1,B,330,M_ID_285f9855cc,-1,-0.446378,2017-07-31 20:39:49,2.0,24,25
2830,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-01 13:33:34,NaN,-1,22
2967,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596643,2017-08-01 16:28:07,2.0,24,19
2971,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_6827ef72e5,0,-0.731881,2017-08-07 18:01:02,2.0,24,19
3030,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-08 13:10:42,NaN,-1,22
2821,Y,C_ID_a9af70f52d,160,N,1,B,771,M_ID_3f48320bbd,0,-0.711130,2017-08-10 14:51:03,5.0,21,31
2918,N,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596628,2017-08-11 11:00:44,2.0,24,19
2932,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596628,2017-08-11 11:01:28,2.0,24,19
2879,Y,C_ID_a9af70f52d,96,N,1,B,45,M_ID_64f467ace1,0,-0.596643,2017-08-14 10:54:55,2.0,24,18
2986,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,0,-0.463778,2017-08-15 10:28:41,2.0,24,33
2885,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-15 13:14:54,NaN,-1,22
2935,Y,C_ID_a9af70f52d,96,N,1,B,412,M_ID_35af3e92bc,0,-0.566590,2017-08-16 10:33:28,2.0,24,18
2968,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eadbac8ee2,0,-0.722865,2017-08-16 11:15:05,2.0,24,33
2980,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596643,2017-08-16 15:03:48,2.0,24,19
2997,Y,C_ID_a9af70f52d,96,N,1,B,40,M_ID_768caea057,0,-0.697320,2017-08-17 17:27:51,2.0,24,21
2912,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,0,-0.733399,2017-08-18 17:23:44,2.0,24,33
3004,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,0,-0.734571,2017-08-21 17:22:52,2.0,24,33
2853,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.501991,2017-08-22 10:12:57,NaN,-1,22
2842,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,0,-0.722580,2017-08-22 11:18:28,2.0,24,33
2970,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-22 13:12:00,NaN,-1,22
2833,Y,C_ID_a9af70f52d,96,N,1,B,78,M_ID_d6d99ca407,0,-0.646230,2017-08-24 15:08:21,2.0,24,23
2888,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596643,2017-08-24 16:34:52,2.0,24,19
2974,Y,C_ID_a9af70f52d,96,N,1,B,78,M_ID_d6d99ca407,0,-0.731881,2017-08-24 17:11:52,2.0,24,23
3037,Y,C_ID_a9af70f52d,96,N,2,C,531,M_ID_b98e2420f1,0,-0.357721,2017-08-24 17:37:45,2.0,24,27
2954,Y,C_ID_a9af70f52d,96,N,1,B,412,M_ID_35af3e92bc,0,-0.296127,2017-08-25 10:39:16,2.0,24,18
2915,Y,C_ID_a9af70f52d,96,N,1,B,45,M_ID_73f5e108a8,0,-0.423838,2017-08-25 17:50:37,2.0,24,18
2875,Y,C_ID_a9af70f52d,96,N,1,B,68,M_ID_af35530984,0,-0.721378,2017-08-26 10:15:27,2.0,24,27
2939,Y,C_ID_a9af70f52d,96,N,1,B,419,M_ID_9388465c5a,0,-0.704849,2017-08-26 10:40:12,2.0,24,1
2871,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596643,2017-08-26 10:50:01,2.0,24,19
2865,Y,C_ID_a9af70f52d,96,N,1,B,222,M_ID_18813dd055,0,-0.733384,2017-08-26 11:28:26,2.0,24,21
2817,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,0,-0.674781,2017-08-26 13:17:35,2.0,24,16
2819,Y,C_ID_a9af70f52d,96,N,1,B,367,M_ID_c715681500,0,-0.704834,2017-08-28 16:09:24,2.0,24,16
2921,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eaaa28db61,0,-0.427880,2017-08-29 07:38:30,2.0,24,33
2926,Y,C_ID_a9af70f52d,-1,Y,1,B,574,M_ID_6f274b9340,0,-0.733399,2017-08-29 16:14:58,NaN,-1,22
3016,Y,C_ID_a9af70f52d,96,N,1,B,705,M_ID_eadbac8ee2,0,-0.722865,2017-08-30 07:16:37,2.0,24,33
3029,Y,C_ID_a9af70f52d,96,N,1,B,307,M_ID_02afa32a59,0,-0.596643,2017-08-31 11:08:25,2.0,24,19

In [56]:
new2017[new2017[key]=='C_ID_a9af70f52d'].sort_values(by='purchase_date')

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
1318765,Y,C_ID_a9af70f52d,96,N,1.0,B,307,M_ID_90ec2a0cc4,1,-0.693278,2017-09-02 13:15:32,2,24,19
1318767,Y,C_ID_a9af70f52d,96,N,1.0,B,813,M_ID_df0e39fea5,1,-0.446378,2017-09-04 10:28:19,2,24,29
1318766,Y,C_ID_a9af70f52d,96,N,1.0,B,68,M_ID_6178ef4cc2,1,-0.669085,2017-09-06 19:28:04,2,24,27
1318771,Y,C_ID_a9af70f52d,96,N,1.0,B,705,M_ID_67dd0ae188,1,-0.636223,2017-09-12 22:31:14,2,24,33
1318768,Y,C_ID_a9af70f52d,96,N,1.0,B,607,M_ID_b075fc7e19,1,-0.727749,2017-09-23 12:58:10,2,24,29
1318770,Y,C_ID_a9af70f52d,96,N,1.0,B,437,M_ID_a7ac860b05,2,-0.697320,2017-10-01 14:57:30,2,24,15
1318769,Y,C_ID_a9af70f52d,96,N,1.0,B,40,M_ID_ffc9c91792,2,-0.737892,2017-10-07 14:26:47,2,24,21

In [57]:
test = utils.read_df_pkl('../input/test0*')
test[test[key]=='C_ID_a9af70f52d']

100%|██████████| 3/3 [00:00<00:00, 80.90it/s]

      first_active_month          card_id  feature_1  feature_2  feature_3
60115            2016-12  C_ID_a9af70f52d          5          1          1

### new_min_yyyymmとfirst_active_monthのクロス集計

In [34]:
hist_max = hist.groupby(key)['purchase_date'].max()
new_min = new.groupby(key)['purchase_date'].min()
new_min.name = 'purchase_date_new_min'

hist_new_span = pd.concat([hist_max, new_min], axis=1)

from dateutil import parser
new_min = new_min.to_frame()
new_min['yyyymm'] = new_min['purchase_date_new_min'].map(lambda x:  str(x)[:7])

train = utils.read_df_pkl('../input/train0*')
test = utils.read_df_pkl('../input/test0*')
train_test = pd.concat([train, test], axis=0)

new_min_tt = new_min.join(train_test.set_index(key))

new_min_tt['value'] = 1
new_pivot = new_min_tt.pivot_table(index='yyyymm', columns='first_active_month', values='value', aggfunc='sum')
new_pivot.to_csv('../output/1227_elo_new_first_ym_first_active_pivot.csv')

### newのmin, maxとhistのmin, max purchasedateをtrain_testにつける

In [52]:
new_max_min = new.groupby(key)['purchase_date'].agg({'new_date_min':'min', 'new_date_max':'max'})
hist_max_min = hist.groupby(key)['purchase_date'].agg({'hist_date_min':'min', 'hist_date_max':'max'})

In [53]:
tt_date_max_min = train_test.set_index(key).join(new_max_min).join(hist_max_min)
tt_date_max_min.head(10)

,feature_1,feature_2,feature_3,first_active_month,target,new_date_min,new_date_max,hist_date_min,hist_date_max
card_id,,,,,,,,,
C_ID_92a2005557,5,2,1,2017-06,-0.820283,2018-03-05 14:04:36,2018-04-29 11:23:05,2017-06-27 14:18:08,2018-02-25 09:31:15
C_ID_3d0044924f,4,1,0,2017-01,0.392913,2018-02-01 17:07:54,2018-03-30 06:48:26,2017-01-06 16:29:42,2018-01-31 22:31:09
C_ID_d639edf6cd,2,2,0,2016-08,0.688056,2018-04-28 17:43:11,2018-04-28 17:43:11,2017-01-11 08:21:22,2018-02-27 19:08:25
C_ID_186d6a6901,4,3,0,2017-09,0.142495,2018-03-07 11:55:06,2018-04-18 11:00:11,2017-09-26 16:22:21,2018-02-28 11:44:40
C_ID_cdbd2c0db2,1,3,0,2017-11,-0.159749,2018-03-02 11:55:43,2018-04-28 18:50:25,2017-11-12 00:00:00,2018-02-28 20:40:41
C_ID_0894217f2f,4,2,0,2016-09,0.871585,2017-08-15 10:17:55,2017-09-15 21:06:17,2017-01-10 17:14:53,2017-07-29 15:37:18
C_ID_7e63323c00,3,2,1,2016-12,0.230129,2018-03-06 12:37:14,2018-04-06 17:52:25,2017-01-05 12:19:24,2018-02-23 16:09:32
C_ID_dfa21fc124,3,2,1,2017-09,2.135850,2018-02-06 07:03:41,2018-02-18 20:27:17,2017-09-28 21:24:46,2017-12-21 19:44:42
C_ID_fe0fdac8ea,2,1,0,2017-08,-0.065406,2018-03-17 14:22:31,2018-03-20 21:23:02,2017-08-18 16:21:38,2017-12-09 13:02:59
C_ID_bf62c0b49d,2,2,0,2016-08,0.300062,2018-04-01 09:22:06,2018-04-08 13:53:01,2017-01-09 15:59:16,2018-02-28 16:49:37

In [56]:
from tqdm import tqdm
date_cols = [col for col in tt_date_max_min.columns if col.count('date')]
for col in date_cols:
    tt_date_max_min[col] = tt_date_max_min[col].map(lambda x: pd.to_datetime(str(x)[:7]))

tt_date_max_min.head()

,feature_1,feature_2,feature_3,first_active_month,target,new_date_min,new_date_max,hist_date_min,hist_date_max
card_id,,,,,,,,,
C_ID_92a2005557,5,2,1,2017-06,-0.820283,2018-03-01,2018-04-01,2017-06-01,2018-02-01
C_ID_3d0044924f,4,1,0,2017-01,0.392913,2018-02-01,2018-03-01,2017-01-01,2018-01-01
C_ID_d639edf6cd,2,2,0,2016-08,0.688056,2018-04-01,2018-04-01,2017-01-01,2018-02-01
C_ID_186d6a6901,4,3,0,2017-09,0.142495,2018-03-01,2018-04-01,2017-09-01,2018-02-01
C_ID_cdbd2c0db2,1,3,0,2017-11,-0.159749,2018-03-01,2018-04-01,2017-11-01,2018-02-01

In [58]:
tt_date_max_min['term_days'] = (tt_date_max_min['new_date_max'] - tt_date_max_min['hist_date_min']).dt.days
tt_date_max_min['term_days_span_hist_new'] = (tt_date_max_min['new_date_min'] - tt_date_max_min['hist_date_max']).dt.days

for col in date_cols:
    tt_date_max_min[f"{col}_year"] = tt_date_max_min[col].map(lambda x: str(x)[:4])
tt_date_max_min.head()

,feature_1,feature_2,feature_3,first_active_month,target,new_date_min,new_date_max,hist_date_min,hist_date_max,term_days,term_days_span_hist_new,new_date_min_year,new_date_max_year,hist_date_min_year,hist_date_max_year
card_id,,,,,,,,,,,,,,,
C_ID_92a2005557,5,2,1,2017-06,-0.820283,2018-03-01,2018-04-01,2017-06-01,2018-02-01,304.0,28.0,2018,2018,2017,2018
C_ID_3d0044924f,4,1,0,2017-01,0.392913,2018-02-01,2018-03-01,2017-01-01,2018-01-01,424.0,31.0,2018,2018,2017,2018
C_ID_d639edf6cd,2,2,0,2016-08,0.688056,2018-04-01,2018-04-01,2017-01-01,2018-02-01,455.0,59.0,2018,2018,2017,2018
C_ID_186d6a6901,4,3,0,2017-09,0.142495,2018-03-01,2018-04-01,2017-09-01,2018-02-01,212.0,28.0,2018,2018,2017,2018
C_ID_cdbd2c0db2,1,3,0,2017-11,-0.159749,2018-03-01,2018-04-01,2017-11-01,2018-02-01,151.0,28.0,2018,2018,2017,2018

In [62]:
df = tt_date_max_min.copy()
year_cols = [col for col in df.columns if col.count('year')]
out = df[df[target]<-30]
for col in year_cols:
    display(out[col].value_counts())

2018    868
2017    765
NaT     574
Name: new_date_min_year, dtype: int64

2018    955
2017    678
NaT     574
Name: new_date_max_year, dtype: int64

2017    2207
Name: hist_date_min_year, dtype: int64

2017    1670
2018     537
Name: hist_date_max_year, dtype: int64

In [61]:
df['hist_date_min_year'].value_counts()

2017    325540
Name: hist_date_min_year, dtype: int64

In [75]:
out['span_year_new_hist'] = out['hist_date_min_year'].map(lambda x: int(x.replace('NaT', '2000'))) - out['new_date_max_year'].map(lambda x: int(x.replace('NaT', '2000')))
out['span_year_new_hist'].value_counts()

-1     955
 0     678
 17    574
Name: span_year_new_hist, dtype: int64

In [76]:
out[out['span_year_new_hist']==0]['hist_date_max_year'].value_counts()

2017    678
Name: hist_date_max_year, dtype: int64

In [71]:
out['new_date_max_year'].value_counts()

2018    955
2017    678
NaT     574
Name: new_date_max_year, dtype: int64

In [77]:
df['span_year_new_hist'] = df['hist_date_min_year'].map(lambda x: int(x.replace('NaT', '2000'))) - df['new_date_max_year'].map(lambda x: int(x.replace('NaT', '2000')))
df['span_year_new_hist'].value_counts()

-1     251415
 0      38586
 17     35539
Name: span_year_new_hist, dtype: int64

In [79]:
noout = df[df[target]>-30]
noout[noout['span_year_new_hist']==0]['hist_date_max_year'].value_counts()

2017    23418
Name: hist_date_max_year, dtype: int64

In [80]:
noout['new_date_max_year'].value_counts()

2018    154935
2017     23418
NaT      21357
Name: new_date_max_year, dtype: int64

In [85]:
df[~df[target].isnull()].to_csv('../output/1227_elo_eda_date_target.csv', index=False)