In [1]:
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
from __future__ import print_function, division
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)
import os
import sys
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import get_categorical_features, get_numeric_features
import datetime

from tqdm import tqdm
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import KFold
import warnings
import time
import sys
import datetime
from sklearn.metrics import mean_squared_error

os.listdir('../input/')
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_avtive_month']

### Data Load

In [14]:
# df_train = utils.read_df_pkl('../input/train0*')
# df_test = utils.read_df_pkl('../input/test0*')
# df_hist = utils.read_df_pkl('../input/hist*0*')
df_new = utils.read_df_pkl('../input/new*0*')

df_hist['purchase_amount'] -= df_hist['purchase_amount'].min() + 1.0e-4
df_new['purchase_amount'] -= df_new['purchase_amount'].min() + 1.0e-4
df_hist['installments'] =  df_hist['installments'].map(lambda x: np.nan if x<0 or x>100 else x+1)
df_hist['installments'] =  df_hist['installments'].map(lambda x: np.nan if x<0 or x>100 else x+1)

100%|██████████| 3/3 [00:00<00:00,  3.33it/s]

In [8]:
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

In [4]:
# for df in [df_hist,df_new]:
for df in [df_hist]:
#     df['purchase_date'] = pd.to_datetime(df['purchase_date'])
#     df['year'] = df['purchase_date'].dt.year
#     df['month'] = df['purchase_date'].dt.month
#     df['dayofweek'] = df['purchase_date'].dt.dayofweek
#     df['hour'] = df['purchase_date'].dt.hour
    df['authorized_flag'] = df['authorized_flag'].map({'Y':1, 'N':0})
#     df['category_1'] = df['category_1'].map({'Y':1, 'N':0}) 
#     #https://www.kaggle.com/c/elo-merchant-category-recommendation/discussion/73244
#     df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
#     df['month_diff'] += df['month_lag']

In [26]:
auth1_hist = df_hist[df_hist.authorized_flag==1]
auth0_hist = df_hist[df_hist.authorized_flag==0]

In [90]:
new_aggs = {}
new_aggs['purchase_date'] = ['max','min']

new_columns = get_new_columns('hist', new_aggs)
tmp = df_hist[['card_id', 'purchase_date']].groupby('card_id').agg(new_aggs)
tmp.columns = new_columns

tmp['hist_term'] = (tmp['hist_purchase_date_max'] - tmp['hist_purchase_date_min']).dt.days

SystemExit:

### 117 auth1_hist feature

In [27]:
df_train = utils.read_df_pkl('../input/train0*')
df_test = utils.read_df_pkl('../input/test0*')

df = auth1_hist
fname = 'auth1_hist'
aggs = {}

# aggs['month_lag'] = ['mean', 'var']
# aggs['month'] = ['nunique']
# aggs['dayofweek'] = ['nunique']
# aggs['purchase_amount'] = ['sum','max', 'min','mean']
aggs['installments'] = ['sum','max', 'min','mean', 'std']
# aggs['purchase_date'] = ['max','min']
# aggs['month_diff'] = ['mean']
# aggs['category_1'] = ['sum', 'mean']
# aggs['card_id'] = ['size']

# for col in ['category_2','category_3']:
#     df[col+'_mean'] = df.groupby([col])['purchase_amount'].transform('mean')
#     aggs[col+'_mean'] = ['mean']    

new_columns = get_new_columns(fname, aggs)
df_agg = df.groupby('card_id').agg(aggs)
df_agg.columns = new_columns
df_agg.reset_index(drop=False,inplace=True)

# df_agg['auth1_hist_term'] = (df_agg['auth1_hist_purchase_date_max'] - df_agg['auth1_hist_purchase_date_min']).dt.days
# df_agg = df_agg.merge(tmp, how='inner', on=key)
# df_agg[f'{fname}_term_ratio'] = df_agg['auth1_hist_term'] / df_agg['hist_term']

# df_agg['auth1_hist_term_freq'] = df_agg['auth1_hist_card_id_size']/df_agg['auth1_hist_term']
df_train = df_train.merge(df_agg,on='card_id',how='left')
df_test = df_test.merge(df_agg,on='card_id',how='left')
del df_agg
gc.collect()
df_train.head()

100%|██████████| 3/3 [00:00<00:00, 105.86it/s]
100%|██████████| 3/3 [00:00<00:00, 190.57it/s]

,first_active_month,card_id,feature_1,feature_2,feature_3,target,auth1_hist_installments_sum,auth1_hist_installments_max,auth1_hist_installments_min,auth1_hist_installments_mean,auth1_hist_installments_std
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,247.0,1.0,1.0,1.000000,0.000000
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,840.0,11.0,2.0,2.492582,1.341010
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,41.0,1.0,1.0,1.000000,0.000000
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,161.0,4.0,2.0,2.146667,0.484722
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,272.0,13.0,2.0,2.125000,1.003929

In [28]:
# feat_no = '117_ah1_'
feat_no = '152_ah1_'
ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if col in ignore_features: continue
#     if (col.count('feature_')):continue
#     if (col.count('auth0_')):continue
    if not(col.count('install')):continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}test_{col}@', obj=df_test[col].values)

### 118 auth0_hist feature

In [29]:
df_train = utils.read_df_pkl('../input/train0*')
df_test = utils.read_df_pkl('../input/test0*')

df = auth0_hist
fname = 'auth0_hist'
aggs = {}

# aggs['month_lag'] = ['mean', 'var']
# aggs['purchase_amount'] = ['sum','max', 'min', 'mean']
aggs['installments'] = ['sum','max', 'min','mean', 'std']
# aggs['purchase_date'] = ['max','min']
# aggs['month_diff'] = ['mean']
# aggs['category_1'] = ['sum', 'mean']
# aggs['card_id'] = ['size']

# for col in ['category_2','category_3']:
#     df[col+'_mean'] = df.groupby([col])['purchase_amount'].transform('mean')
#     aggs[col+'_mean'] = ['mean']    

new_columns = get_new_columns(fname, aggs)
df_agg = df.groupby('card_id').agg(aggs)
df_agg.columns = new_columns
df_agg.reset_index(drop=False,inplace=True)

# df_agg[f'{fname}_term'] = (df_agg[f'{fname}_purchase_date_max'] - df_agg[f'{fname}_purchase_date_min']).dt.days
# df_agg = df_agg.merge(tmp, how='inner', on=key)
# df_agg[f'{fname}_term_ratio'] = df_agg['auth0_hist_term'] / df_agg['hist_term']

# df_agg[f'{fname}_term_freq'] = df_agg[f'{fname}_card_id_size']/df_agg[f'{fname}_term']
df_train = df_train.merge(df_agg,on='card_id',how='left')
df_test = df_test.merge(df_agg,on='card_id',how='left')
del df_agg
gc.collect()
df_train.head()

100%|██████████| 3/3 [00:00<00:00, 109.59it/s]
100%|██████████| 3/3 [00:00<00:00, 189.40it/s]

,first_active_month,card_id,feature_1,feature_2,feature_3,target,auth0_hist_installments_sum,auth0_hist_installments_max,auth0_hist_installments_min,auth0_hist_installments_mean,auth0_hist_installments_std
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,17.0,2.0,1.0,1.307692,0.480384
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,53.0,11.0,2.0,4.818182,3.487641
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,2.0,1.0,1.0,1.000000,0.000000
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,NaN,NaN,NaN,NaN,NaN
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,43.0,13.0,2.0,8.600000,6.024948

In [30]:
feat_no = '152_ah0_'
ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if col in ignore_features: continue
#     if (col.count('feature_')):continue
#     if (col.count('purchase_date')):continue
#     if (col.count('auth1_hist_')):continue
    if not(col.count('install')):continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}test_{col}@', obj=df_test[col].values)

### 119 auth1 auth0 date max, min diff

In [64]:
feat_no = '119_ath_'
df_train['auth1_0_hist_purchase_date_max_diff'] = (df_train['auth1_hist_purchase_date_max'] -  df_train['auth0_hist_purchase_date_max']).map(lambda x: x.days)
df_train['auth1_0_hist_purchase_date_min_diff'] = (df_train['auth1_hist_purchase_date_min'] -  df_train['auth0_hist_purchase_date_min']).map(lambda x: x.days)
df_test['auth1_0_hist_purchase_date_max_diff'] = (df_test['auth1_hist_purchase_date_max'] -  df_test['auth0_hist_purchase_date_max']).map(lambda x: x.days)
df_test['auth1_0_hist_purchase_date_min_diff'] = (df_test['auth1_hist_purchase_date_min'] -  df_test['auth0_hist_purchase_date_min']).map(lambda x: x.days)

ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if col in ignore_features: continue
    if not(col.count('auth1_0_hist')):continue
#     if not(col.count('card_id_total')):continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}test_{col}@', obj=df_test[col].values)

In [31]:
new_aggs = {}
new_aggs['authorized_flag'] = ['sum', 'mean']

SystemExit:

### 120 初期3ヶ月のauthorized_meanと直近3ヶ月のauthorized_mean, そのdiff

In [5]:
df_hist['yyyymm'] = df_hist['purchase_date'].map(lambda x: str(x)[:7])
df_hist.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,year,month,dayofweek,hour,month_diff,yyyymm
0,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37,2017,6,6,15,10,2017-06
1,1,C_ID_4e6213e9bc,88,0,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16,2017,7,5,12,10,2017-07
2,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37,2017,8,2,22,10,2017-08
3,1,C_ID_4e6213e9bc,88,0,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34,2017,9,5,10,11,2017-09
4,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37,2017,3,4,1,11,2017-03

In [6]:
# 初期3ヶ月
df_auth = df_hist[[key, 'yyyymm', 'authorized_flag']]
df_auth.sort_values(by=[key, 'yyyymm'], inplace=True)
df_auth_row = utils.row_number(df=df_auth[[key, 'yyyymm']].drop_duplicates(), level=[key])
df_auth_row = df_auth_row.merge(df_hist[[key, 'yyyymm', 'authorized_flag']], how='inner', on=[key, 'yyyymm'])

df_first3 = df_auth_row[df_auth_row['row_no']<=3]

df_first3.head(10)

           card_id   yyyymm  row_no  authorized_flag
0  C_ID_00007093c1  2017-02       1                1
1  C_ID_00007093c1  2017-02       1                1
2  C_ID_00007093c1  2017-02       1                1
3  C_ID_00007093c1  2017-02       1                1
4  C_ID_00007093c1  2017-03       2                1
5  C_ID_00007093c1  2017-03       2                1
6  C_ID_00007093c1  2017-03       2                1
7  C_ID_00007093c1  2017-03       2                1
8  C_ID_00007093c1  2017-03       2                0
9  C_ID_00007093c1  2017-03       2                0

In [7]:
# 後期3ヶ月
# df_auth = df_hist[[key, 'yyyymm', 'authorized_flag']]
df_auth.sort_values(by=[key, 'yyyymm'], ascending=False, inplace=True)
df_auth_row = utils.row_number(df=df_auth[[key, 'yyyymm']].drop_duplicates(), level=[key])
df_auth_row = df_auth_row.merge(df_hist[[key, 'yyyymm', 'authorized_flag']], how='inner', on=[key, 'yyyymm'])

df_last3 = df_auth_row[df_auth_row['row_no']<=3]

df_last3.head(10)

           card_id   yyyymm  row_no  authorized_flag
0  C_ID_fffffd5772  2018-02       1                1
1  C_ID_fffffd5772  2018-02       1                1
2  C_ID_fffffd5772  2018-02       1                1
3  C_ID_fffffd5772  2018-02       1                1
4  C_ID_fffffd5772  2018-02       1                0
5  C_ID_fffffd5772  2018-02       1                0
6  C_ID_fffffd5772  2018-02       1                0
7  C_ID_fffffd5772  2018-02       1                1
8  C_ID_fffffd5772  2018-02       1                0
9  C_ID_fffffd5772  2018-02       1                1

In [12]:
# df_first3_auth = df_first3.groupby(key)['authorized_flag'].mean()
# df_first3_auth.name = 'first_3month_authorized_flag_mean'

# df_last3_auth = df_last3.groupby(key)['authorized_flag'].mean()
# df_last3_auth.name = 'last_3month_authorized_flag_mean'

df_train = df_train.merge(df_first3_auth.reset_index(), how='left', on=key)
df_train = df_train.merge(df_last3_auth.reset_index(), how='left', on=key)
df_test = df_test.merge(df_first3_auth.reset_index(), how='left', on=key)
df_test = df_test.merge(df_last3_auth.reset_index(), how='left', on=key)

df_train['diff_last_first_authorized_flag_mean'] = df_train['last_3month_authorized_flag_mean'] -  df_train['first_3month_authorized_flag_mean']
df_test['diff_last_first_authorized_flag_mean'] = df_test['last_3month_authorized_flag_mean'] -  df_test['first_3month_authorized_flag_mean']

df_train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,first_3month_authorized_flag_mean,last_3month_authorized_flag_mean,diff_last_first_authorized_flag_mean
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,0.947917,0.980198,0.032281
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,0.982143,0.982456,0.000313
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,0.941176,1.000000,0.058824
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,1.000000,1.000000,0.000000
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,0.979592,0.955357,-0.024235

In [14]:
feat_no = '120_ath_'

ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if col in ignore_features: continue
    if not(col.count('flag_mean')):continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}test_{col}@', obj=df_test[col].values)

### 152 new amount

In [45]:
df_train = utils.read_df_pkl('../input/train0*')
df_test = utils.read_df_pkl('../input/test0*')

df = df_new
fname = 'new'
aggs = {}

# aggs['month_lag'] = ['mean', 'var']
# aggs['month'] = ['nunique']
# aggs['dayofweek'] = ['nunique']
aggs['purchase_amount'] = ['sum','max', 'min','mean']
# aggs['installments'] = ['sum','max', 'min','mean', 'std']
# aggs['purchase_date'] = ['max','min']
# aggs['month_diff'] = ['mean']
# aggs['category_1'] = ['sum', 'mean']
# aggs['card_id'] = ['size']

# for col in ['category_2','category_3']:
#     df[col+'_mean'] = df.groupby([col])['purchase_amount'].transform('mean')
#     aggs[col+'_mean'] = ['mean']    

new_columns = get_new_columns(fname, aggs)
df_agg = df.groupby('card_id').agg(aggs)
df_agg.columns = new_columns
df_agg.reset_index(drop=False,inplace=True)

# df_agg['auth1_hist_term'] = (df_agg['auth1_hist_purchase_date_max'] - df_agg['auth1_hist_purchase_date_min']).dt.days
# df_agg = df_agg.merge(tmp, how='inner', on=key)
# df_agg[f'{fname}_term_ratio'] = df_agg['auth1_hist_term'] / df_agg['hist_term']

# df_agg['auth1_hist_term_freq'] = df_agg['auth1_hist_card_id_size']/df_agg['auth1_hist_term']
df_train = df_train.merge(df_agg,on='card_id',how='left')
df_test = df_test.merge(df_agg,on='card_id',how='left')
del df_agg
gc.collect()
df_train.head()

100%|██████████| 3/3 [00:00<00:00, 110.31it/s]
100%|██████████| 3/3 [00:00<00:00, 177.91it/s]

,first_active_month,card_id,feature_1,feature_2,feature_3,target,new_purchase_amount_sum,new_purchase_amount_max,new_purchase_amount_min,new_purchase_amount_mean
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,3.932031,0.450680,0.022425,0.170958
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,0.125022,0.044934,0.007383,0.020837
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,0.046467,0.046467,0.046467,0.046467
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,0.573178,0.180053,0.012658,0.081883
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,6.958303,1.197678,0.007398,0.193286

In [66]:
# ids = list(df_train.set_index(key)['new_purchase_amount_sum'].sort_values().index[:100])
ids = df_train[df_train[target]<-30].card_id.values
tmp = df_new[df_new.card_id.isin(ids)]
# tmp['purchase_amount'].map(lambda x: np.round(x, 2)).value_counts()
tmp

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
1108005,Y,C_ID_001982552a,158,N,2.0,C,367,M_ID_fb6254dc78,1,0.314164,2017-11-29 13:35:54,1,15,16
1108006,Y,C_ID_001982552a,291,N,1.0,B,511,M_ID_9139332ccc,2,0.111081,2017-12-01 14:51:11,1,9,7
1108010,Y,C_ID_001982552a,-1,Y,1.0,B,317,M_ID_eab68f7390,2,0.209054,2017-12-01 16:44:30,NA,-1,25
1108007,Y,C_ID_001982552a,158,N,1.0,B,80,M_ID_543e8bc0db,2,0.098895,2017-12-05 18:17:46,1,15,37
1108009,Y,C_ID_001982552a,158,N,1.0,B,68,M_ID_d671cb93ca,2,0.569390,2017-12-08 19:42:12,1,15,27
1108008,Y,C_ID_001982552a,158,N,1.0,B,278,M_ID_e592c81096,2,0.041208,2017-12-12 10:18:41,1,15,37
1108011,Y,C_ID_001982552a,158,N,1.0,B,497,M_ID_3e26ab9211,2,0.085536,2017-12-13 10:52:51,1,15,27
1108012,Y,C_ID_001982552a,69,N,1.0,B,80,M_ID_7da808021c,2,0.044814,2017-12-13 18:09:51,1,9,37
1108004,Y,C_ID_001982552a,158,N,1.0,B,206,M_ID_8ee5644176,2,0.134973,2017-12-19 13:51:25,1,15,1
1108003,Y,C_ID_001982552a,158,N,1.0,B,14,M_ID_04c8db141b,2,0.006346,2017-12-21 12:15:03,1,15,31
1957260,Y,C_ID_0029d52418,-1,Y,1.0,B,755,M_ID_445742726b,1,0.044965,2018-02-11 09:48:23,NA,-1,8
1513781,Y,C_ID_0046b2b355,90,N,0.0,A,705,M_ID_9dd129ab85,1,0.075018,2017-10-08 15:38:17,1,15,33
1687085,Y,C_ID_005799985c,242,N,0.0,A,307,M_ID_dd10f71ee5,1,0.075018,2018-03-25 12:54:00,1,9,19
1949335,Y,C_ID_006b9a7fed,69,N,0.0,A,307,M_ID_507560623a,1,0.029938,2018-03-04 15:06:57,1,9,19
1949336,Y,C_ID_006b9a7fed,69,N,0.0,A,363,M_ID_f29d5013b4,1,0.300415,2018-03-16 12:13:35,1,9,18
1870798,Y,C_ID_0089a52031,-1,Y,1.0,B,56,M_ID_57e97f6546,1,0.112434,2018-01-11 19:14:15,NA,-1,17
1870797,Y,C_ID_0089a52031,158,N,1.0,B,69,M_ID_c5b7760923,1,0.283886,2018-01-15 16:05:59,1,15,20
1870799,Y,C_ID_0089a52031,219,N,1.0,B,278,M_ID_6bacb4b0d7,1,0.196988,2018-01-24 11:20:57,1,15,37
1943577,Y,C_ID_00b754135e,223,N,0.0,A,454,M_ID_d417bc3b37,1,0.005896,2018-03-14 08:02:28,5,21,39
1869972,Y,C_ID_00c41e4187,17,N,0.0,A,307,M_ID_13c48c7f88,1,0.150150,2018-01-06 07:51:59,4,22,19
1927372,Y,C_ID_00e66e8ace,160,N,0.0,A,667,M_ID_a4e2c4a147,2,0.087790,2018-04-09 17:16:22,5,21,21
1565426,Y,C_ID_00edc3973c,88,N,1.0,B,356,M_ID_beda13aae0,1,0.835359,2018-01-18 16:59:57,1,16,21
1951336,Y,C_ID_00f61d7d2c,244,N,1.0,B,307,M_ID_9415343113,1,0.075018,2018-02-26 05:57:47,3,2,19
1079662,Y,C_ID_010e02d9e3,344,N,1.0,B,705,M_ID_8450b55d77,1,0.108617,2017-08-20 11:47:23,2,18,33
1079663,Y,C_ID_010e02d9e3,69,N,1.0,B,879,M_ID_00a6ca8a8a,2,0.108827,2017-09-03 13:27:16,1,9,29
1871231,Y,C_ID_011bea60b5,87,N,0.0,A,367,M_ID_a995d2dd34,1,0.011891,2018-03-15 20:36:18,3,11,16
1768536,Y,C_ID_014853e14d,69,N,0.0,A,561,M_ID_50f575c681,1,0.011906,2018-03-13 11:33:07,1,9,7
1769452,Y,C_ID_014fa8032b,-1,Y,6.0,C,544,M_ID_3111c6df35,1,0.544701,2017-12-05 22:36:44,NA,-1,29
1769449,Y,C_ID_014fa8032b,291,N,1.0,B,307,M_ID_1d28ceea06,1,0.090044,2017-12-23 21:04:45,1,9,19
1769446,Y,C_ID_014fa8032b,291,N,1.0,B,705,M_ID_dfca1d96f7,1,0.059991,2017-12-30 19:07:46,1,9,33
1769450,Y,C_ID_014fa8032b,291,N,1.0,B,307,M_ID_586b8d40be,2,0.029938,2018-01-21 11:26:32,1,9,19
1769451,Y,C_ID_014fa8032b,291,N,1.0,B,80,M_ID_4cd0ebdcdb,2,0.029938,2018-01-21 22:02:57,1,9,37
1769448,Y,C_ID_014fa8032b,291,N,1.0,B,278,M_ID_894b777cc9,2,0.066002,2018-01-24 20:19:27,1,9,37
1769447,Y,C_ID_014fa8032b,291,N,1.0,B,307,M_ID_36c52a7894,2,0.014310,2018-01-26 02:55:21,1,9,19
1858895,Y,C_ID_015d679022,234,N,1.0,B,367,M_ID_6d2f86ac7a,1,0.025415,2018-02-03 14:13:30,5,21,16
1858896,Y,C_ID_015d679022,69,N,1.0,B,795,M_ID_472bac8200,2,0.046467,2018-03-01 02:16:59,1,9,29
1858893,Y,C_ID_015d679022,19,N,1.0,B,369,M_ID_1af5985845,2,0.046467,2018-03-07 15:43:09,1,9,27
1858894,Y,C_ID_015d679022,234,N,1.0,B,705,M_ID_1ce9e38610,2,0.039405,2018-03-17 18:46:53,5,21,33
1653930,Y,C_ID_01941d3045,17,N,1.0,B,307,M_ID_109a493327,1,0.150150,2017-11-13 14:05:43,4,22,19
1653927,Y,C_ID_01941d3045,17,N,1.0,B,557,M_ID_ee00385828,1,0.059841,2017-11-14 00:00:00,4,22,29
1653925,Y,C_ID_01941d3045,17,N,1.0,B,560,M_ID_54dd7b3970,1,0.014581,2017-11-15 21:36:12,4,22,34
1653929,Y,C_ID_01941d3045,17,N,4.0,C,367,M_ID_384ffe1bef,1,0.366562,2017-11-16 14:18:04,4,22,16
1653931,Y,C_ID_01941d3045,-1,Y,1.0,B,661,M_ID_fc7d7969c3,1,0.029788,2017-11-18 17:36:15,NA,-1,8
1653926,Y,C_ID_01941d3045,69,N,1.0,B,561,M_ID_50f575c681,1,0.005144,2017-11-21 21:32:32,1,9,7
1653928,Y,C_ID_01941d3045,-1,Y,1.0,B,574,M_ID_6f274b9340,2,0.004393,2017-12-14 10:39:53,NA,-1,22
1653932,Y,C_ID_01941d3045,17,N,1.0,B,705,M_ID_e2603813e9,2,0.051095,2017-12-17 19:12:31,4,22,33
1628881,Y,C_ID_01ec64d5bf,-1,Y,1.0,B,818,M_ID_814d0c2571,2,0.253833,2018-04-08 11:48:25,NA,-1,12
1228777,Y,C_ID_0224069a99,166,N,0.0,A,506,M_ID_05b6779c94,1,0.330694,2017-10-04 21:01:16,4,4,30
1228787,Y,C_ID_0224069a99,107,N,0.0,A,307,M_ID_0774269bb9,1,0.192269,2017-10-13 20:16:22,4,4,19
1228772,Y,C_ID_0224069a99,107,N,0.0,A,209,M_ID_8a6215d4cb,1,0.210256,2017-10-14 12:28:37,4,4,7
1228775,Y,C_ID_0224069a99,107,N,0.0,A,367,M_ID_87071e244e,1,0.044965,2017-10-14 12:43:45,4,4,16
1228782,Y,C_ID_0224069a99,322,N,0.0,A,307,M_ID_dbdcc86837,1,0.081028,2017-10-15 14:28:34,4,4,19
1228784,Y,C_ID_0224069a99,136,N,0.0,A,80,M_ID_24c3caf427,1,0.059690,2017-10-15 17:10:09,4,4,37
1228781,Y,C_ID_0224069a99,136,N,0.0,A,511,M_ID_61765a1fa8,1,0.004393,2017-10-15 17:55:58,4,4,7
1228783,Y,C_ID_0224069a99,136,N,0.0,A,307,M_ID_f74f5f00c0,1,0.075018,2017-10-18 17:04:25,4,4,19
1228778,Y,C_ID_0224069a99,136,N,0.0,A,683,M_ID_ad8d63a814,1,0.011155,2017-10-18 18:27:06,4,4,34
1228780,Y,C_ID_0224069a99,166,N,0.0,A,531,M_ID_f0460d0d5d,1,0.058488,2017-10-21 14:35:01,4,4,27
1228786,Y,C_ID_0224069a99,166,N,0.0,A,705,M_ID_78f7ed3b8a,2,0.005896,2017-11-03 13:54:58,4,4,33
1228779,Y,C_ID_0224069a99,69,N,0.0,A,561,M_ID_50f575c681,2,0.008901,2017-11-03 15:13:49,1,9,7
1228776,Y,C_ID_0224069a99,166,N,0.0,A,19,M_ID_7667737b88,2,0.055273,2017-11-04 14:05:25,4,4,36
1228773,Y,C_ID_0224069a99,166,N,0.0,A,528,M_ID_bfd6f83c21,2,0.016414,2017-11-15 20:11:39,4,4,25
1228785,Y,C_ID_0224069a99,166,N,0.0,A,40,M_ID_1a429e4621,2,0.085536,2017-11-21 12:24:12,4,4,21
1228774,Y,C_ID_0224069a99,170,N,0.0,A,80,M_ID_59ed262f95,2,0.023927,2017-11-22 17:11:16,4,4,37
1458325,Y,C_ID_0226b83989,-1,Y,1.0,B,574,M_ID_6f274b9340,1,0.005896,2018-02-11 11:26:10,NA,-1,22
1458328,Y,C_ID_0226b83989,-1,Y,1.0,B,661,M_ID_fc7d7969c3,1,0.001388,2018-02-11 12:01:37,NA,-1,8
1458330,Y,C_ID_0226b83989,190,N,1.0,B,557,M_ID_c5497e0e9e,1,0.097557,2018-02-17 10:31:41,3,7,29
1458329,Y,C_ID_0226b83989,190,N,1.0,B,367,M_ID_5dd35b6899,1,0.011140,2018-02-19 11:05:32,3,7,16
1458326,Y,C_ID_0226b83989,190,N,1.0,B,705,M_ID_13d6985b38,1,0.013394,2018-02-19 19:45:17,3,7,33
1458327,Y,C_ID_0226b83989,190,N,1.0,B,705,M_ID_124ce736b5,2,0.013379,2018-03-07 21:29:50,3,7,33
1458331,Y,C_ID_0226b83989,69,N,1.0,B,879,M_ID_b9dcf28cb9,2,0.000636,2018-03-11 21:30:32,1,9,29
1939700,Y,C_ID_0228e168bd,158,N,1.0,B,690,M_ID_462252c479,1,0.120067,2017-10-11 18:20:07,1,15,1
1939701,Y,C_ID_0228e168bd,158,N,1.0,B,884,M_ID_73a3bd9abd,1,0.195124,2017-10-19 19:04:22,1,15,27
1949552,Y,C_ID_024f590483,69,N,0.0,A,879,M_ID_00a6ca8a8a,1,0.671450,2018-03-26 11:45:58,1,9,29
1774342,Y,C_ID_0259f3640c,34,N,0.0,A,222,M_ID_77ca5005b8,1,0.275832,2017-12-04 08:25:57,1,12,21
1774341,Y,C_ID_0259f3640c,20,N,0.0,A,527,M_ID_adc9167176,1,0.059991,2017-12-23 10:27:52,3,19,36
59306,Y,C_ID_028a7f77db,19,N,1.0,B,419,M_ID_7b97fc501d,1,0.059991,2017-07-23 13:35:06,1,9,1
59316,Y,C_ID_028a7f77db,69,N,1.0,B,879,M_ID_00a6ca8a8a,1,0.044965,2017-07-23 13:45:30,1,9,29
59317,Y,C_ID_028a7f77db,19,N,1.0,B,87,M_ID_ad49138777,1,0.075018,2017-07-23 13:56:28,1,9,27
59309,Y,C_ID_028a7f77db,107,N,1.0,B,80,M_ID_2f10d5e172,1,0.010404,2017-07-23 16:01:29,1,9,37
59314,Y,C_ID_028a7f77db,21,N,3.0,C,68,M_ID_db61ae00d1,1,0.233998,2017-07-25 17:50:53,1,9,27
59312,Y,C_ID_028a7f77db,21,N,1.0,B,683,M_ID_67892f1d51,1,0.104740,2017-07-26 08:14:19,1,9,34
59313,Y,C_ID_028a7f77db,19,N,1.0,B,307,M_ID_15371e02cc,1,0.029938,2017-07-31 08:16:40,1,9,19
59311,Y,C_ID_028a7f77db,311,N,1.0,B,367,M_ID_ad3949dc51,1,0.011861,2017-07-31 08:47:44,1,9,16
59305,Y,C_ID_028a7f77db,21,N,1.0,B,80,M_ID_508d7d0ac9,2,0.059991,2017-08-01 06:44:28,1,9,37
59307,Y,C_ID_028a7f77db,21,N,1.0,B,670,M_ID_a019aa4484,2,0.111081,2017-08-02 08:36:50,1,9,32
59310,Y,C_ID_028a7f77db,21,N,1.0,B,692,M_ID_cb4cbf8512,2,0.097557,2017-08-02 09:08:45,1,9,21
59319,Y,C_ID_028a7f77db,21,N,1.0,B,222,M_ID_1d4917f77c,2,0.055483,2017-08-05 08:17:26,1,9,21
59308,Y,C_ID_028a7f77db,311,N,1.0,B,206,M_ID_e2c3ac5276,2,0.067129,2017-08-17 13:46:57,1,9,1
59315,Y,C_ID_028a7f77db,21,N,1.0,B,40,M_ID_3b93e05262,2,0.038954,2017-08-23 08:39:46,1,9,21
59318,Y,C_ID_028a7f77db,21,N,1.0,B,705,M_ID_034cb5d8f5,2,0.024288,2017-08-23 09:06:20,1,9,33
1298990,Y,C_ID_029a05e9b7,69,N,3.0,C,834,M_ID_29ec8d2ab8,2,0.195079,2018-03-08 18:46:45,1,9,27
1298987,Y,C_ID_029a05e9b7,-1,Y,1.0,B,755,NA,2,0.017616,2018-03-19 16:13:55,NA,-1,8
1298989,Y,C_ID_029a05e9b7,69,N,3.0,C,665,M_ID_076cd8a829,2,0.495429,2018-03-20 21:21:46,1,9,3
1298986,Y,C_ID_029a05e9b7,251,N,1.0,B,111,M_ID_92dd72b674,2,0.065626,2018-03-21 18:55:39,3,8,36
1298991,Y,C_ID_029a05e9b7,-1,Y,1.0,B,755,M_ID_445742726b,2,0.022425,2018-03-21 19:52:29,NA,-1,8
1298988,Y,C_ID_029a05e9b7,-1,Y,3.0,C,302,M_ID_b9f9332438,2,0.165672,2018-03-21 20:40:41,NA,-1,22
628627,Y,C_ID_029c0bba61,-1,Y,1.0,B,661,M_ID_fc7d7969c3,1,0.001388,2017-07-02 20:44:20,NA,-1,8
628628,Y,C_ID_029c0bba61,-1,Y,1.0,B,755,M_ID_86be58d7e0,1,0.059841,2017-07-10 10:46:43,NA,-1,8
628630,Y,C_ID_029c0bba61,289,N,3.0,C,2,M_ID_886524c0df,1,0.135124,2017-07-28 15:44:27,5,5,20
628629,Y,C_ID_029c0bba61,289,N,1.0,B,290,M_ID_e15419c488,2,0.059991,2017-08-03 19:39:30,5,5,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557883,Y,C_ID_fdc5fef0c1,339,N,0.0,A,166,M_ID_2a01d2f2a2,1,0.037451,2017-12-05 13:33:40,1,9,29
1557877,Y,C_ID_fdc5fef0c1,184,N,0.0,A,690,M_ID_13596e731f,1,0.154508,2017-12-09 14:30:48,1,9,1
1557882,Y,C_ID_fdc5fef0c1,184,N,0.0,A,506,M_ID_96f235a124,1,0.043597,2017-12-11 17:36:45,1,9,30
1557880,Y,C_ID_fdc5fef0c1,184,N,0.0,A,437,M_ID_928684763f,1,0.056234,2017-12-18 15:48:31,1,9,15
1557876,Y,C_ID_fdc5fef0c1,184,N,0.0,A,422,M_ID_b58489cb26,1,0.044949,2017-12-24 16:27:33,1,9,27
1557879,Y,C_ID_fdc5fef0c1,184,N,0.0,A,278,M_ID_9d486b254e,1,0.016414,2017-12-27 18:14:05,1,9,37
1557885,Y,C_ID_fdc5fef0c1,69,N,0.0,A,879,M_ID_00a6ca8a8a,1,0.032943,2017-12-28 18:23:53,1,9,29
1557878,Y,C_ID_fdc5fef0c1,231,N,0.0,A,307,M_ID_f4da7a8530,1,0.075048,2017-12-29 08:08:45,1,9,19
1557886,Y,C_ID_fdc5fef0c1,184,N,0.0,A,437,M_ID_60dea86128,2,0.194719,2018-01-02 17:38:00,1,9,15
1557884,Y,C_ID_fdc5fef0c1,184,N,0.0,A,705,M_ID_9e7b5ba645,2,0.011005,2018-01-18 12:02:55,1,9,33
1896336,Y,C_ID_fde5b786e2,87,N,1.0,B,80,M_ID_911abd427a,1,0.020186,2017-12-09 23:40:22,3,11,37
1896337,Y,C_ID_fde5b786e2,87,N,1.0,B,278,M_ID_c8f44ec011,1,0.044965,2017-12-10 14:39:24,3,11,37
1452384,Y,C_ID_fde877bea5,-1,Y,2.0,C,879,M_ID_9139332ccc,2,0.591178,2017-11-09 16:13:13,NA,-1,29
1452383,Y,C_ID_fde877bea5,-1,Y,3.0,C,210,M_ID_9eb368d898,2,0.342700,2017-11-23 20:15:19,NA,-1,35
1912498,Y,C_ID_fe071c7f26,-1,Y,10.0,C,690,M_ID_c9855bf3e3,1,0.576888,2017-11-10 01:48:39,NA,-1,1
1962100,Y,C_ID_fe17fb7b70,333,N,1.0,B,690,M_ID_17674a5170,1,0.180053,2018-01-27 08:15:03,5,21,1
1952003,Y,C_ID_fe3406f644,69,N,0.0,A,497,M_ID_7353822905,1,0.082531,2017-08-11 15:12:56,1,9,27
1952004,Y,C_ID_fe3406f644,69,N,0.0,A,63,M_ID_d650475394,1,0.024979,2017-08-11 15:43:00,1,9,27
1777244,Y,C_ID_fe68bfcbe5,69,N,2.0,C,769,M_ID_93ddea932d,1,0.149850,2018-01-04 13:31:53,1,9,32
1777247,Y,C_ID_fe68bfcbe5,69,N,1.0,B,195,NA,1,0.073515,2018-01-07 13:04:52,1,9,34
1777245,Y,C_ID_fe68bfcbe5,160,N,1.0,B,454,M_ID_35898972ed,1,0.013409,2018-01-07 15:19:02,5,21,39
1777246,Y,C_ID_fe68bfcbe5,69,N,1.0,B,529,M_ID_bda5edd84f,1,5.693430,2018-01-10 13:36:37,1,9,20
1777243,Y,C_ID_fe68bfcbe5,69,N,1.0,B,574,M_ID_eef8550010,1,0.082531,2018-01-14 17:01:30,1,9,22
1645501,Y,C_ID_fe7fd930d7,19,N,1.0,B,705,M_ID_1c4b690913,1,0.141149,2017-12-15 14:18:59,1,9,33
1645503,Y,C_ID_fe7fd930d7,19,N,1.0,B,178,M_ID_175cc95691,1,0.059991,2017-12-15 14:39:33,1,9,29
1645499,Y,C_ID_fe7fd930d7,19,N,1.0,B,705,M_ID_34ac4db1d5,1,0.059375,2017-12-15 20:48:49,1,9,33
1645500,Y,C_ID_fe7fd930d7,69,N,1.0,B,560,M_ID_940fb4498f,1,0.020922,2017-12-16 14:22:54,1,9,34
1645496,Y,C_ID_fe7fd930d7,69,N,1.0,B,108,M_ID_d4b76d0051,1,0.012627,2017-12-23 15:52:03,1,9,34
1645495,Y,C_ID_fe7fd930d7,69,N,1.0,B,642,M_ID_725a60d404,2,0.029938,2018-01-16 16:16:41,1,9,33
1645498,Y,C_ID_fe7fd930d7,69,N,1.0,B,690,M_ID_981fe24744,2,0.059841,2018-01-17 10:27:25,1,9,1
1645502,Y,C_ID_fe7fd930d7,69,N,1.0,B,87,M_ID_879f625c89,2,0.029938,2018-01-17 15:44:35,1,9,27
1645497,Y,C_ID_fe7fd930d7,69,N,1.0,B,506,M_ID_e53a7945db,2,0.032793,2018-01-18 06:28:19,1,9,30
1895288,Y,C_ID_fe9f9be69f,69,N,0.0,A,879,M_ID_00a6ca8a8a,1,0.008525,2018-02-20 19:35:13,1,9,29
1960175,Y,C_ID_fec1e5373a,88,N,0.0,A,690,M_ID_8eb12b4be1,2,0.176762,2018-04-26 19:41:43,1,16,1
1698206,Y,C_ID_fedc1a62d4,-1,Y,3.0,C,557,M_ID_af8c19df50,1,0.439951,2018-01-27 23:39:21,NA,-1,29
1698207,Y,C_ID_fedc1a62d4,149,N,2.0,C,793,M_ID_7013d59cef,2,0.297410,2018-02-03 09:41:40,5,20,38
1698209,Y,C_ID_fedc1a62d4,143,N,5.0,C,506,M_ID_a9d91682ad,2,0.814502,2018-02-03 09:58:28,5,5,30
1698208,Y,C_ID_fedc1a62d4,-1,Y,3.0,C,834,M_ID_29ec8d2ab8,2,0.375247,2018-02-13 17:44:38,NA,-1,27
578064,Y,C_ID_fef63e8e00,-1,Y,1.0,B,367,M_ID_0743d327bf,1,0.053995,2018-02-17 15:14:18,NA,-1,16
578058,Y,C_ID_fef63e8e00,175,N,1.0,B,111,M_ID_21f1585175,2,0.001388,2018-03-07 21:58:27,1,16,36
578066,Y,C_ID_fef63e8e00,69,N,1.0,B,302,M_ID_3700a4ec5f,2,0.208753,2018-03-08 21:38:37,1,9,22
578063,Y,C_ID_fef63e8e00,251,N,1.0,B,111,M_ID_92dd72b674,2,0.087640,2018-03-16 08:14:12,3,8,36
578070,Y,C_ID_fef63e8e00,300,N,1.0,B,813,M_ID_57ef2a00f5,2,0.029938,2018-03-21 08:17:42,1,15,29
578062,Y,C_ID_fef63e8e00,-1,Y,1.0,B,840,M_ID_a94ad9d7bd,2,0.150150,2018-03-22 11:26:03,NA,-1,20
578057,Y,C_ID_fef63e8e00,-1,Y,3.0,C,489,M_ID_244299ea12,2,0.419876,2018-03-22 11:52:51,NA,-1,16
578056,Y,C_ID_fef63e8e00,1,N,1.0,B,561,M_ID_df9dddba33,2,0.029938,2018-03-25 05:33:31,1,12,7
578055,Y,C_ID_fef63e8e00,189,N,5.0,C,302,M_ID_e8205e37ae,2,0.760903,2018-03-25 23:15:43,1,9,22
578065,Y,C_ID_fef63e8e00,334,N,1.0,B,630,M_ID_29f6d8a8a7,2,0.030389,2018-03-27 22:36:14,5,20,36
578071,Y,C_ID_fef63e8e00,69,N,1.0,B,511,M_ID_45a5148b59,2,0.001388,2018-03-29 10:31:41,1,9,7
578061,Y,C_ID_fef63e8e00,69,N,1.0,B,879,M_ID_b9dcf28cb9,2,0.000636,2018-03-29 10:35:03,1,9,29
578072,Y,C_ID_fef63e8e00,69,N,1.0,B,755,M_ID_8fadd601d2,2,0.150150,2018-03-30 10:24:27,1,9,8
578060,Y,C_ID_fef63e8e00,69,N,3.0,C,661,M_ID_9e84cda3b1,2,0.596888,2018-03-31 12:31:07,1,9,8
578069,Y,C_ID_fef63e8e00,-1,Y,1.0,B,755,NA,2,0.076520,2018-03-31 16:55:37,NA,-1,8
578068,Y,C_ID_fef63e8e00,69,N,3.0,C,819,M_ID_7b813ead83,2,0.517623,2018-03-31 18:13:28,1,9,25
578067,Y,C_ID_fef63e8e00,-1,Y,1.0,B,544,M_ID_57df19bf28,2,0.029938,2018-03-31 18:13:36,NA,-1,29
578059,Y,C_ID_fef63e8e00,-1,Y,1.0,B,631,M_ID_1d45d6c957,2,0.330468,2018-03-31 18:14:13,NA,-1,25
1942452,Y,C_ID_ff3435c003,96,N,1.0,B,557,M_ID_f5ff34d4f1,1,0.119496,2018-01-25 12:34:45,1,9,29
925993,Y,C_ID_ffa027c967,7,N,0.0,A,419,M_ID_88637b5a28,1,0.015663,2017-09-01 12:49:24,1,9,1
925994,Y,C_ID_ffa027c967,233,N,0.0,A,813,M_ID_c817bd324a,1,0.186665,2017-09-08 12:28:23,1,9,29
926000,Y,C_ID_ffa027c967,233,N,0.0,A,506,M_ID_c4419b286b,1,0.030269,2017-09-08 19:31:31,1,9,30
925997,Y,C_ID_ffa027c967,7,N,0.0,A,367,M_ID_9766cc8773,1,0.045716,2017-09-14 14:58:47,1,9,16
925995,Y,C_ID_ffa027c967,7,N,0.0,A,419,M_ID_5fc1cdc666,1,0.028435,2017-09-20 17:42:04,1,9,1
925992,Y,C_ID_ffa027c967,7,N,0.0,A,454,M_ID_ea2bde2d18,2,0.005896,2017-10-13 16:51:53,1,9,39
925996,Y,C_ID_ffa027c967,233,N,0.0,A,544,M_ID_8f1368d245,2,0.011906,2017-10-20 13:30:44,1,9,29
925999,Y,C_ID_ffa027c967,233,N,0.0,A,705,M_ID_764c1dffb2,2,0.013995,2017-10-23 17:24:21,1,9,33
925998,Y,C_ID_ffa027c967,160,N,0.0,A,454,M_ID_698fd3ce32,2,0.011906,2017-10-23 17:27:50,5,21,39
551797,Y,C_ID_ffbabb3754,294,N,0.0,A,818,M_ID_0efbdfcac2,1,0.030689,2017-11-01 22:34:43,1,9,12
551789,Y,C_ID_ffbabb3754,19,N,0.0,A,278,M_ID_3a7ac3ab42,1,0.008901,2017-11-05 01:22:19,1,9,37
551806,Y,C_ID_ffbabb3754,19,N,1.0,B,307,M_ID_f28ffaf6a9,1,0.159467,2017-11-13 00:00:00,1,9,19
551791,Y,C_ID_ffbabb3754,-1,Y,1.0,B,574,M_ID_6f274b9340,1,0.004393,2017-11-13 22:49:49,NA,-1,22
551796,Y,C_ID_ffbabb3754,318,N,1.0,B,560,M_ID_c892a6cd21,1,0.036670,2017-11-15 00:00:00,1,9,34
551801,Y,C_ID_ffbabb3754,318,N,1.0,B,560,M_ID_c892a6cd21,1,0.013409,2017-11-15 00:00:00,1,9,34
551795,Y,C_ID_ffbabb3754,294,N,1.0,B,842,M_ID_62d3d2bdb0,1,0.050975,2017-11-17 22:29:29,1,9,37
551802,Y,C_ID_ffbabb3754,19,N,1.0,B,45,M_ID_af33613e7d,2,0.112584,2017-12-02 12:05:18,1,9,18
551786,Y,C_ID_ffbabb3754,19,N,1.0,B,45,M_ID_b7459adc65,2,0.150150,2017-12-02 12:22:06,1,9,18
551788,Y,C_ID_ffbabb3754,19,N,1.0,B,307,M_ID_478672001c,2,0.044965,2017-12-02 16:41:44,1,9,19
551800,Y,C_ID_ffbabb3754,19,N,1.0,B,307,M_ID_f16163d203,2,0.032192,2017-12-03 16:20:49,1,9,19
551787,Y,C_ID_ffbabb3754,19,N,1.0,B,560,M_ID_d8e0d42e4b,2,0.025430,2017-12-05 12:57:52,1,9,34
551794,Y,C_ID_ffbabb3754,19,N,1.0,B,705,NA,2,0.029938,2017-12-13 17:19:06,1,9,33
551805,Y,C_ID_ffbabb3754,19,N,0.0,A,45,M_ID_e3048139f3,2,0.122952,2017-12-14 10:19:41,1,9,18
551792,Y,C_ID_ffbabb3754,19,N,0.0,A,703,M_ID_7b97fc501d,2,0.157663,2017-12-14 19:59:29,1,9,29
551790,Y,C_ID_ffbabb3754,19,N,0.0,A,68,M_ID_ad49138777,2,0.307928,2017-12-14 21:20:24,1,9,27
551784,Y,C_ID_ffbabb3754,19,N,0.0,A,68,M_ID_a0ec47b2e8,2,0.062996,2017-12-14 21:23:08,1,9,27
551785,Y,C_ID_ffbabb3754,19,N,0.0,A,544,M_ID_d5eff1be8a,2,0.044965,2017-12-16 11:35:09,1,9,29
551804,Y,C_ID_ffbabb3754,19,N,0.0,A,411,M_ID_df63409c30,2,0.073515,2017-12-16 11:53:03,1,9,21
551793,Y,C_ID_ffbabb3754,19,N,0.0,A,222,M_ID_fefa3d2ea1,2,0.097557,2017-12-16 12:02:36,1,9,21
551803,Y,C_ID_ffbabb3754,19,N,0.0,A,422,M_ID_89e9e5c469,2,0.344743,2017-12-16 13:58:27,1,9,27
551798,Y,C_ID_ffbabb3754,344,N,0.0,A,705,M_ID_a48bb70e17,2,0.054927,2017-12-22 15:16:29,2,18,33
551799,Y,C_ID_ffbabb3754,344,N,0.0,A,307,M_ID_fa05a1a3c1,2,0.044965,2017-12-26 11:27:26,2,18,19
1310980,Y,C_ID_fff172a7fa,238,N,1.0,B,560,M_ID_d7c5b92c5a,1,0.149399,2017-10-01 23:38:58,1,9,34
1310984,Y,C_ID_fff172a7fa,238,N,1.0,B,278,M_ID_cf1ac7c86b,1,0.220324,2017-10-15 01:26:07,1,9,37
1310989,Y,C_ID_fff172a7fa,238,N,1.0,B,519,M_ID_9614b7eb6c,1,0.075018,2017-10-23 19:11:51,1,9,7
1310981,Y,C_ID_fff172a7fa,238,N,1.0,B,307,M_ID_77f169565a,1,0.044965,2017-10-25 07:41:25,1,9,19
1310987,Y,C_ID_fff172a7fa,238,N,1.0,B,387,M_ID_e6afc7020f,2,0.136175,2017-11-05 17:38:09,1,9,36
1310982,Y,C_ID_fff172a7fa,238,N,3.0,C,884,M_ID_8a236076ac,2,0.620480,2017-11-05 18:31:36,1,9,27
1310983,Y,C_ID_fff172a7fa,-1,Y,6.0,C,529,M_ID_762686e851,2,3.587224,2017-11-14 18:52:57,NA,-1,20
1310985,Y,C_ID_fff172a7fa,238,N,1.0,B,273,NA,2,0.059991,2017-11-19 00:00:00,1,9,20
1310986,Y,C_ID_fff172a7fa,238,N,1.0,B,273,NA,2,0.105071,2017-11-19 00:00:00,1,9,20
1310988,Y,C_ID_fff172a7fa,238,N,2.0,C,690,M_ID_f4e61ccdd2,2,0.125972,2017-11-19 16:13:16,1,9,1
1310990,Y,C_ID_fff172a7fa,238,N,1.0,B,705,M_ID_b6ba338f2f,2,0.032898,2017-11-19 17:06:56,1,9,33

In [34]:
feat_no = '152_new_'
ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if col in ignore_features: continue
#     if (col.count('feature_')):continue
#     if (col.count('purchase_date')):continue
#     if (col.count('auth1_hist_')):continue
    if not(col.count('install')):continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{feat_no}test_{col}@', obj=df_test[col].values)