In [1]:
import sys
import pandas as pd
import numpy as np
import datetime
import glob
import gc
import os

#========================================================================
# Args
#========================================================================
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month']

win_path = f'../features/4_winner/*.gz'
fname=''
# submit = pd.read_csv('../input/sample_submission.csv')
submit = []

HOME = os.path.expanduser('~')

sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
import utils
from preprocessing import get_ordinal_mapping
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

2018-12-31 08:20:10,768 utils 366 [INFO]    [logger_func] start

In [2]:
aft = pd.read_csv('../valid/1230_115_lgb__feat152_CV3.654551433862739_lr0.01.csv')
bef = pd.read_csv('../valid/1230_102_lgb__feat151_CV3.653822391857942_lr0.01.csv')

aft.head()

,feature,0_importance,1_importance,2_importance,3_importance,4_importance,avg_importance,rank
0,111_ker_new_hist_purchase_amount_max@,1521,1174,1925,1770,1526,1583.2,1
1,117_ah1_auth1_hist_month_diff_mean@,1461,933,2296,1550,1499,1547.8,2
2,118_ah0_auth0_hist_month_diff_mean@,1434,812,2236,1613,1403,1499.6,3
3,111_ker_new_hist_purchase_date_uptonow@,1183,714,1656,1280,1059,1178.4,4
4,120_ath_diff_last_first_authorized_flag_mean@,980,675,1628,1106,967,1071.2,5

In [3]:
df = aft.merge(bef, how='left', on='feature')
df.head()

,feature,0_importance_x,1_importance_x,2_importance_x,3_importance_x,4_importance_x,avg_importance_x,rank_x,0_importance_y,1_importance_y,2_importance_y,3_importance_y,4_importance_y,avg_importance_y,rank_y
0,111_ker_new_hist_purchase_amount_max@,1521,1174,1925,1770,1526,1583.2,1,2095.0,1106.0,2118.0,1659.0,1514.0,1698.4,3.0
1,117_ah1_auth1_hist_month_diff_mean@,1461,933,2296,1550,1499,1547.8,2,2449.0,801.0,2699.0,1344.0,1362.0,1731.0,1.0
2,118_ah0_auth0_hist_month_diff_mean@,1434,812,2236,1613,1403,1499.6,3,2430.0,689.0,2681.0,1421.0,1323.0,1708.8,2.0
3,111_ker_new_hist_purchase_date_uptonow@,1183,714,1656,1280,1059,1178.4,4,1940.0,605.0,1929.0,1128.0,975.0,1315.4,4.0
4,120_ath_diff_last_first_authorized_flag_mean@,980,675,1628,1106,967,1071.2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['diff_importance'] = df['avg_importance_x'] - df['avg_importance_y']
df['diff_rank'] = df['rank_x'] - df['rank_y']

In [11]:
df[['feature', 'rank_x', 'rank_y', 'diff_rank', 'diff_importance']].sort_values(by='diff_importance')

,feature,rank_x,rank_y,diff_rank,diff_importance
2,118_ah0_auth0_hist_month_diff_mean@,3,2.0,1.0,-209.2
1,117_ah1_auth1_hist_month_diff_mean@,2,1.0,1.0,-183.2
9,119_ath_auth1_0_hist_purchase_date_min_diff@,10,7.0,3.0,-178.2
8,119_ath_auth1_0_hist_purchase_date_max_diff@,9,6.0,3.0,-175.6
10,111_ker_hist_purchase_date_min@,11,9.0,2.0,-160.8
19,111_ker_hist_month_lag_var@,20,17.0,3.0,-145.2
18,111_ker_hist_authorized_flag_mean@,19,16.0,3.0,-141.6
3,111_ker_new_hist_purchase_date_uptonow@,4,4.0,0.0,-137.0
25,111_ker_hist_first_buy@,26,20.0,6.0,-124.8
7,117_ah1_auth1_hist_purchase_amount_mean@,8,10.0,-2.0,-124.6
16,111_ker_hist_weekend_mean@,17,14.0,3.0,-123.6
28,118_ah0_auth0_hist_card_id_size@,29,27.0,2.0,-123.2
5,111_ker_new_hist_purchase_amount_mean@,6,5.0,1.0,-122.8
24,118_ah0_auth0_hist_purchase_amount_max@,25,21.0,4.0,-118.0
0,111_ker_new_hist_purchase_amount_max@,1,3.0,-2.0,-115.2
13,118_ah0_auth0_hist_purchase_amount_sum@,14,13.0,1.0,-113.8
35,111_ker_new_hist_first_buy@,36,34.0,2.0,-111.8
32,111_ker_hist_weekofyear_nunique@,33,30.0,3.0,-111.4
11,111_ker_hist_purchase_date_max@,12,11.0,1.0,-111.4
6,111_ker_hist_month_lag_mean@,7,8.0,-1.0,-102.6
26,111_ker_new_hist_purchase_date_average@,27,25.0,2.0,-102.0
29,118_ah0_auth0_hist_purchase_amount_mean@,30,29.0,1.0,-99.8
12,117_ah1_auth1_hist_purchase_amount_max@,13,12.0,1.0,-97.0
31,118_ah0_auth0_hist_category_1_sum@,32,31.0,1.0,-93.6
15,111_ker_new_hist_month_lag_mean@,16,15.0,1.0,-92.0
41,111_ker_hist_installments_var@,42,41.0,1.0,-91.2
33,111_ker_hist_purchase_date_uptonow@,34,33.0,1.0,-84.6
22,111_ker_hist_installments_sum@,23,24.0,-1.0,-84.6
27,111_ker_new_hist_purchase_date_diff@,28,28.0,0.0,-83.8
39,115_out_state_id_-1@,40,37.0,3.0,-82.4
...,...,...,...,...,...
121,114_mer_merchant_id_M_ID_deb43ff012@,122,119.0,3.0,-2.2
127,114_mer_merchant_id_M_ID_de40fbd87c@,128,129.0,-1.0,-2.2
114,114_mer_merchant_id_M_ID_79692349d6@,115,113.0,2.0,-2.2
124,114_mer_merchant_id_M_ID_b7459adc65@,125,127.0,-2.0,-2.0
117,114_mer_merchant_id_M_ID_69f80607d1@,118,116.0,2.0,-2.0
145,114_mer_merchant_id_M_ID_eeba6b925d@,146,147.0,-1.0,-2.0
136,114_mer_merchant_id_M_ID_9dbbaabb0a@,137,140.0,-3.0,-1.8
105,114_mer_merchant_id_M_ID_09d7a200d1@,106,107.0,-1.0,-1.4
143,114_mer_merchant_id_M_ID_2c4b8c61f6@,144,145.0,-1.0,-1.4
69,111_ker_new_hist_merchant_id_nunique@,70,75.0,-5.0,-1.2
147,114_mer_merchant_id_M_ID_f4be79819d@,148,148.0,0.0,-1.2
119,114_mer_merchant_id_M_ID_f40ccc1312@,120,120.0,0.0,-1.2
141,114_mer_merchant_id_M_ID_5cea7e02a8@,142,142.0,0.0,-1.0
93,114_mer_merchant_id_M_ID_9e84cda3b1@,94,95.0,-1.0,-1.0
134,114_mer_merchant_id_M_ID_ee75252e6a@,135,139.0,-4.0,-0.8
128,114_mer_merchant_id_M_ID_77197a9b5e@,129,132.0,-3.0,-0.4
138,114_mer_merchant_id_M_ID_ca4d18b336@,139,143.0,-4.0,-0.4
120,114_mer_merchant_id_M_ID_d13262f4b0@,121,122.0,-1.0,-0.2
115,114_mer_merchant_id_M_ID_2637773dd2@,116,115.0,1.0,-0.2
122,114_mer_merchant_id_M_ID_97f0959810@,123,126.0,-3.0,-0.2
82,111_ker_new_hist_installments_max@,83,87.0,-4.0,0.0
116,114_mer_merchant_id_M_ID_c9855bf3e3@,117,117.0,0.0,0.2
112,114_mer_merchant_id_M_ID_1f4773aa76@,113,114.0,-1.0,0.2
103,114_mer_merchant_id_M_ID_e5374dabc0@,104,105.0,-1.0,0.4
151,111_ker_hist_year_nunique@,152,151.0,1.0,0.6
150,114_mer_merchant_id_M_ID_a08fe74b06@,151,150.0,1.0,0.8
144,114_mer_merchant_id_M_ID_cd2c0b07e9@,145,149.0,-4.0,1.0
130,114_mer_merchant_id_M_ID_77e2942cd8@,131,136.0,-5.0,1.2
118,114_mer_merchant_id_M_ID_cc72dac895@,119,123.0,-4.0,1.8
4,120_ath_diff_last_first_authorized_flag_mean@,5,NaN,NaN,NaN