In [1]:
import sys
import pandas as pd
import numpy as np
import datetime
import glob
import gc
import os

#========================================================================
# Args
#========================================================================
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month']

win_path = f'../features/4_winner/*.gz'
fname=''
# submit = pd.read_csv('../input/sample_submission.csv')
submit = []

HOME = os.path.expanduser('~')
sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
import utils
from preprocessing import get_ordinal_mapping
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

2019-01-05 08:17:04,959 utils 366 [INFO]    [logger_func] start

In [24]:
import pandas as pd
import shutil
import glob
pd.set_option("max_rows", 200)

dec_list = pd.read_csv('../output/{start_time[4:11]}_decrease_features.csv', header=None)
win_list = glob.glob('../features/4_winner/*.gz')

for feat in dec_list[dec_list[1]==0][0].drop_duplicates():
    move_path_list = [w for w in win_list if w.count(feat[8:])]
    for move_path in move_path_list:
        try:
            shutil.move(move_path, '../features/5_tmp/')
        except Error:
            pass

In [6]:
import pandas as pd
### multi feature pred valid
# df = pd.read_csv('../output/0101_10_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0101_12_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0102_19_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0102_23_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0103_11_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0103_14_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0104_1030_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0104_14_elo_multi_feat_valid.csv')
df = pd.read_csv('../output/0104_20_elo_multi_feat_valid.csv')
pd.set_option('max_rows', 200)
select_feats = df.iloc[2, :][df.iloc[2, :]>0].sort_values()
select_feats

val_44_auth1_hist_category_1_mean@     1.000000
val_35_hist_installments_min@          1.000000
val_26_hist_installments_sum@          1.000000
val_37_auth0_hist_category_1_mean@     1.000000
Unnamed: 0                             2.000000
37_auth0_hist_category_1_mean@         3.649524
35_hist_installments_min@              3.649743
44_auth1_hist_category_1_mean@         3.649958
26_hist_installments_sum@              3.651168
0_base                                 3.651384
38_new_hist_installments_min@          3.651466
43_hist_month_lag_var@                 3.651586
30_merchant_id_M_ID_076cd8a829@        3.651673
39_merchant_id_M_ID_1f4773aa76@        3.651968
31_new_hist_category_3_mean_mean@      3.652071
17_merchant_id_M_ID_6f274b9340@        3.652135
25_merchant_id_M_ID_879f625c89@        3.652162
11_hist_first_buy@                     3.652189
18_hist_month_lag_min@                 3.652192
33_merchant_id_M_ID_c03b62d83d@        3.652245
15_new_hist_installments_sum@          3.652314
41_merchant_id_M_ID_48257bb851@        3.652362
23_merchant_id_M_ID_2637773dd2@        3.652503
19_auth1_hist_category_3_mean_mean@    3.652779
1_merchant_id_M_ID_ef87dd1879@         3.652795
2_merchant_id_M_ID_3111c6df35@         3.652810
20_auth1_hist_month_lag_var@           3.652897
28_merchant_id_M_ID_79692349d6@        3.653037
21_month@                              3.653058
9_merchant_id_M_ID_c355870ab2@         3.653080
13_merchant_id_M_ID_b9dcf28cb9@        3.653089
32_merchant_id_M_ID_cd2c0b07e9@        3.653093
29_auth0_hist_purchase_amount_max@     3.653148
24_merchant_id_M_ID_445742726b@        3.653156
14_merchant_id_M_ID_d13262f4b0@        3.653201
16_hist_hour_nunique@                  3.653234
5_merchant_id_M_ID_09d7a200d1@         3.653411
8_merchant_id_M_ID_1ac6bbc867@         3.653431
6_merchant_id_M_ID_5e8220e564@         3.653576
4_merchant_id_M_ID_9139332ccc@         3.653626
36_merchant_id_M_ID_eeba6b925d@        3.653740
3_auth1_hist_category_2_mean_mean@     3.653830
27_merchant_id_M_ID_c9855bf3e3@        3.654172
34_auth0_hist_category_2_mean_mean@    3.654229
10_merchant_id_M_ID_69f80607d1@        3.654261
12_merchant_id_M_ID_b9f9332438@        3.654491
7_auth0_hist_month_lag_var@            3.654645
40_hist_dayofweek_nunique@             3.654822
22_hist_installments_var@              3.655094
42_auth1_hist_month_lag_mean@          3.656847
Name: 2, dtype: float64

In [14]:
import shutil
import glob
move_list = glob.glob('../features/1_first_valid/*.gz')

for feat in list(select_feats[select_feats==1].index):
    move_path = [move for move in move_list if move.count(feat[6:])]
    for path in move_path:
        try:
            shutil.move(path, '../features/5_tmp/')
        except Error:
            print(f"Error: {path}")

### Decrease Score

In [4]:
import pandas as pd
pd.set_option("max_rows", 200)
df = pd.read_csv('../output/0104_15_decrease_features.csv')
df.sort_values(by=['effective', 'score'], inplace=True)
df

                                        Unnamed: 0  effective     score
27              111_ker_new_hist_installments_max@        0.0  3.715383
28            111_ker_new_hist_purchase_date_diff@        0.0  3.715383
35            111_ker_new_hist_purchase_date_diff@        0.0  3.715383
21                             115_out_state_id_4@        0.0  3.715650
26                             115_out_state_id_9@        0.0  3.715853
32  111_ker_new_hist_merchant_category_id_nunique@        0.0  3.717765
12         111_ker_new_hist_purchase_date_uptonow@        0.0  3.718556
56            114_mer_merchant_id_M_ID_b7459adc65@        0.0  3.719350
55  111_ker_new_hist_merchant_category_id_nunique@        0.0  3.719477
50                111_ker_hist_weekofyear_nunique@        0.0  3.719933
54        118_ah0_auth0_hist_purchase_amount_mean@        0.0  3.720188
49                            115_out_state_id_24@        0.0  3.720206
51                            115_out_state_id_12@        0.0  3.720253
52                            115_out_state_id_24@        0.0  3.720253
25            111_ker_new_hist_purchase_date_diff@        0.0  3.720740
36      111_ker_hist_merchant_category_id_nunique@        0.0  3.720868
37                     111_ker_hist_month_lag_max@        0.0  3.721814
58                111_ker_new_hist_category_1_sum@        0.0  3.722760
59                            115_out_state_id_24@        0.0  3.722760
40            114_mer_merchant_id_M_ID_86ec983688@        0.0  3.723285
45                      111_ker_hist_card_id_size@        0.0  3.723285
46                             115_out_state_id_4@        0.0  3.723285
47              111_ker_new_hist_installments_max@        0.0  3.723285
22                      111_ker_hist_card_id_size@        0.0  3.723712
61              118_ah0_auth0_hist_category_1_sum@        0.0  3.724390
44                111_ker_hist_weekofyear_nunique@        0.0  3.724454
38        117_ah1_auth1_hist_purchase_amount_mean@        0.0  3.724461
2         118_ah0_auth0_hist_purchase_amount_mean@        0.0  3.729930
16            114_mer_merchant_id_M_ID_86ec983688@        0.0  3.730345
1                             115_out_state_id_24@        0.0  3.733528
9                              115_out_state_id_4@        0.0  3.734467
8                      111_ker_hist_month_lag_max@        0.0  3.736664
0                                             base        1.0  3.720091
14                     111_ker_hist_month_nunique@        1.0  3.723533
13                  111_ker_new_hist_card_id_size@        1.0  3.724606
29            114_mer_merchant_id_M_ID_2c4b8c61f6@        1.0  3.724713
33            114_mer_merchant_id_M_ID_2c4b8c61f6@        1.0  3.724713
62                            115_out_state_id_22@        1.0  3.724865
20                111_ker_new_hist_month_lag_mean@        1.0  3.725699
34             111_ker_new_hist_purchase_date_min@        1.0  3.726261
6                111_ker_new_hist_category_1_mean@        1.0  3.726655
15                              111_ker_feature_3@        1.0  3.726890
18            114_mer_merchant_id_M_ID_4e461f7e14@        1.0  3.726890
41            114_mer_merchant_id_M_ID_ee75252e6a@        1.0  3.727267
10                  111_ker_new_hist_card_id_size@        1.0  3.727384
42                          111_ker_card_id_total@        1.0  3.729308
19              111_ker_hist_subsector_id_nunique@        1.0  3.729617
57        132_ddf_hist_last5_diff_days_lag1@_mean@        1.0  3.729682
17                              111_ker_feature_1@        1.0  3.731759
23            114_mer_merchant_id_M_ID_ca4d18b336@        1.0  3.732153
24            114_mer_merchant_id_M_ID_4e461f7e14@        1.0  3.732153
48           111_ker_new_hist_purchase_amount_max@        1.0  3.734344
5          118_ah0_auth0_hist_purchase_amount_sum@        1.0  3.735161
43             111_ker_hist_purchase_date_average@        1.0  3.735384
53                          111_ker_card_id_total@        1.0  3.735886
30           111_ker_new_hist_purchase_amount_max@        1.0  3.736672
31           111_ker_new_hist_purchase_amount_max@        1.0  3.736672
11                  111_ker_hist_installments_max@        1.0  3.738028
3               111_ker_hist_subsector_id_nunique@        1.0  3.740502
39           111_ker_new_hist_purchase_amount_max@        1.0  3.740504
4             114_mer_merchant_id_M_ID_e5374dabc0@        1.0  3.741580
7             114_mer_merchant_id_M_ID_a9430074ad@        1.0  3.741580
60             117_ah1_auth1_hist_month_diff_mean@        1.0  3.750417

### OUTLIER SCORE

In [65]:
import re
from tqdm import tqdm
from sklearn.metrics import mean_squared_error

# outlierに対するスコアを出す
train = utils.read_df_pkl('../input/train0*')
out_ids = train.loc[train.target<-30, key].values
out_val = train.loc[train.target<-30, target].values

# outlier以外に対するスコアを出す
com_ids = train.loc[train.target>-30, key].values
com_val = train.loc[train.target>-30, target].values

path_list = glob.glob('../log_submit/01*csv')
stack_list = glob.glob('../stack/*gz')

out_dict = {}
for i, path in enumerate(tqdm(path_list)):
    tmp_path = path.replace(".", '-')
    cv = re.search(r'CV([^/.]*)_LB', tmp_path).group(1)[:-2].replace('.', '-')
    lb = re.search(r'LB([^/.]*).csv', tmp_path).group(1).replace('-', '.')
    stack_path = [s for s in stack_list if s.count(cv.replace('.', '-'))][0]
    
    df_pred = utils.read_pkl_gzip(stack_path)
    
    if len(df_pred.columns)>3:
        com_pred = df_pred[df_pred[key].isin(com_ids)]['pred_mean'].values
        out_pred = df_pred[df_pred[key].isin(out_ids)]['pred_mean'].values
    else:
        com_pred = df_pred[df_pred[key].isin(com_ids)]['prediction'].values
        out_pred = df_pred[df_pred[key].isin(out_ids)]['prediction'].values
        
    com_score = np.sqrt(mean_squared_error(com_val, com_pred))
    out_score = np.sqrt(mean_squared_error(out_val, out_pred))
    out_vals = {
        '1_CV' : cv.replace('-', '.'),
        '2_LB' : lb,
        '3_OUT': out_score,
        '4_COM': com_score,
               }
    out_dict[str(i)] = out_vals
    
result = pd.DataFrame(out_dict)
display(result.T)
sys.exit()
tmp = result.T['1_CV'][result.T['1_CV']=='3.65133231891838'].index
base = result[tmp]
comp = (result.astype('float').values - base.astype('float').values).T
df = pd.DataFrame(comp.T, columns=result.loc['1_CV', :], index=result.index).T
df.sort_values(by="3_OUT", inplace=True)
display(df)

                1_CV   2_LB    3_OUT    4_COM
0   3.65355624338910  3.694  30.2332  2.07016
1   3.64974950464612  3.692  30.1923  2.06493
2   3.65034218515939  3.692  30.1928  2.06292
3   3.64792661879997  3.691  30.2424  2.06517
4    3.6477805039053  3.691  30.2137  2.07579
5    3.6512463628215  3.690  30.2132   2.0755
6    3.6502284533032  3.690  30.2168  2.05997
7   3.65167019701916  3.690  30.2167  2.07578
8   3.65133231891838  3.689  30.2033  2.07722
9   3.64877091222210  3.698  30.1758  2.06424
10   3.6504356599839  3.690  30.2191  2.06058
11   3.6506104984303  3.689  30.2056    2.063
12   3.6505992354373  3.690  30.2001  2.06373
13   3.6509309614642  3.691  30.2075  2.06249
14   3.6492385751642  3.691  30.2229  2.06876
15  3.65001161936955  3.689  30.2054  2.07394
16  3.65263398092539  3.694  30.2718   2.0669
17   3.6522145906721  3.692  30.2612  2.06384
18    3.649739659357  3.692  30.2025  2.07362
19   3.6485124054791  3.693   30.226  2.08269

SystemExit:

In [21]:
result.sort_values(by="OUT", inplace=True)
display(result)

                  CV     LB      OUT
9   3-64877091222210  3.698  30.1758
1   3-64974950464612  3.692  30.1923
2   3-65034218515939  3.692  30.1928
12   3-6505992354373  3.690  30.2001
18    3-649739659357  3.692  30.2025
8   3-65133231891838  3.689  30.2033
15  3-65001161936955  3.689  30.2054
11   3-6506104984303  3.689  30.2056
13   3-6509309614642  3.691  30.2075
5    3-6512463628215  3.690  30.2132
4    3-6477805039053  3.691  30.2137
7   3-65167019701916  3.690  30.2167
6    3-6502284533032  3.690  30.2168
10   3-6504356599839  3.690  30.2191
14   3-6492385751642  3.691  30.2229
19   3-6485124054791  3.693   30.226
0   3-65355624338910  3.694  30.2332
3   3-64792661879997  3.691  30.2424
17   3-6522145906721  3.692  30.2612
16  3-65263398092539  3.694  30.2718