In [1]:
import sys
import pandas as pd
import numpy as np
import datetime
import glob
import gc
import os

#========================================================================
# Args
#========================================================================
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month']

win_path = f'../features/4_winner/*.gz'
fname=''
# submit = pd.read_csv('../input/sample_submission.csv')
submit = []

HOME = os.path.expanduser('~')

sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
import utils
from preprocessing import get_ordinal_mapping
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

2018-12-31 14:59:50,219 utils 366 [INFO]    [logger_func] start

In [7]:
import pandas as pd
### multi feature pred valid
df = pd.read_csv('../output/0101_10_elo_multi_feat_valid.csv')
df = pd.read_csv('../output/0101_12_elo_multi_feat_valid.csv')
df

,Unnamed: 0,0_base,1_hist_last25_date_diff_mean@,2_hist_last20_date_diff_mean@,3_hist_first20_diff_days_lag1@_std@,4_hist_last10_date_diff_std@,5_hist_last25_diff_days_lag1@_mean@,6_hist_trans25_date_diff_std@,7_hist_first15_diff_days_lag1@_mean@,8_hist_trans15_date_diff_mean@,...,val_41_hist_last25_diff_days_lag1@_std@,val_42_hist_last20_date_diff_std@,val_43_hist_first30_diff_days_lag1@_std@,val_44_new_date_diff_std@,val_45_hist_trans5_date_diff_mean@,val_46_hist_last30_date_diff_std@,val_47_hist_trans25_date_diff_mean@,val_48_hist_trans30_date_diff_std@,val_49_hist_first5_diff_days_lag1@_std@,val_50_hist_trans20_date_diff_std@
0,0,3.655985,3.661743,3.660212,3.661391,3.661392,3.662076,3.660088,3.657576,3.660194,...,0,0,0,0,0,0,0,0,0,0
1,1,3.651163,3.653528,3.651855,3.652902,3.650892,3.651474,3.651292,3.651672,3.649737,...,0,1,0,0,1,0,0,1,0,0
2,2,3.650986,3.651618,3.650395,3.650510,3.652887,3.652793,3.652464,3.652979,3.651975,...,1,1,1,0,1,1,1,0,1,1
3,3,3.658281,3.657669,3.656930,3.657105,3.658723,3.655458,3.658199,3.657856,3.658861,...,1,0,0,1,1,1,0,1,1,0
4,4,3.652696,3.650122,3.650307,3.651629,3.651626,3.652323,3.650367,3.651877,3.648376,...,1,1,1,1,1,1,1,1,1,1
5,5,3.653822,3.654936,3.653940,3.654707,3.655104,3.654825,3.654482,3.654392,3.653829,...,0,1,0,0,1,1,0,1,1,0

In [8]:
pd.set_option('max_rows', 200)
df.iloc[5, :][df.iloc[5, :]>0].sort_values()

val_49_hist_first5_diff_days_lag1@_std@     1.000000
val_12_hist_last15_diff_days_lag1@_std@     1.000000
val_13_hist_last10_date_diff_mean@          1.000000
val_16_hist_last25_date_diff_std@           1.000000
val_17_hist_trans5_date_diff_std@           1.000000
val_18_hist_first25_diff_days_lag1@_std@    1.000000
val_31_hist_trans10_date_diff_std@          1.000000
val_32_hist_last15_date_diff_mean@          1.000000
val_25_hist_last30_diff_days_lag1@_std@     1.000000
val_34_hist_last5_diff_days_lag1@_mean@     1.000000
val_35_hist_last5_diff_days_lag1@_std@      1.000000
val_40_hist_trans20_date_diff_mean@         1.000000
val_42_hist_last20_date_diff_std@           1.000000
val_45_hist_trans5_date_diff_mean@          1.000000
val_46_hist_last30_date_diff_std@           1.000000
val_33_hist_first10_diff_days_lag1@_std@    1.000000
val_48_hist_trans30_date_diff_std@          1.000000
34_hist_last5_diff_days_lag1@_mean@         3.652145
16_hist_last25_date_diff_std@               3.652425
42_hist_last20_date_diff_std@               3.652691
40_hist_trans20_date_diff_mean@             3.652910
33_hist_first10_diff_days_lag1@_std@        3.653082
46_hist_last30_date_diff_std@               3.653309
45_hist_trans5_date_diff_mean@              3.653340
48_hist_trans30_date_diff_std@              3.653479
13_hist_last10_date_diff_mean@              3.653516
17_hist_trans5_date_diff_std@               3.653575
18_hist_first25_diff_days_lag1@_std@        3.653577
31_hist_trans10_date_diff_std@              3.653577
49_hist_first5_diff_days_lag1@_std@         3.653664
12_hist_last15_diff_days_lag1@_std@         3.653676
32_hist_last15_date_diff_mean@              3.653704
25_hist_last30_diff_days_lag1@_std@         3.653735
35_hist_last5_diff_days_lag1@_std@          3.653786
0_base                                      3.653822
8_hist_trans15_date_diff_mean@              3.653829
47_hist_trans25_date_diff_mean@             3.653866
19_hist_first30_diff_days_lag1@_mean@       3.653870
11_hist_last5_date_diff_mean@               3.653901
38_hist_first20_diff_days_lag1@_mean@       3.653905
2_hist_last20_date_diff_mean@               3.653940
39_hist_last5_date_diff_std@                3.653956
50_hist_trans20_date_diff_std@              3.654009
30_hist_first10_diff_days_lag1@_mean@       3.654137
37_hist_last30_date_diff_mean@              3.654154
43_hist_first30_diff_days_lag1@_std@        3.654190
36_hist_last15_diff_days_lag1@_mean@        3.654259
29_hist_last10_diff_days_lag1@_mean@        3.654325
22_hist_first25_diff_days_lag1@_mean@       3.654365
44_new_date_diff_std@                       3.654365
7_hist_first15_diff_days_lag1@_mean@        3.654392
21_hist_trans10_date_diff_mean@             3.654393
27_hist_last15_date_diff_std@               3.654424
9_hist_last30_diff_days_lag1@_mean@         3.654436
20_hist_last20_diff_days_lag1@_mean@        3.654471
14_hist_trans15_date_diff_std@              3.654475
6_hist_trans25_date_diff_std@               3.654482
23_new_date_diff_mean@                      3.654561
24_hist_first15_diff_days_lag1@_std@        3.654603
3_hist_first20_diff_days_lag1@_std@         3.654707
10_hist_last10_diff_days_lag1@_std@         3.654712
41_hist_last25_diff_days_lag1@_std@         3.654724
15_hist_first5_diff_days_lag1@_mean@        3.654773
26_hist_last20_diff_days_lag1@_std@         3.654775
5_hist_last25_diff_days_lag1@_mean@         3.654825
28_hist_trans30_date_diff_mean@             3.654923
1_hist_last25_date_diff_mean@               3.654936
4_hist_last10_date_diff_std@                3.655104
Unnamed: 0                                  5.000000
Name: 5, dtype: float64