In [1]:
import sys
import pandas as pd
import numpy as np
import datetime
import glob
import gc
import os

#========================================================================
# Args
#========================================================================
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month']

win_path = f'../features/4_winner/*.gz'
fname=''
# submit = pd.read_csv('../input/sample_submission.csv')
submit = []

HOME = os.path.expanduser('~')

sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
import utils
from preprocessing import get_ordinal_mapping
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

2018-12-31 14:59:50,219 utils 366 [INFO]    [logger_func] start

In [2]:
import pandas as pd
### multi feature pred valid
df = pd.read_csv('../output/0101_10_elo_multi_feat_valid.csv')
df

,Unnamed: 0,0_base,1_hist_first30_date_diff_mean@,2_hist_first5_date_diff_mean@,3_hist_first10_date_diff_mean@,4_hist_first25_date_diff_mean@,5_hist_first30_date_diff_std@,6_hist_first15_date_diff_std@,7_hist_first5_date_diff_std@,8_hist_first20_date_diff_mean@,...,val_3_hist_first10_date_diff_mean@,val_4_hist_first25_date_diff_mean@,val_5_hist_first30_date_diff_std@,val_6_hist_first15_date_diff_std@,val_7_hist_first5_date_diff_std@,val_8_hist_first20_date_diff_mean@,val_9_hist_first10_date_diff_std@,val_10_hist_first25_date_diff_std@,val_11_hist_first15_date_diff_mean@,val_12_hist_first20_date_diff_std@
0,0,3.655985,3.661688,3.659139,3.660597,3.660926,3.659195,3.661936,3.660687,3.659201,...,0,0,0,0,0,0,0,0,0,0
1,1,3.651163,3.654082,3.652301,3.653204,3.650977,3.651885,3.652840,3.649506,3.653611,...,0,1,0,0,1,0,0,0,0,0
2,2,3.650986,3.649003,3.649439,3.650163,3.650886,3.651821,3.649832,3.647625,3.650749,...,1,1,0,1,1,1,1,0,0,1
3,3,3.658281,3.656704,3.658432,3.655519,3.657128,3.657645,3.658986,3.657310,3.657875,...,1,1,1,0,1,1,1,0,0,0
4,4,3.652696,3.649007,3.650286,3.651016,3.650150,3.650141,3.649648,3.650065,3.651070,...,1,1,1,1,1,1,1,1,1,1
5,5,3.653822,3.654097,3.653920,3.654100,3.654013,3.654137,3.654648,3.653039,3.654501,...,0,0,0,0,1,0,1,0,0,0

In [3]:
df.iloc[5, :][df.iloc[5, :]>0]

Unnamed: 0                           5.000000
0_base                               3.653822
1_hist_first30_date_diff_mean@       3.654097
2_hist_first5_date_diff_mean@        3.653920
3_hist_first10_date_diff_mean@       3.654100
4_hist_first25_date_diff_mean@       3.654013
5_hist_first30_date_diff_std@        3.654137
6_hist_first15_date_diff_std@        3.654648
7_hist_first5_date_diff_std@         3.653039
8_hist_first20_date_diff_mean@       3.654501
9_hist_first10_date_diff_std@        3.653612
10_hist_first25_date_diff_std@       3.655533
11_hist_first15_date_diff_mean@      3.656209
12_hist_first20_date_diff_std@       3.654988
val_7_hist_first5_date_diff_std@     1.000000
val_9_hist_first10_date_diff_std@    1.000000
Name: 5, dtype: float64