## 153 Null Count

In [58]:
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
from __future__ import print_function, division
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)
import os
import sys
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import get_categorical_features, get_numeric_features
import datetime

from tqdm import tqdm
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import KFold
import warnings
import time
import sys
import datetime
from sklearn.metrics import mean_squared_error
from mv_wg_avg import exp_weight_avg


os.listdir('../input/')
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_avtive_month']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Data Load

In [2]:
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

df_train = utils.read_df_pkl('../input/train0*')
df_test = utils.read_df_pkl('../input/test0*')
df_train.set_index(key, inplace=True)
df_test.set_index(key, inplace=True)
df_hist = utils.read_df_pkl('../input/hist*0*')
df_new = utils.read_df_pkl('../input/new*0*')

df_train = reduce_mem_usage(df_train)
df_test  = reduce_mem_usage(df_test )
df_hist  = reduce_mem_usage(df_hist )
df_new   = reduce_mem_usage(df_new  )

100%|██████████| 3/3 [00:00<00:00, 93.11it/s]
100%|██████████| 3/3 [00:00<00:00, 182.28it/s]
100%|██████████| 3/3 [00:10<00:00,  3.53s/it]
100%|██████████| 3/3 [00:01<00:00,  2.67it/s]

Mem. usage decreased to  4.04 Mb (56.2% reduction)
Mem. usage decreased to  2.24 Mb (52.5% reduction)
Mem. usage decreased to 1971.22 Mb (40.8% reduction)
Mem. usage decreased to 140.41 Mb (37.5% reduction)

In [3]:
df = df_new
df.sort_values(by=[key, 'purchase_date'], inplace=True)
df['authorized_flag'] =  df['authorized_flag'].map(lambda x: 0 if x=='N' else 1)
df_new = df.copy()
del df
gc.collect()

df = df_hist
df['authorized_flag'] =  df['authorized_flag'].map(lambda x: 0 if x=='N' else 1)
df['category_1'] =  df['category_1'].map(lambda x: 0 if x=='N' else 1)
df_hist = df.copy()
del df
gc.collect()
df_hist.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,1,C_ID_4e6213e9bc,88,0,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,1,C_ID_4e6213e9bc,88,0,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,1,C_ID_4e6213e9bc,88,0,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [4]:
# df_trans = pd.concat([df_hist, df_new], axis=0)
# df_trans = reduce_mem_usage(df_trans)
auth1 = df_hist[df_hist['authorized_flag']==1]
auth0 = df_hist[df_hist['authorized_flag']==0]

In [5]:
auth1[auth1.isnull().any(axis=1)]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
11,1,C_ID_4e6213e9bc,-1,0,0,A,560,M_ID_7c5e93af2f,0,-0.727929,2018-02-08 20:05:45,NaN,-1,34
30,1,C_ID_4e6213e9bc,-1,0,0,A,80,M_ID_98b342c0e3,0,-0.724368,2018-02-27 09:04:48,NaN,-1,37
43,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.719154,2018-02-24 10:52:32,NaN,-1,37
80,1,C_ID_4e6213e9bc,-1,0,0,A,80,M_ID_98b342c0e3,0,-0.724368,2018-02-23 09:20:59,NaN,-1,37
82,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.713173,2018-02-25 12:07:37,NaN,-1,37
88,1,C_ID_4e6213e9bc,-1,0,0,A,437,M_ID_e8062abeef,0,-0.637920,2018-02-06 08:19:03,NaN,-1,15
153,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.702159,2018-02-10 12:30:44,NaN,-1,37
161,1,C_ID_4e6213e9bc,-1,0,0,A,278,M_ID_fdd1989fdd,0,-0.716990,2018-02-17 12:28:52,NaN,-1,37
260,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.713053,2018-02-11 12:10:48,NaN,-1,37
274,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.703121,2018-02-13 13:08:38,NaN,-1,37
281,1,C_ID_4e6213e9bc,-1,0,0,A,80,M_ID_3b3584964b,0,-0.708290,2018-02-18 10:37:06,NaN,-1,37
283,1,C_ID_4e6213e9bc,-1,0,0,A,437,M_ID_e8062abeef,0,-0.686171,2018-02-24 11:30:18,NaN,-1,15
284,1,C_ID_4e6213e9bc,-1,0,0,A,437,M_ID_e8062abeef,0,-0.658928,2018-02-14 10:23:17,NaN,-1,15
325,1,C_ID_4e6213e9bc,-1,0,0,A,683,M_ID_a12e82f450,0,-0.727223,2018-02-24 21:06:25,NaN,-1,34
335,1,C_ID_4e6213e9bc,-1,0,0,A,80,M_ID_98b342c0e3,0,-0.724368,2018-02-26 09:05:21,NaN,-1,37
356,1,C_ID_4e6213e9bc,-1,0,0,A,278,NaN,0,-0.717471,2018-02-14 12:08:10,NaN,-1,37
418,1,C_ID_5037ff576e,-1,0,1,B,307,M_ID_d8281a0ff9,-11,-0.303581,2017-01-07 10:17:04,NaN,-1,19
425,1,C_ID_5037ff576e,-1,0,1,B,307,M_ID_949996e6b5,0,-0.671775,2017-12-24 19:28:09,NaN,-1,19
430,1,C_ID_5037ff576e,-1,0,1,B,307,M_ID_fe69229f24,-1,0.189755,2017-11-23 00:00:00,NaN,-1,19
452,1,C_ID_5037ff576e,331,0,1,B,307,M_ID_1cf20d1419,0,0.244541,2017-12-15 14:02:29,NaN,-1,19
471,1,C_ID_5037ff576e,-1,0,1,B,307,M_ID_9b26897b07,-1,0.575425,2017-11-04 00:00:00,NaN,-1,19
479,1,C_ID_5037ff576e,-1,0,1,B,307,M_ID_fe69229f24,0,-0.671775,2017-12-02 20:21:59,NaN,-1,19
487,1,C_ID_5037ff576e,-1,0,1,B,45,M_ID_6e67395fa3,0,-0.467415,2017-12-17 06:27:56,NaN,-1,18
513,1,C_ID_5037ff576e,331,0,1,B,45,M_ID_54944a940b,0,-0.416325,2017-12-15 15:29:46,NaN,-1,18
594,1,C_ID_0e171c1b48,277,0,0,A,278,NaN,0,-0.687403,2018-02-17 21:12:33,4.0,13,37
797,1,C_ID_48fb13e70f,-1,1,1,B,879,M_ID_9139332ccc,-2,-0.649837,2017-12-09 13:04:14,NaN,-1,29
800,1,C_ID_48fb13e70f,-1,1,1,B,839,M_ID_50076f761c,-5,-0.596793,2017-09-21 23:28:00,NaN,-1,29
802,1,C_ID_48fb13e70f,-1,1,4,C,302,M_ID_b9f9332438,-8,0.764910,2017-06-07 05:20:49,NaN,-1,22
808,1,C_ID_48fb13e70f,69,0,1,B,792,NaN,-8,-0.446378,2017-06-23 09:08:53,1.0,9,9
853,1,C_ID_48fb13e70f,-1,1,2,C,637,M_ID_963ed874ee,-1,-0.085741,2018-01-21 22:14:21,NaN,-1,37
904,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-7,-0.626696,2017-07-23 13:15:32,NaN,-1,19
914,1,C_ID_fc8e41b9cf,251,0,-1,NaN,391,M_ID_bc5663de31,0,-0.393785,2018-02-21 07:24:59,3.0,8,7
936,1,C_ID_fc8e41b9cf,251,0,-1,NaN,307,M_ID_0f437c5559,-3,-0.475694,2017-11-13 00:00:00,3.0,8,19
939,1,C_ID_fc8e41b9cf,170,0,1,B,367,M_ID_37f7529614,0,-0.665765,2018-02-17 13:44:03,NaN,-1,16
941,1,C_ID_fc8e41b9cf,170,0,-1,NaN,222,M_ID_b7441bb10f,-1,-0.551563,2018-01-09 14:15:12,3.0,8,21
946,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-4,-0.236157,2017-10-21 00:00:00,NaN,-1,19
965,1,C_ID_fc8e41b9cf,251,0,-1,NaN,514,M_ID_1dd8347bcb,-1,-0.114893,2018-01-23 14:04:39,3.0,8,9
973,1,C_ID_fc8e41b9cf,170,0,1,B,705,NaN,-1,-0.672887,2018-01-09 12:28:19,3.0,8,33
992,1,C_ID_fc8e41b9cf,251,0,-1,NaN,414,M_ID_d12eaa9bd7,-3,0.421809,2017-11-27 00:00:00,3.0,8,29
997,1,C_ID_fc8e41b9cf,-1,1,10,C,706,M_ID_23ddadf852,-1,0.786548,2018-01-23 16:15:49,NaN,-1,26
998,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,0,-0.521510,2018-02-16 10:27:31,NaN,-1,19
1003,1,C_ID_fc8e41b9cf,251,0,-1,NaN,367,M_ID_b39aa08d22,-2,-0.538791,2017-12-05 11:32:24,3.0,8,16
1004,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-7,-0.010609,2017-07-20 09:45:40,NaN,-1,19
1031,1,C_ID_fc8e41b9cf,170,0,-1,NaN,422,M_ID_944c5bc932,-1,-0.611669,2018-01-06 10:40:46,3.0,8,27
1035,1,C_ID_fc8e41b9cf,170,0,-1,NaN,506,M_ID_4838a2855e,-2,-0.521510,2017-12-06 10:58:34,3.0,8,30
1061,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-6,-0.487746,2017-08-10 12:10:15,NaN,-1,19
1076,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-3,-0.499015,2017-11-06 00:00:00,NaN,-1,19
1097,1,C_ID_fc8e41b9cf,170,0,1,B,307,M_ID_2e0430b435,-2,-0.701828,2017-12-18 15:22:23,NaN,-1,19
1362,1,C_ID_4bed29d75c,-1,1,1,B,661,M_ID_9e84cda3b1,-1,-0.671925,2017-12-20 13:25:23,NaN,-1,8
1380,1,C_ID_4bed29d75c,272,0,1,B,813,NaN,-2,-0.731881,2017-11-13 00:00:00,1.0,9,29
1388,1,C_ID_4bed29d75c,-1,1,1,B,661,M_ID_9e84cda3b1,0,-0.671925,2018-01-21 09:51:02,NaN,-1,8
1420,1,C_ID_4bed29d75c,-1,1,1,B,661,M_ID_9e84cda3b1,-4,-0.671925,2017-09-24 18:16:10,NaN,-1,8
1422,1,C_ID_4bed29d75c,-1,1,1,B,661,M_ID_9e84cda3b1,-2,-0.671925,2017-11-19 16:22:11,NaN,-1,8
1428,1,C_ID_4bed29d75c,-1,1,1,B,661,M_ID_9e84cda3b1,-3,-0.671925,2017-10-19 18:08:32,NaN,-1,8
1430,1,C_ID_4bed29d75c,-1,1,1,B,755,M_ID_57df19bf28,-4,-0.745405,2017-09-24 17:16:29,NaN,-1,8
1669,1,C_ID_3fff3df454,-1,0,0,A,705,M_ID_cf5ba8d9fe,-10,-0.684623,2017-04-17 14:59:06,NaN,-1,33
1675,1,C_ID_3fff3df454,-1,0,0,A,80,M_ID_34f3623e94,-8,-0.633458,2017-06-22 20:40:16,NaN,-1,37
1697,1,C_ID_3fff3df454,20,0,0,A,818,M_ID_d6d1df8e38,-1,-0.446378,2018-01-28 18:04:42,NaN,-1,12
1719,1,C_ID_3fff3df454,-1,0,0,A,884,M_ID_6ba3def35d,-8,-0.206254,2017-06-22 19:06:30,NaN,-1,27
1742,1,C_ID_3fff3df454,-1,0,0,A,319,M_ID_f148e49885,-7,-0.686802,2017-07-11 14:06:38,NaN,-1,27
1766,1,C_ID_3fff3df454,-1,0,0,A,80,M_ID_34f3623e94,-2,-0.611669,2017-12-08 23:13:31,NaN,-1,37
1769,1,C_ID_3fff3df454,-1,0,0,A,422,M_ID_bb52781ed2,-8,-0.626711,2017-06-22 18:38:38,NaN,-1,27
1808,1,C_ID_3fff3df454,-1,0,0,A,360,M_ID_d47a2cc810,0,-0.674781,2018-02-12 11:52:13,NaN,-1,34
1811,1,C_ID_3fff3df454,-1,0,0,A,80,M_ID_34f3623e94,-2,-0.740146,2017-12-23 00:12:31,NaN,-1,37
1820,1,C_ID_3fff3df454,30,0,0,A,36,NaN,-2,-0.491457,2017-12-21 14:25:54,3.0,17,7
1821,1,C_ID_3fff3df454,30,0,0,A,683,NaN,-2,-0.709342,2017-12-30 20:49:36,3.0,17,34
1824,1,C_ID_3fff3df454,-1,0,0,A,9,M_ID_c349b8d945,-2,-0.740897,2017-12-23 14:13:45,NaN,-1,21
1828,1,C_ID_3fff3df454,-1,0,0,A,80,M_ID_34f3623e94,-7,-0.688304,2017-07-11 19:37:43,NaN,-1,37
1890,1,C_ID_3fff3df454,-1,0,0,A,195,M_ID_75e79d026d,-2,-0.664112,2017-12-09 16:30:03,NaN,-1,34
1909,1,C_ID_3fff3df454,-1,0,0,A,307,M_ID_783d4b5008,-2,-0.569550,2017-12-10 21:09:42,NaN,-1,19
1919,1,C_ID_3fff3df454,30,0,0,A,412,NaN,-1,0.004418,2018-01-13 14:46:14,3.0,17,18
1932,1,C_ID_3fff3df454,-1,0,0,A,80,NaN,-1,-0.649235,2018-01-28 19:33:16,NaN,-1,37
1952,1,C_ID_3fff3df454,-1,0,0,A,278,M_ID_64032788ca,-1,-0.709717,2018-01-26 20:47:36,NaN,-1,37
1975,1,C_ID_3fff3df454,-1,0,0,A,705,M_ID_cf5ba8d9fe,-10,-0.410569,2017-04-17 15:17:14,NaN,-1,33
1993,1,C_ID_3fff3df454,30,0,0,A,363,NaN,-1,-0.626696,2018-01-19 15:07:13,3.0,17,18
2033,1,C_ID_3fff3df454,-1,0,0,A,705,M_ID_cf5ba8d9fe,-1,-0.658792,2018-01-27 14:41:09,NaN,-1,33
2057,1,C_ID_3fff3df454,-1,0,0,A,705,M_ID_cf5ba8d9fe,-2,-0.692407,2017-12-10 10:40:33,NaN,-1,33
2060,1,C_ID_3fff3df454,30,0,0,A,683,NaN,-2,-0.707839,2017-12-30 20:46:13,3.0,17,34
2091,1,C_ID_3fff3df454,30,0,0,A,36,NaN,-2,-0.634209,2017-12-21 15:51:33,3.0,17,7
2094,1,C_ID_3fff3df454,30,0,0,A,813,NaN,-2,-0.602653,2017-12-31 11:07:35,3.0,17,29
2095,1,C_ID_3fff3df454,-1,0,0,A,319,M_ID_f148e49885,-8,-0.401298,2017-06-23 09:49:39,NaN,-1,27
2099,1,C_ID_3fff3df454,30,0,0,A,734,NaN,-1,-0.656749,2018-01-19 16:05:30,3.0,17,25
2125,1,C_ID_3fff3df454,-1,0,0,A,307,M_ID_783d4b5008,-7,-0.557048,2017-07-11 21:37:04,NaN,-1,19
2164,1,C_ID_3fff3df454,30,0,0,A,737,NaN,-1,-0.356218,2018-01-19 14:27:08,3.0,17,18
2207,1,C_ID_3898518baa,69,0,0,A,650,NaN,0,-0.737441,2018-02-08 15:02:34,1.0,9,29
2327,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-3,-0.732197,2017-11-30 20:35:47,NaN,-1,29
2329,1,C_ID_058b254a5b,233,0,-1,NaN,68,M_ID_a225855c6f,-2,-0.581616,2017-12-16 10:06:39,1.0,9,27
2338,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-3,-0.737907,2017-11-29 00:56:26,NaN,-1,29
2372,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.733023,2017-12-01 22:03:29,NaN,-1,29
2382,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.733925,2017-12-01 13:16:07,NaN,-1,29
2384,1,C_ID_058b254a5b,-1,0,1,B,560,M_ID_da9f3c65a9,-3,-0.686802,2017-11-26 00:00:00,NaN,-1,34
2385,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.737877,2017-12-06 00:59:28,NaN,-1,29
2388,1,C_ID_058b254a5b,-1,1,1,B,879,M_ID_f28abf15c8,-4,-0.680791,2017-10-05 00:22:36,NaN,-1,29
2396,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,0,-0.709176,2018-02-03 11:35:17,NaN,-1,29
2398,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.738268,2017-12-08 07:09:21,NaN,-1,29
2444,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.729913,2017-12-01 21:23:42,NaN,-1,29
2448,1,C_ID_058b254a5b,-1,1,1,B,879,M_ID_f28abf15c8,-4,-0.679289,2017-10-25 01:26:07,NaN,-1,29
2483,1,C_ID_058b254a5b,-1,1,5,C,879,M_ID_9139332ccc,-3,-0.542187,2017-11-20 16:45:49,NaN,-1,29
2487,1,C_ID_058b254a5b,-1,1,1,B,879,M_ID_f28abf15c8,0,-0.685299,2018-02-09 22:48:36,NaN,-1,29
2493,1,C_ID_058b254a5b,-1,1,1,B,839,M_ID_e5374dabc0,-2,-0.738087,2017-12-02 21:39:00,NaN,-1,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112037,1,C_ID_e93d39ef60,-1,1,1,B,839,M_ID_50076f761c,-1,-0.589580,2018-01-14 13:23:13,NaN,-1,29
29112038,1,C_ID_355c825efc,-1,1,1,B,755,M_ID_57df19bf28,0,-0.696494,2017-05-20 05:08:12,NaN,-1,8
29112039,1,C_ID_355c825efc,-1,1,1,B,755,M_ID_57df19bf28,-4,-0.696494,2017-01-20 05:07:42,NaN,-1,8
29112040,1,C_ID_355c825efc,-1,1,1,B,755,M_ID_57df19bf28,-2,-0.696494,2017-03-20 08:01:47,NaN,-1,8
29112041,1,C_ID_355c825efc,-1,1,1,B,755,M_ID_57df19bf28,-3,-0.696494,2017-02-20 05:34:59,NaN,-1,8
29112042,1,C_ID_355c825efc,-1,1,1,B,755,M_ID_57df19bf28,-1,-0.696494,2017-04-20 05:02:51,NaN,-1,8
29112045,1,C_ID_05042ebd55,-1,0,0,A,703,M_ID_051eacb2a3,-2,-0.716855,2017-12-31 16:27:35,NaN,-1,29
29112046,1,C_ID_05042ebd55,-1,0,0,A,80,M_ID_9ecff0beda,0,-0.705585,2018-02-07 12:34:06,NaN,-1,37
29112048,1,C_ID_05042ebd55,-1,0,0,A,278,M_ID_814793f74b,0,-0.725871,2018-02-09 15:04:41,NaN,-1,37
29112049,1,C_ID_e4ca8e35f6,137,0,-1,NaN,769,M_ID_6c5cca0aa2,-2,-0.042014,2017-11-25 00:00:00,3.0,19,32
29112062,1,C_ID_2a73e65860,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.745405,2018-02-05 20:10:25,NaN,-1,8
29112064,1,C_ID_2a73e65860,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.689957,2018-02-05 20:10:28,NaN,-1,8
29112065,1,C_ID_2a73e65860,-1,1,4,C,665,M_ID_076cd8a829,-2,1.564019,2017-12-06 13:28:23,NaN,-1,3
29112066,1,C_ID_2a73e65860,138,0,-1,NaN,514,M_ID_17bdd9e338,-1,1.687387,2018-01-18 09:46:15,1.0,15,9
29112073,1,C_ID_742521ebbd,-1,1,1,B,-1,M_ID_49d4a8510e,-1,-0.717005,2017-05-19 09:09:18,NaN,-1,-1
29112074,1,C_ID_742521ebbd,-1,1,1,B,-1,M_ID_49d4a8510e,-4,-0.717005,2017-02-18 23:28:50,NaN,-1,-1
29112075,1,C_ID_742521ebbd,-1,1,1,B,-1,M_ID_49d4a8510e,-3,-0.717005,2017-03-19 12:12:36,NaN,-1,-1
29112076,1,C_ID_742521ebbd,-1,1,1,B,-1,M_ID_49d4a8510e,-2,-0.717005,2017-04-19 09:12:06,NaN,-1,-1
29112106,1,C_ID_ab2b159c74,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.712497,2017-06-16 07:32:44,NaN,-1,8
29112107,1,C_ID_ab2b159c74,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.745405,2017-05-16 20:17:54,NaN,-1,8
29112108,1,C_ID_ab2b159c74,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.689957,2017-07-17 07:41:06,NaN,-1,8
29112109,1,C_ID_0d306be6ab,-1,1,10,C,690,M_ID_dbc292fa65,-3,2.370177,2017-11-23 22:56:17,NaN,-1,1
29112110,1,C_ID_0d306be6ab,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.689957,2018-01-08 11:59:59,NaN,-1,8
29112111,1,C_ID_0d306be6ab,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.717005,2017-12-08 20:55:25,NaN,-1,8
29112112,1,C_ID_0d306be6ab,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.689957,2018-02-08 10:35:00,NaN,-1,8
29112113,1,C_ID_c463588249,-1,1,12,C,879,M_ID_00a6ca8a8a,-2,0.513516,2017-10-30 14:45:50,NaN,-1,29
29112114,1,C_ID_c463588249,-1,1,1,B,511,M_ID_28f1b3a0e7,-4,-0.672241,2017-08-26 15:34:30,NaN,-1,7
29112116,1,C_ID_c463588249,-1,1,1,B,400,M_ID_28f1b3a0e7,-6,-0.743903,2017-06-27 17:45:18,NaN,-1,7
29112117,1,C_ID_c463588249,-1,1,1,B,879,M_ID_00a6ca8a8a,-1,-0.739395,2017-11-17 13:52:44,NaN,-1,29
29112118,1,C_ID_c463588249,-1,1,1,B,302,M_ID_862a834432,0,-0.483944,2017-12-16 12:47:18,NaN,-1,22
29112123,1,C_ID_f913e98223,63,0,-1,NaN,45,M_ID_52cb928c77,0,-0.641722,2018-02-01 07:48:11,1.0,9,18
29112124,1,C_ID_6f572ffe10,-1,1,1,B,734,M_ID_05c0c1c805,-3,-0.626846,2017-11-29 13:53:05,NaN,-1,25
29112125,1,C_ID_6f572ffe10,-1,1,1,B,734,M_ID_05c0c1c805,-1,-0.626846,2018-01-29 05:53:02,NaN,-1,25
29112126,1,C_ID_6f572ffe10,-1,1,1,B,734,M_ID_05c0c1c805,-2,-0.626846,2017-12-31 01:49:36,NaN,-1,25
29112131,1,C_ID_4fa1c21a3d,-1,1,1,B,879,M_ID_00a6ca8a8a,-2,-0.716855,2017-11-12 13:46:15,NaN,-1,29
29112143,1,C_ID_2f4e0548d3,-1,1,1,B,385,M_ID_91d072ee49,0,-0.598927,2018-02-14 16:48:27,NaN,-1,17
29112144,1,C_ID_2f4e0548d3,-1,1,1,B,385,M_ID_91d072ee49,-2,-0.598927,2017-12-14 13:05:19,NaN,-1,17
29112145,1,C_ID_2f4e0548d3,-1,1,1,B,839,M_ID_e5374dabc0,-10,-0.740897,2017-04-28 06:44:00,NaN,-1,29
29112146,1,C_ID_2f4e0548d3,-1,1,1,B,385,M_ID_91d072ee49,-1,-0.598927,2018-01-14 13:38:35,NaN,-1,17
29112147,1,C_ID_85b03d971e,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.701979,2017-02-20 08:04:15,NaN,-1,8
29112148,1,C_ID_85b03d971e,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.701979,2017-03-20 11:18:32,NaN,-1,8
29112149,1,C_ID_85b03d971e,-1,1,1,B,661,M_ID_fc7d7969c3,-3,-0.701979,2017-01-20 09:57:18,NaN,-1,8
29112150,1,C_ID_85b03d971e,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.701979,2017-04-20 07:17:23,NaN,-1,8
29112154,1,C_ID_a88c6fa356,-1,1,1,B,491,M_ID_79692349d6,-5,-0.306030,2017-09-19 01:43:39,NaN,-1,3
29112179,1,C_ID_a4d96fa5b1,-1,1,12,C,879,M_ID_9139332ccc,-4,0.543719,2017-09-25 13:54:49,NaN,-1,29
29112180,1,C_ID_a4d96fa5b1,-1,1,10,C,879,M_ID_9139332ccc,0,-0.454913,2018-01-24 16:08:11,NaN,-1,29
29112184,1,C_ID_d4187d9e94,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.745405,2018-01-05 21:10:17,NaN,-1,8
29112186,1,C_ID_d4187d9e94,-1,1,1,B,111,M_ID_4e0998dc98,0,-0.705810,2018-02-15 14:54:20,NaN,-1,36
29112189,1,C_ID_b6af420785,-1,1,5,C,68,M_ID_b865aa238e,0,0.731055,2018-01-28 18:07:38,NaN,-1,27
29112192,1,C_ID_556a19e1be,-1,1,1,B,879,M_ID_9139332ccc,0,-0.506484,2018-02-01 22:36:04,NaN,-1,29
29112193,1,C_ID_556a19e1be,-1,1,2,C,210,M_ID_6464db3b45,-3,-0.357871,2017-11-29 19:07:50,NaN,-1,35
29112202,1,C_ID_fdd1e1cf01,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.704984,2018-02-02 12:50:39,NaN,-1,8
29112204,1,C_ID_fdd1e1cf01,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.704984,2017-12-02 15:50:03,NaN,-1,8
29112205,1,C_ID_fdd1e1cf01,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.717005,2017-12-02 15:21:07,NaN,-1,8
29112206,1,C_ID_fdd1e1cf01,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.704984,2018-01-02 11:18:39,NaN,-1,8
29112214,1,C_ID_ac50b42ec9,-1,1,12,C,879,M_ID_00a6ca8a8a,-1,0.513516,2018-01-23 17:31:05,NaN,-1,29
29112218,1,C_ID_3ca0862d83,-1,1,1,B,879,M_ID_b9dcf28cb9,-2,-0.566590,2017-10-15 14:47:14,NaN,-1,29
29112227,1,C_ID_925880baa8,-1,1,5,C,544,M_ID_3111c6df35,-1,0.040136,2017-12-21 21:30:43,NaN,-1,29
29112242,1,C_ID_a3c98c59c7,-1,1,3,C,818,M_ID_7212fbc826,-3,-0.175900,2017-11-29 14:09:02,NaN,-1,12
29112251,1,C_ID_f382ec48d4,-1,1,1,B,184,M_ID_291c045ffd,-3,-0.694315,2017-02-07 18:25:37,NaN,-1,40
29112252,1,C_ID_f382ec48d4,-1,1,1,B,184,M_ID_291c045ffd,-2,-0.694315,2017-03-09 07:44:00,NaN,-1,40
29112253,1,C_ID_f382ec48d4,-1,1,1,B,184,M_ID_291c045ffd,-4,-0.694315,2017-01-08 21:00:46,NaN,-1,40
29112254,1,C_ID_f382ec48d4,-1,1,1,B,184,M_ID_291c045ffd,0,-0.694315,2017-05-08 10:39:56,NaN,-1,40
29112255,1,C_ID_564f9f299e,-1,1,1,B,80,M_ID_5f6f9d48e2,-2,-0.523013,2017-12-02 16:50:13,NaN,-1,37
29112256,1,C_ID_564f9f299e,-1,1,1,B,80,M_ID_5f6f9d48e2,-3,-0.523013,2017-11-01 15:20:16,NaN,-1,37
29112257,1,C_ID_564f9f299e,-1,1,1,B,80,M_ID_5f6f9d48e2,-1,-0.523013,2018-01-02 16:45:48,NaN,-1,37
29112258,1,C_ID_564f9f299e,-1,1,1,B,80,M_ID_5f6f9d48e2,-4,-0.523013,2017-10-11 13:33:56,NaN,-1,37
29112259,1,C_ID_564f9f299e,-1,1,1,B,80,M_ID_5f6f9d48e2,0,-0.523013,2018-02-02 17:51:26,NaN,-1,37
29112274,1,C_ID_fc329a33d3,-1,1,2,C,506,M_ID_61721b0994,-5,-0.614825,2017-07-28 14:05:53,NaN,-1,30
29112275,1,C_ID_fc329a33d3,-1,1,1,B,506,M_ID_61721b0994,-5,-0.742400,2017-07-28 14:05:54,NaN,-1,30
29112278,1,C_ID_26110c46b5,-1,0,-1,NaN,605,M_ID_9216fbd6b0,-1,-0.512494,2018-01-27 06:09:56,NaN,-1,2
29112279,1,C_ID_26110c46b5,-1,1,3,C,879,M_ID_ef87dd1879,0,-0.396580,2018-02-01 17:25:29,NaN,-1,29
29112280,1,C_ID_26110c46b5,-1,0,1,B,705,M_ID_b60ad0c9e8,0,-0.651850,2018-02-12 23:19:29,NaN,-1,33
29112281,1,C_ID_26110c46b5,-1,0,2,C,506,M_ID_9952f6d863,-2,-0.521510,2017-12-27 14:44:13,NaN,-1,30
29112290,1,C_ID_fbf62043ea,-1,1,1,B,755,M_ID_8fadd601d2,0,-0.689972,2017-07-20 14:51:27,NaN,-1,8
29112298,1,C_ID_acee1fd6dd,-1,1,1,B,879,M_ID_9139332ccc,0,-0.696734,2018-02-12 17:50:41,NaN,-1,29
29112299,1,C_ID_acee1fd6dd,-1,1,1,B,879,M_ID_9139332ccc,-3,-0.584802,2017-11-05 22:23:16,NaN,-1,29
29112301,1,C_ID_acee1fd6dd,-1,1,1,B,879,M_ID_9139332ccc,0,-0.662158,2018-02-12 17:45:54,NaN,-1,29
29112307,1,C_ID_5a397de34c,-1,0,0,A,705,M_ID_95537bc1ab,-1,-0.719650,2017-02-18 12:07:26,NaN,-1,33
29112309,1,C_ID_5a397de34c,-1,0,0,A,278,M_ID_a883a1d0b8,-2,-0.706351,2017-01-24 13:18:22,NaN,-1,37
29112316,1,C_ID_d4848aff3a,-1,1,1,B,755,M_ID_57df19bf28,-2,-0.709342,2017-02-28 17:08:15,NaN,-1,8
29112317,1,C_ID_d4848aff3a,-1,1,1,B,755,M_ID_57df19bf28,-1,-0.709342,2017-03-28 10:36:26,NaN,-1,8
29112318,1,C_ID_d4848aff3a,-1,1,1,B,755,M_ID_57df19bf28,0,-0.709342,2017-04-25 09:26:51,NaN,-1,8
29112319,1,C_ID_7e868f2655,-1,1,10,C,834,M_ID_29ec8d2ab8,0,-0.135734,2017-03-04 00:17:31,NaN,-1,27
29112320,1,C_ID_7e868f2655,-1,1,1,B,574,M_ID_6f274b9340,-2,-0.739410,2017-01-04 09:44:40,NaN,-1,22
29112321,1,C_ID_7e868f2655,-1,1,6,C,550,M_ID_09d7a200d1,-1,-0.006612,2017-02-16 21:31:49,NaN,-1,3
29112327,1,C_ID_f7ba75a575,-1,1,8,C,317,M_ID_cd90b7d71e,-2,-0.085741,2017-12-17 19:18:24,NaN,-1,25
29112328,1,C_ID_f7ba75a575,-1,1,1,B,755,M_ID_8fadd601d2,0,-0.668845,2018-02-10 12:15:01,NaN,-1,8
29112329,1,C_ID_f7ba75a575,-1,1,1,B,755,M_ID_8fadd601d2,-1,-0.668935,2018-01-20 18:05:41,NaN,-1,8
29112332,1,C_ID_e43fce4842,-1,1,10,C,544,M_ID_3111c6df35,-6,-0.040692,2017-08-03 15:06:50,NaN,-1,29
29112333,1,C_ID_112832329d,-1,1,8,C,210,M_ID_cfa9a773ca,0,0.502952,2018-01-29 15:08:56,NaN,-1,35
29112334,1,C_ID_112832329d,-1,1,4,C,210,M_ID_6464db3b45,-1,0.506889,2017-12-11 19:03:31,NaN,-1,35
29112340,1,C_ID_f9f906a4a2,-1,1,1,B,661,M_ID_fc7d7969c3,-1,-0.704984,2018-01-01 18:33:46,NaN,-1,8
29112341,1,C_ID_f9f906a4a2,-1,1,1,B,661,M_ID_fc7d7969c3,0,-0.704984,2018-02-01 18:06:30,NaN,-1,8
29112342,1,C_ID_f9f906a4a2,-1,1,1,B,661,M_ID_fc7d7969c3,-2,-0.745405,2017-12-24 00:19:52,NaN,-1,8
29112349,1,C_ID_62df280b20,-1,1,2,C,489,M_ID_244299ea12,-2,1.363355,2017-09-18 20:35:39,NaN,-1,16
29112350,1,C_ID_62df280b20,-1,1,2,C,489,M_ID_244299ea12,-3,0.032638,2017-08-08 14:36:26,NaN,-1,16
29112354,1,C_ID_e49b1996b0,-1,1,1,B,550,M_ID_09d7a200d1,-1,-0.656749,2018-01-23 01:52:28,NaN,-1,3
29112356,1,C_ID_2863d2fa95,-1,1,1,B,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,NaN,-1,34
29112357,1,C_ID_2863d2fa95,-1,1,1,B,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,NaN,-1,34

In [8]:
cnt_cols = ['city_id', 'state_id', 'subsector_id', 'installments']
cnt_cols = ['merchant_category_id']
for col in cnt_cols:
    auth1[col] =  auth1[col].replace(-1, np.nan)
    auth0[col] =  auth0[col].replace(-1, np.nan)
    df_new[col] =  df_new[col].replace(-1, np.nan)

### Null Count

In [73]:
for fname, df in zip(['auth1', 'auth0', 'new'],[auth1, auth0, df_new]):
    tmp = df[df.isnull().any(axis=1)]
    df_nan = pd.concat([tmp[key], (~(tmp==tmp)).sum(axis=1)], axis=1).rename(columns={0:f'{fname}_null_cnt'})
    df_nan = df_nan.groupby(key)[f'{fname}_null_cnt'].sum()
    df_train = df_train.join(df_nan)
    df_test = df_test.join(df_nan)
    
null_cols = [col for col in df_train.columns if col.count('null_')]
df_train[null_cols].fillna(0, inplace=True)
df_train['all_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['all_null_cnt'] = df_test[null_cols].sum(axis=1)
# df_train.drop(null_cols, axis=1, inplace=True)
df_train.fillna(0, inplace=True)
df_test.fillna(0, inplace=True)
df_train.head(10)

,first_active_month,feature_1,feature_2,feature_3,target,auth1_null_cnt,auth0_null_cnt,new_null_cnt,all_null_cnt
card_id,,,,,,,,,
C_ID_92a2005557,2017-06,5,2,1,-0.820283,5.0,1.0,NaN,6.0
C_ID_3d0044924f,2017-01,4,1,0,0.392913,91.0,6.0,NaN,97.0
C_ID_d639edf6cd,2016-08,2,2,0,0.688056,NaN,NaN,NaN,0.0
C_ID_186d6a6901,2017-09,4,3,0,0.142495,40.0,NaN,3.0,43.0
C_ID_cdbd2c0db2,2017-11,1,3,0,-0.159749,37.0,9.0,5.0,51.0
C_ID_0894217f2f,2016-09,4,2,0,0.871585,3.0,NaN,NaN,3.0
C_ID_7e63323c00,2016-12,3,2,1,0.230129,1.0,NaN,NaN,1.0
C_ID_dfa21fc124,2017-09,3,2,1,2.135850,NaN,NaN,NaN,0.0
C_ID_fe0fdac8ea,2017-08,2,1,0,-0.065406,NaN,12.0,NaN,12.0
C_ID_bf62c0b49d,2016-08,2,2,0,0.300062,2.0,3.0,NaN,5.0

In [10]:
cnt_cols = ['category_2', 'category_3', 'merchant_category_id', 'city_id', 'state_id', 'subsector_id', 'installments']
for fname, df in zip(['auth1', 'auth0', 'new'],[auth1, auth0, df_new]):
    for col in cnt_cols:
        tmp = df[[key, col]]
        tmp = tmp[tmp.isnull().any(axis=1)]
        df_nan = pd.concat([tmp[key], (~(tmp==tmp)).sum(axis=1)], axis=1).rename(columns={0:f'{fname}_{col}_null_cnt'})
        df_nan = df_nan.groupby(key)[f'{fname}_{col}_null_cnt'].sum()
        df_train = df_train.join(df_nan)
        df_test = df_test.join(df_nan)
    
null_cols = [col for col in df_train.columns if col.count('null_')]
df_train[null_cols].fillna(0, inplace=True)
df_train['all_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['all_null_cnt'] = df_test[null_cols].sum(axis=1)
# df_train.drop(null_cols, axis=1, inplace=True)
df_train.fillna(0, inplace=True)
df_test.fillna(0, inplace=True)
df_train.head(10)

,first_active_month,feature_1,feature_2,feature_3,target,auth1_null_cnt,auth1_category_2_null_cnt,auth1_category_3_null_cnt,auth1_merchant_category_id_null_cnt,auth1_city_id_null_cnt,auth1_state_id_null_cnt,auth1_subsector_id_null_cnt,auth1_installments_null_cnt,auth0_category_2_null_cnt,auth0_category_3_null_cnt,auth0_merchant_category_id_null_cnt,auth0_city_id_null_cnt,auth0_state_id_null_cnt,auth0_subsector_id_null_cnt,auth0_installments_null_cnt,new_category_2_null_cnt,new_category_3_null_cnt,new_merchant_category_id_null_cnt,new_city_id_null_cnt,new_state_id_null_cnt,new_subsector_id_null_cnt,new_installments_null_cnt,all_null_cnt
card_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
C_ID_92a2005557,2017-06,5,2,1,-0.820312,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
C_ID_3d0044924f,2017-01,4,1,0,0.392822,91.0,29.0,2.0,0.0,29.0,29.0,0.0,2.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,188.0
C_ID_d639edf6cd,2016-08,2,2,0,0.687988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C_ID_186d6a6901,2017-09,4,3,0,0.142456,40.0,12.0,2.0,0.0,12.0,12.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,83.0
C_ID_cdbd2c0db2,2017-11,1,3,0,-0.159790,37.0,12.0,0.0,0.0,12.0,12.0,0.0,0.0,3.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,87.0
C_ID_0894217f2f,2016-09,4,2,0,0.871582,3.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
C_ID_7e63323c00,2016-12,3,2,1,0.230103,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
C_ID_dfa21fc124,2017-09,3,2,1,2.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C_ID_fe0fdac8ea,2017-08,2,1,0,-0.065430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
C_ID_bf62c0b49d,2016-08,2,2,0,0.300049,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [16]:
df_train['category_2_city_diff_null_cnt'] = df_train['auth1_category_2_null_cnt'] - df_train['auth1_city_id_null_cnt']
df_test['category_2_city_diff_null_cnt'] = df_test['auth1_category_2_null_cnt'] - df_test['auth1_city_id_null_cnt']

null_cols = [col for col in df_train.columns if col.count('null_') and ( col.count('city') or col.count('category_3') or col.count('merchant') or col.count('install') )]
df_train['all_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['all_null_cnt'] = df_test[null_cols].sum(axis=1)

null_cols = [col for col in df_train.columns if col.count('auth1_') and ( col.count('city') or col.count('category_3') or col.count('merchant') or col.count('install') )]
df_train['auth1_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['auth1_null_cnt'] = df_test[null_cols].sum(axis=1)

null_cols = [col for col in df_train.columns if col.count('auth0_') and ( col.count('city') or col.count('category_3') or col.count('merchant') or col.count('install') )]
df_train['auth0_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['auth0_null_cnt'] = df_test[null_cols].sum(axis=1)

null_cols = [col for col in df_train.columns if col.count('new_') and ( col.count('city') or col.count('category_3') or col.count('merchant') or col.count('install') )]
df_train['new_null_cnt'] = df_train[null_cols].sum(axis=1)
df_test['new_null_cnt'] = df_test[null_cols].sum(axis=1)

### Save feature

In [17]:
fname = '153_nlc'
ignore_features = ['first_active_month', 'card_id', target]

for col in df_train.columns:
    if (col.count('state')):continue
    if (col.count('subsec')):continue
    if (col.count('category_2_null')):continue
    if not(col.count('null_')):continue
    length = len(df_train[col].dropna())
    if length/len(df_train)<0.1:
        print(col)
        continue
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{fname}_train_{col}@', obj=df_train[col].values)
    utils.to_pkl_gzip(path = f'../features/1_first_valid/{fname}_test_{col}@', obj=df_test[col].values)