In [34]:
is_stack = [True, False][0]
debug = False
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
import numpy as np
import os
import sys
import time
import datetime
import glob
sys.path.append('../py/')
from s027_kfold_ods import ods_kfold
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import logger_func, get_categorical_features, get_numeric_features, reduce_mem_usage, elo_save_feature, impute_feature
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

from sklearn.metrics import mean_squared_error, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold, KFold, train_test_split

#========================================================================
# Keras 
# Corporación Favorita Grocery Sales Forecasting
from sklearn.linear_model import Ridge
#========================================================================


#========================================================================
# Args
out_part = ['', 'part', 'all'][0]
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg']
stack_name='ridge'
submit = pd.read_csv('../input/sample_submission.csv')
model_type='ridge'
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())
seed = 328
#========================================================================

#========================================================================
# Data Load 
def get_stack_dataset(lgb_path='', is_clf_out=False, is_no_out_flg=False, is_rm_out=False, is_binary=False, is_nn=False, is_rmf=False, is_ext=False, is_rid=False, is_random=False, seed=seed):
#     print("Preparing dataset...")
    base = utils.read_df_pkl('../input/base_no_out_clf.gz', use_tqdm=False).set_index(key)
    
    #========================================================================
    # Base Model Path
    #========================================================================
    # Clf Out Model
    if is_clf_out: ens_list = glob.glob('../ensemble/clf_min_thres_ensemble/*.gz')
    # No Out Flg Model
    elif is_no_out_flg: ens_list = glob.glob('../no_out_flg_ensemble/*.gz')
    elif is_rm_out: ens_list = glob.glob('../ensemble/rm_outlier_ensemble/*.gz')
    elif is_binary:
        model_type='lgr'
        lgb_list = glob.glob('../stack/*binary*.gz')
        nn_list = []
        ens_list = lgb_list + nn_list
    #========================================================================
    # Base Model
    else:
        if is_random:
            np.random.seed(seed)
            lgb_list = list(np.random.choice(lgb_list, 10))
#             nn_list = list(np.random.choice(nn_list, 1))
        nn_list = []
        rid_list = []
        ext_list = []
        rmf_list = []
        if is_nn : nn_list = glob.glob('../ensemble/NN_ensemble/*.gz')
        if is_rmf: rmf_list = glob.glob('../ensemble/various_model/*rmf*.gz')
        if is_ext: ext_list = glob.glob('../ensemble/various_model/*ext*.gz')
        if is_rid: rid_list = glob.glob('../ensemble/various_model/*ridge*.gz')
        lgb_list = glob.glob(lgb_path)
#         lgb_list = glob.glob(lgb_path) + glob.glob('../ensemble/rm_outlier_ensemble/tmp/*.gz')
        ens_list = lgb_list + nn_list + rid_list + rmf_list + ext_list
    
    #========================================================================
    # Stack Models Load
    from joblib import Parallel, delayed
    def parallel_stack_model(model_path):
        try:
            cv = re.search(r'CV([^/.]*)_LB.gz', model_path).group(1)
        except AttributeError:
            cv = re.search(r'CV([^/.]*).gz', model_path.replace('.', '-')).group(1)
        tmp = utils.read_pkl_gzip(model_path)
        if key not in tmp.columns:
            tmp.reset_index(inplace=True)
        if 'pred_mean' in tmp.columns:
            tmp = tmp[[key, 'pred_mean']]
        else:
            tmp = tmp[[key, 'prediction']]
            
        if model_path.count('lgb'):
            tmp.columns = [key, f"base_lgb_{cv}"]
        elif model_path.count('NN'):
            tmp.columns = [key, f"base_NN_{cv}"]
        elif model_path.count('ridge'):
            tmp.columns = [key, f"base_ridge_{cv}"]
        elif model_path.count('rmf'):
            tmp.columns = [key, f"base_rmf_{cv}"]
        elif model_path.count('ext'):
            tmp.columns = [key, f"base_ext_{cv}"]
        else:
            tmp.columns = [key, f"base_model_{cv}"]
        return tmp.set_index(key)
    #========================================================================
    
    p_list = Parallel(n_jobs=-1)([delayed(parallel_stack_model)(model_path) for model_path in ens_list])
    df_pred = pd.concat(p_list, axis=1)
    if is_rm_out:
        cv15 = [col for col in df_pred.columns if col.count('1-5')]
        cv8 = [col for col in df_pred.columns if col.count('8-')]
        df_pred['tmp_mean'] = df_pred[cv8].mean(axis=1).values
        for col in cv15:
            df_pred.loc[df_pred[col].isnull(), col] = df_pred.loc[df_pred[col].isnull(), 'tmp_mean']
    base = base.join(df_pred)
    
    #========================================================================
    
    if key in base.columns:
        train = base[~base[target].isnull()]
        test = base[base[target].isnull()]
    else:
        train = base[~base[target].isnull()].reset_index()
        test = base[base[target].isnull()].reset_index()
    
    if is_rm_out:
        train = train[~train[target].isnull()]
    elif is_clf_out:
        train = train[train['clf_pred']<0.01]
        test = test[test['clf_pred']<0.01]
    elif is_binary:
        train[target] = train[target].map(lambda x: 1 if x<-30 else 0)
        
#     display(train.head())
    
    return train, test

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
from sklearn.linear_model import LogisticRegression

base = utils.read_df_pkl('../input/base_no_out_clf.gz')[[key, target, 'clf_pred']].set_index(key)
valid_type = ['ods', 'pmo' ,'pm' ,'term'][0]
# lgb_path = '../ensemble/pmo_all_stack_level1/*.gz'
# lgb_path = '../model/LB3664_set/*_lgb_*.gz'
lgb_path = '../ensemble/dir_stack_blend/tmp/*_lgb_*.gz'
# lgb_path = '../ensemble/rm_outlier_ensemble/tmp/*_lgb_*.gz'
#========================================================================
# Make Dataset 
is_clf_out = [True, False][1]
is_no_out_flg = [True, False][1]
is_rm_out = [True, False][1]
is_binary = [True, False][1]
is_blend = [True, False][1]
is_nn = 0
is_rid = 0
is_rmf = 0
is_ext = 0
is_random = 0
seed_size = 1
pred_col = 'prediction'
#========================================================================
    
#========================================================================
# CVの準備
seed = 328
fold_seed = 328
fold_seed = 1208
seed_list = [328, 1208]
seed_list += list(range(30))
# seed_list = [328]
fold = 6

if is_rm_out:
    set_type = 'rm_out'
else:
    set_type = 'all'

#========================================================================
# Dataset
submit = pd.read_csv('../input/sample_submission.csv').set_index(key)
result_list = []
score_list = []
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg', 'clf_pred']
#========================================================================
    
#========================================================================
# NN Model Setting 
params = {}
if is_binary:
    params['n_jobs']=-1
    params['C']=1.0
    params['solver'] ='liblinear'
    params['fit_intercept']=True
    params['max_iter']=1000
    params['tol']=0.01
    params['random_state']=seed
    model = LogisticRegression(**params)
else:
    params['solver'] ='auto'
    params['fit_intercept']=True
    params['alpha']=0.4
    params['max_iter']=1000
    params['normalize']=False
    params['tol']=0.01
    params['random_state']=seed
    model = Ridge(**params)
    
lazy_target = base[base['clf_pred']<0.01].reset_index()
eazy_target = base[base['clf_pred']>=0.01].reset_index()

valid_list = [lazy_target, eazy_target]

train, test = get_stack_dataset(lgb_path=lgb_path, is_rmf=is_rmf, is_ext=is_ext, is_nn=is_nn, is_random=is_random, seed=seed)
if is_rm_out:
    train = train[train[target]>-30]

oof_pred = np.zeros(len(base))
seed_pred = np.zeros(len(test))

for seed_no, fold_seed in enumerate(seed_list):
    
#     if is_rm_out:
#         kfold = utils.read_pkl_gzip('../input/kfold_ods_no_out_fold6_seed328.gz')
#     elif is_clf_out:
#         kfold = utils.read_pkl_gzip('../input/kfold_ods_clf_out_fold6_seed328.gz')
#     else:
# #         kfold = utils.read_pkl_gzip(f'../input/kfold_{valid_type}_all_fold6_seed{fold_seed}.gz')
#         kfold = utils.read_pkl_gzip(f'../input/kfold_ods_equal_seed328.gz')
    kfold = utils.get_kfold(valid_list, fold_seed)    
     
    #========================================================================
    # Preset
    use_cols = sorted([col for col in train.columns if col.count('base_')])
    lgb_list = [col for col in use_cols if col.count('lgb')]
    nn_list = [col for col in use_cols if col.count('NN')]
    ext_list = [col for col in use_cols if col.count('ext')]
    best_score = 100
    best_score_list = []
    test_pred = np.zeros(len(test))
    Y = train[target]
    result_list = []
    #========================================================================

    #========================================================================
    # Train & Prediction Start
    for fold_no, (trn_idx, val_idx) in enumerate(zip(*kfold)):
        if is_blend:
            break
            
        if key not in train.columns:
            train = train.reset_index()
            test = test.reset_index() 
             
        #========================================================================
        # Make Dataset
        scaler = StandardScaler()
        scaler.fit(pd.concat([train[use_cols], test[use_cols]]))
        x_test = scaler.transform(test[use_cols])

        X_train, y_train = train.loc[train[key].isin(trn_idx), :][use_cols], Y.loc[train[key].isin(trn_idx)]
        X_val, y_val = train.loc[train[key].isin(val_idx), :][use_cols], Y.loc[train[key].isin(val_idx)]
        
        X_train[:] = scaler.transform(X_train)
        X_val[:] = scaler.transform(X_val)
        X_train = X_train.as_matrix()
        X_val = X_val.as_matrix()
    
#         print(f"Train: {X_train.shape} | Valid: {X_val.shape} | Test: {x_test.shape}")
        #========================================================================
        
        # Fitting
#         print(X_train[:5])
        model.fit(X_train, y_train)
        
        # Prediction
        if is_binary:
            y_pred = model.predict_proba(X_val)[:, 1]
#         elif is_rm_out:
#             X_val = train.loc[~train[key].isin(trn_idx), :]
#             y_pred = model.predict(X_val[use_cols])
#             y_val = X_val[target].values
        else:
            y_pred = model.predict(X_val)
        
        test_pred += model.predict(x_test)
        
        # Stack Prediction
#         if is_rm_out:
        if False:
            if fold_no==0:
                df_pred = train[[key, target]].set_index(key)
            self_valid = X_val[[key, target]].set_index(key)
            self_valid[f'pred_{fold_no}'] = y_pred
            df_pred = df_pred.join(self_valid.drop(target, axis=1))
        else:
            df_pred = train.loc[train[key].isin(val_idx), :][[key, target]].copy()
            df_pred['prediction'] = y_pred
            result_list.append(df_pred)
        
        # Scoring
        if is_binary:
            score = np.sqrt(roc_auc_score(y_val, y_pred))
        else:
            score = np.sqrt(mean_squared_error(y_val, y_pred))
        score_list.append(score)
        #========================================================================
    
    cv_score = np.mean(score_list)

    #========================================================================
    # Stacking
    test_pred /= fold_no+1
    test['prediction'] = test_pred
#     seed_pred += test_pred
#     test['prediction'] = seed_pred / (seed_no+1)
    df_pred = test[[key, 'prediction']]
    print(df_pred['prediction'].values[:10])
    result_list.append(df_pred)
    
    df_pred = pd.concat(result_list, axis=0, ignore_index=True).drop(target, axis=1)
    if key not in base:
        base.reset_index(inplace=True)
    df_pred = base[[key, target]].merge(df_pred, how='inner', on=key)
    
    oof_pred += df_pred['prediction'].values
    
    #========================================================================
    # outlierに対するスコアを出す
    if is_rm_out or is_binary:
        out_score = 0
    else:
        if key not in train.columns:
            train.reset_index(inplace=True)
        out_ids = train.loc[train.target<-30, key].values
        out_val = train.loc[train.target<-30, target].values
        out_pred = df_pred[df_pred[key].isin(out_ids)]['prediction'].values
        out_score = np.sqrt(mean_squared_error(out_val, out_pred))
    #========================================================================
    
    check_oof = oof_pred/(seed_no+1)
    print(f'''
#========================================================================
# Seed: {fold_seed} | CV SCORE AVG: {cv_score} | OUT SCORE: {out_score} | {check_oof[:3]} | {check_oof[-3:]}
#========================================================================''')
    if cv_score<best_score:
    
        best_score = cv_score
        best_score_list = use_cols
        
oof_pred = oof_pred / (seed_no+1)
df_pred['prediction'] = oof_pred
display(df_pred.head())
display(df_pred.tail())
        
#========================================================================
# Save Stack
utils.to_pkl_gzip(path=f"../stack/{start_time[4:12]}_stack_{model_type}_set-{set_type}_valid-{valid_type}-seed{fold_seed}_lgb{len(lgb_list)}_NN{is_nn}_ridge{is_rid}_ext{is_ext}_rmf{is_rmf}_OUT{str(out_score)[:7]}_CV{cv_score}_LB" , obj=df_pred[[key, 'prediction']])
#========================================================================
sys.exit()
    
#========================================================================
# Submission
df_pred.set_index(key, inplace=True)
submit[target] = df_pred['prediction']
submit_path = f'../submit/{start_time[4:12]}_submit_{model_type}_set-{set_type}_lgb{len(lgb_list)}_NN{len(nn_list)}_other{len(other_list)}_OUT{str(out_score)[:7]}_CV{cv_score}_LB.csv'
submit.to_csv(submit_path, index=True)
display(submit.head())
#========================================================================

100%|██████████| 1/1 [00:00<00:00,  4.15it/s]

reading ../input/base_no_out_clf.gz
[-1.3624335  -0.35634117 -1.33485325 -0.14867652 -1.29896603  0.34796406
  0.19205029  0.39484679 -0.32554316 -1.40029491]

#========================================================================
# Seed: 328 | CV SCORE AVG: 3.6111670791080415 | OUT SCORE: 29.64638213264338 | [-0.33477421 -0.63591849  0.68853019] | [ 0.76240706 -3.55185174  0.22186158]
#========================================================================
[-1.36111577 -0.35598428 -1.33514907 -0.14841262 -1.29937814  0.34855701
  0.19233105  0.3945477  -0.32541478 -1.40260581]

#========================================================================
# Seed: 1208 | CV SCORE AVG: 3.611534846672558 | OUT SCORE: 29.646627034446844 | [-0.34121005 -0.66913031  0.71799634] | [ 0.76291356 -3.55738142  0.22227832]
#========================================================================
[-1.36052866 -0.35528314 -1.33571339 -0.14817937 -1.29893361  0.34862042
  0.19245375  0.39562489 -0.32542207 -1.40058449]

#========================================================================
# Seed: 0 | CV SCORE AVG: 3.61174124412314 | OUT SCORE: 29.647661119375414 | [-0.33649032 -0.63462642  0.72152572] | [ 0.76304448 -3.55714722  0.22223222]
#========================================================================
[-1.36027002 -0.3557322  -1.33629153 -0.14841314 -1.29814323  0.34817981
  0.19210584  0.39597519 -0.32500054 -1.40097585]

#========================================================================
# Seed: 1 | CV SCORE AVG: 3.6117094612999963 | OUT SCORE: 29.63855854696394 | [-0.33806987 -0.64137402  0.71397671] | [ 0.76313779 -3.55747228  0.22227361]
#========================================================================
[-1.36125117 -0.35599876 -1.33512108 -0.14840202 -1.29897992  0.34779185
  0.19229876  0.39551393 -0.32560823 -1.40163615]

#========================================================================
# Seed: 2 | CV SCORE AVG: 3.6115916779185366 | OUT SCORE: 29.636273730114983 | [-0.33688715 -0.63821255  0.72113338] | [ 0.76323906 -3.55741821  0.22224073]
#========================================================================
[-1.36033628 -0.35503671 -1.33497975 -0.14768907 -1.29855163  0.34786967
  0.19189789  0.39539225 -0.32564189 -1.40007325]

#========================================================================
# Seed: 3 | CV SCORE AVG: 3.61184616632068 | OUT SCORE: 29.65161835101739 | [-0.33917719 -0.62959271  0.71966914] | [ 0.76323525 -3.55781799  0.2222657 ]
#========================================================================
[-1.35894161 -0.35566579 -1.3358173  -0.14831117 -1.29913715  0.34857553
  0.19255475  0.39545111 -0.32565288 -1.39952005]

#========================================================================
# Seed: 4 | CV SCORE AVG: 3.6120609910676857 | OUT SCORE: 29.656753441209897 | [-0.34008906 -0.63930776  0.71632595] | [ 0.76320236 -3.5576635   0.22225155]
#========================================================================
[-1.36251479 -0.35558582 -1.33624743 -0.14848114 -1.29906521  0.3489308
  0.19224994  0.39511869 -0.32554865 -1.40212789]

#========================================================================
# Seed: 5 | CV SCORE AVG: 3.6120394570955425 | OUT SCORE: 29.642444070000117 | [-0.33995473 -0.64107565  0.7223551 ] | [ 0.76322513 -3.55800319  0.22233284]
#========================================================================
[-1.36342281 -0.3562484  -1.3351986  -0.14817596 -1.29912355  0.34804327
  0.19252778  0.39456721 -0.32496571 -1.40088283]

#========================================================================
# Seed: 6 | CV SCORE AVG: 3.611952225891717 | OUT SCORE: 29.637608004895277 | [-0.34028631 -0.64507044  0.7273144 ] | [ 0.76327957 -3.55840599  0.22234181]
#========================================================================
[-1.36006322 -0.35523681 -1.33520725 -0.14816934 -1.29890932  0.34791702
  0.1922837   0.3950001  -0.32510117 -1.40054969]

#========================================================================
# Seed: 7 | CV SCORE AVG: 3.6119144716531135 | OUT SCORE: 29.640757536957675 | [-0.33869253 -0.65385672  0.72732524] | [ 0.76327337 -3.5586246   0.2223777 ]
#========================================================================
[-1.36057708 -0.35600867 -1.33518438 -0.1479401  -1.29962636  0.34818732
  0.19257023  0.39482835 -0.32525206 -1.40147663]

#========================================================================
# Seed: 8 | CV SCORE AVG: 3.611942372686533 | OUT SCORE: 29.645972651135096 | [-0.33782047 -0.65663714  0.72703291] | [ 0.76332306 -3.5585164   0.22234747]
#========================================================================
[-1.36189845 -0.35549571 -1.33568685 -0.14845963 -1.2986856   0.34815303
  0.19239211  0.39530288 -0.32537311 -1.39956791]

#========================================================================
# Seed: 9 | CV SCORE AVG: 3.6120965609134776 | OUT SCORE: 29.663922140856243 | [-0.33850066 -0.6542409   0.72793686] | [ 0.7632913  -3.55854643  0.22234075]
#========================================================================
[-1.36004905 -0.35565252 -1.33580934 -0.14819834 -1.29934577  0.3487585
  0.19257739  0.39578697 -0.32569828 -1.39981335]

#========================================================================
# Seed: 10 | CV SCORE AVG: 3.61213106823628 | OUT SCORE: 29.64452901283814 | [-0.33756696 -0.65988711  0.72603924] | [ 0.76328783 -3.55827903  0.22228238]
#========================================================================
[-1.36252251 -0.35567332 -1.33632453 -0.1484314  -1.29930029  0.34856676
  0.19266699  0.39472987 -0.32516172 -1.40116861]

#========================================================================
# Seed: 11 | CV SCORE AVG: 3.6120770358966725 | OUT SCORE: 29.636046058720538 | [-0.33658239 -0.65971093  0.72744897] | [ 0.76332243 -3.55844699  0.22229466]
#========================================================================
[-1.35740055 -0.35536424 -1.33575132 -0.14821746 -1.29852126  0.3478448
  0.19217229  0.39511897 -0.32546213 -1.39971202]

#========================================================================
# Seed: 12 | CV SCORE AVG: 3.6120000175865408 | OUT SCORE: 29.6371478059211 | [-0.33690601 -0.66310502  0.72705979] | [ 0.76333266 -3.55831342  0.22229328]
#========================================================================
[-1.36183803 -0.35577381 -1.33558631 -0.1481952  -1.29896051  0.34817978
  0.19241123  0.39514535 -0.32544025 -1.40056882]

#========================================================================
# Seed: 13 | CV SCORE AVG: 3.6119979717937256 | OUT SCORE: 29.645993805611198 | [-0.33670721 -0.66154125  0.72643257] | [ 0.76332789 -3.55830921  0.22230402]
#========================================================================
[-1.36188679 -0.35594846 -1.33506871 -0.14829636 -1.29946078  0.34833215
  0.19244911  0.39499289 -0.32498931 -1.40061893]

#========================================================================
# Seed: 14 | CV SCORE AVG: 3.612063924690696 | OUT SCORE: 29.65593960639751 | [-0.33618821 -0.66034448  0.7284813 ] | [ 0.76334605 -3.55834385  0.222281  ]
#========================================================================
[-1.36060112 -0.35588061 -1.33464319 -0.14796368 -1.29905486  0.34804155
  0.19222664  0.39532757 -0.32535547 -1.40076878]

#========================================================================
# Seed: 15 | CV SCORE AVG: 3.612073389941501 | OUT SCORE: 29.64906795840669 | [-0.33648124 -0.65761308  0.72764902] | [ 0.7633621  -3.55823903  0.22226124]
#========================================================================
[-1.36104625 -0.35581886 -1.33555165 -0.14823431 -1.29911833  0.34815025
  0.19219151  0.39533096 -0.32534883 -1.40096916]

#========================================================================
# Seed: 16 | CV SCORE AVG: 3.612044191658574 | OUT SCORE: 29.640816041170048 | [-0.33649791 -0.65830434  0.72714174] | [ 0.76334989 -3.55830635  0.22225491]
#========================================================================
[-1.3625028  -0.35576699 -1.3363297  -0.14856989 -1.29874807  0.34802603
  0.19257259  0.39520572 -0.32532287 -1.40021396]

#========================================================================
# Seed: 17 | CV SCORE AVG: 3.6120064119257003 | OUT SCORE: 29.642075428894707 | [-0.33665946 -0.66366964  0.72688593] | [ 0.76333808 -3.55814461  0.22223496]
#========================================================================
[-1.36136277 -0.35603242 -1.33598577 -0.14806797 -1.29923767  0.34799832
  0.19238731  0.39457754 -0.32509049 -1.40043392]

#========================================================================
# Seed: 18 | CV SCORE AVG: 3.612065290331392 | OUT SCORE: 29.65391915861393 | [-0.33620215 -0.66012809  0.72578382] | [ 0.76333945 -3.55812442  0.22224107]
#========================================================================
[-1.3599014  -0.35605041 -1.33527942 -0.14798138 -1.30001975  0.34862309
  0.19244451  0.39510597 -0.3254427  -1.40060284]

#========================================================================
# Seed: 19 | CV SCORE AVG: 3.6119942411077446 | OUT SCORE: 29.62871735244996 | [-0.3365824  -0.65756328  0.72720522] | [ 0.76334447 -3.55810875  0.22226551]
#========================================================================
[-1.36212991 -0.3554352  -1.33431518 -0.14832154 -1.29864675  0.34797394
  0.19211189  0.39533423 -0.3251412  -1.40149864]

#========================================================================
# Seed: 20 | CV SCORE AVG: 3.6119924684755174 | OUT SCORE: 29.64216701689304 | [-0.33658181 -0.65746865  0.72675182] | [ 0.76333719 -3.55811132  0.22228099]
#========================================================================
[-1.36032699 -0.35625899 -1.33644135 -0.1484851  -1.2988336   0.34834141
  0.19227609  0.39516817 -0.32520719 -1.4012783 ]

#========================================================================
# Seed: 21 | CV SCORE AVG: 3.6119582541076998 | OUT SCORE: 29.637504247125456 | [-0.33640933 -0.65273418  0.72641977] | [ 0.76333911 -3.55819702  0.22229215]
#========================================================================
[-1.36103355 -0.35615438 -1.3349032  -0.14838989 -1.29940857  0.34812987
  0.1923374   0.39476944 -0.3253776  -1.40055401]

#========================================================================
# Seed: 22 | CV SCORE AVG: 3.6119784783231177 | OUT SCORE: 29.652590979271647 | [-0.33604655 -0.65103159  0.7277228 ] | [ 0.76332535 -3.5581228   0.22227228]
#========================================================================
[-1.36182421 -0.35595547 -1.33618721 -0.14832301 -1.29922219  0.34815313
  0.19252673  0.39487216 -0.32547729 -1.40129679]

#========================================================================
# Seed: 23 | CV SCORE AVG: 3.6119541923692715 | OUT SCORE: 29.63936381504084 | [-0.33577999 -0.65241002  0.7283344 ] | [ 0.76333262 -3.55815184  0.22226505]
#========================================================================
[-1.36180493 -0.3556882  -1.33493324 -0.1484148  -1.2987105   0.34814918
  0.19216969  0.39501637 -0.32548086 -1.40115089]

#========================================================================
# Seed: 24 | CV SCORE AVG: 3.6119419382171376 | OUT SCORE: 29.645190212737372 | [-0.33541664 -0.65048412  0.72813928] | [ 0.76331677 -3.5581279   0.22225613]
#========================================================================
[-1.3609786  -0.35533025 -1.33499385 -0.14829975 -1.29841381  0.34821984
  0.1921424   0.39480971 -0.32516843 -1.40255416]

#========================================================================
# Seed: 25 | CV SCORE AVG: 3.611932425622035 | OUT SCORE: 29.640110833767547 | [-0.33502137 -0.64924031  0.72613179] | [ 0.76332975 -3.5582623   0.22226911]
#========================================================================
[-1.36224917 -0.35557763 -1.33580974 -0.14854005 -1.29814048  0.34796606
  0.19222473  0.3955964  -0.32529172 -1.40066319]

#========================================================================
# Seed: 26 | CV SCORE AVG: 3.611952900695779 | OUT SCORE: 29.649471658965453 | [-0.3349904  -0.64854698  0.72504616] | [ 0.76332785 -3.55817314  0.22227766]
#========================================================================
[-1.36323487 -0.35586892 -1.33623046 -0.1482144  -1.29901573  0.34818261
  0.19242981  0.39497947 -0.3254425  -1.40115511]

#========================================================================
# Seed: 27 | CV SCORE AVG: 3.6119430407887534 | OUT SCORE: 29.639273924804723 | [-0.33519696 -0.64699061  0.72473532] | [ 0.76332412 -3.55825396  0.22226625]
#========================================================================
[-1.36177822 -0.35579376 -1.33543655 -0.14813925 -1.29896685  0.34793066
  0.19246424  0.39488881 -0.32539025 -1.39922919]

#========================================================================
# Seed: 28 | CV SCORE AVG: 3.611939151484586 | OUT SCORE: 29.645470617492077 | [-0.33514044 -0.64725831  0.72338706] | [ 0.76331777 -3.55815371  0.22225457]
#========================================================================
[-1.36188935 -0.3562728  -1.33608599 -0.14840469 -1.29923456  0.34816351
  0.19238656  0.39479067 -0.32589448 -1.40090076]

#========================================================================
# Seed: 29 | CV SCORE AVG: 3.611945069509424 | OUT SCORE: 29.646578821995757 | [-0.33546056 -0.64834844  0.72307612] | [ 0.76330896 -3.558101    0.22224569]
#========================================================================

           card_id    target  prediction
0  C_ID_92a2005557 -0.820283   -0.335461
1  C_ID_3d0044924f  0.392913   -0.648348
2  C_ID_d639edf6cd  0.688056    0.723076
3  C_ID_186d6a6901  0.142495    0.183964
4  C_ID_cdbd2c0db2 -0.159749   -0.100282

                card_id  target  prediction
325535  C_ID_7a239d2eda     NaN    1.018862
325536  C_ID_75ace375ae     NaN   -1.024097
325537  C_ID_21d56d950c     NaN    0.763309
325538  C_ID_6c46fc5a9d     NaN   -3.558101
325539  C_ID_87e7979a5f     NaN    0.222246

SystemExit:

In [35]:
utils.to_pkl_gzip(path=f"../stack/{start_time[4:12]}_stack_{model_type}_set-{set_type}_valid-{valid_type}-seed{fold_seed}_lgb{len(lgb_list)}_NN{is_nn}_ridge{is_rid}_ext{is_ext}_rmf{is_rmf}_OUT{str(out_score)[:7]}_CV{cv_score}_LB" , obj=df_pred[[key, 'prediction']])
display(df_pred.head())
display(df_pred.tail())

           card_id    target  prediction
0  C_ID_92a2005557 -0.820283   -0.335461
1  C_ID_3d0044924f  0.392913   -0.648348
2  C_ID_d639edf6cd  0.688056    0.723076
3  C_ID_186d6a6901  0.142495    0.183964
4  C_ID_cdbd2c0db2 -0.159749   -0.100282

                card_id  target  prediction
325535  C_ID_7a239d2eda     NaN    1.018862
325536  C_ID_75ace375ae     NaN   -1.024097
325537  C_ID_21d56d950c     NaN    0.763309
325538  C_ID_6c46fc5a9d     NaN   -3.558101
325539  C_ID_87e7979a5f     NaN    0.222246

In [37]:
# x = pd.DataFrame(X_train)
for col in train.columns:
    tmp = train[col].isnull().sum()
    if not(col.count('base')):continue
    if tmp>0:
        print(col)
        display(train[train[col].isnull()])

base_NN_521-7779425059342

,card_id,target,first_active_month,hist_purchase_date_max,hist_purchase_month_max,hist_purchase_date_min,hist_purchase_month_min,new_purchase_date_max,new_purchase_month_max,new_purchase_date_min,...,base_lgb_3-627555_LB3-675,base_lgb_3-6179960053791236_LB3-667,base_lgb_3-6236254858483243,base_lgb_3-646290595477581,base_lgb_3-6333204401002663,base_lgb_3-6226545066935465,base_lgb_3-638811137215022,base_lgb_3-653674740088933,base_NN_549-4781753401306,base_NN_521-7779425059342
92,C_ID_b9379a30ea,-33.219281,2015-05-01,2017-08-10 11:26:28,2017-09-01,2017-01-02 11:53:33,2017-01-01,2018-01-13 10:41:01,2018-02-01,2018-01-09 11:40:28,...,-3.414548,-4.719915,-5.325719,-3.345237,-3.937165,-4.671265,-3.183540,-3.367472,0.415189,NaN
1215,C_ID_3b60cf95bd,-2.241354,2016-09-01,2017-11-14 11:19:23,2017-12-01,2017-02-08 08:29:50,2017-02-01,2018-01-22 16:17:41,2018-02-01,2017-12-01 11:31:43,...,-3.977318,-4.017489,-4.270897,-4.243064,-4.050524,-3.665178,-3.778156,-3.292780,0.253382,NaN
1254,C_ID_2edb57732a,-1.661818,2016-02-01,2017-12-22 13:56:17,2018-01-01,2017-01-18 13:34:21,2017-01-01,2018-01-19 11:13:53,2018-02-01,2018-01-11 20:08:11,...,-4.697244,-5.102153,-5.636354,-4.708135,-4.191139,-5.176814,-4.447089,-2.839778,0.346905,NaN
2563,C_ID_1985211b7d,-6.081785,2014-11-01,2017-11-20 21:48:19,2017-12-01,2017-02-08 18:04:56,2017-02-01,2017-12-22 21:57:46,2018-01-01,2017-12-09 17:26:45,...,-3.197498,-4.069769,-3.273837,-2.942458,-3.026949,-3.026823,-3.275355,-4.286843,0.293987,NaN
3842,C_ID_929cf67c44,-0.687414,2017-06-01,2017-12-31 15:59:00,2018-01-01,2017-06-16 20:59:12,2017-06-01,2018-01-27 21:27:45,2018-02-01,2018-01-02 17:05:22,...,-15.984479,-19.520808,-18.666542,-17.050479,-17.400247,-19.571258,-16.096455,-15.014532,0.526958,NaN
4768,C_ID_26f05f2bb9,-33.219281,2017-03-01,2017-10-26 16:57:44,2017-11-01,2017-03-02 19:57:36,2017-03-01,2017-11-11 22:15:29,2017-12-01,2017-11-11 22:15:29,...,-13.525431,-14.052598,-14.049869,-12.290517,-15.208868,-15.829697,-11.381348,-15.666544,0.630741,NaN
5868,C_ID_18c1e4935e,-3.057246,2017-02-01,2017-11-26 03:08:45,2017-12-01,2017-02-07 17:40:21,2017-02-01,2017-12-09 12:16:07,2018-01-01,2017-12-09 12:16:07,...,-12.666345,-11.222481,-12.170078,-15.370605,-14.443614,-15.434300,-15.574039,-11.675666,0.527972,NaN
16649,C_ID_6987fbebce,-33.219281,2017-02-01,2017-09-26 11:16:08,2017-10-01,2017-02-24 08:22:20,2017-02-01,NaT,NaT,NaT,...,-8.685602,-9.493633,-9.930033,-7.991375,-9.872197,-11.291186,-5.716521,-9.670458,0.957080,NaN
18449,C_ID_d9d202cb1d,-33.219281,2016-03-01,2018-01-12 14:02:21,2018-02-01,2017-01-13 10:23:12,2017-01-01,2018-03-19 00:33:05,2018-04-01,2018-02-21 08:59:39,...,-7.709654,-14.474654,-11.457523,-7.013136,-10.777880,-11.059271,-6.074511,-5.028375,0.278307,NaN
22187,C_ID_b12963ffb9,-33.219281,2017-01-01,2017-10-31 01:54:18,2017-11-01,2017-01-21 12:39:41,2017-01-01,2017-11-09 00:00:00,2017-12-01,2017-11-07 00:00:00,...,-15.189049,-12.065856,-11.313930,-10.474757,-17.966222,-10.104348,-12.473513,-14.690118,0.447016,NaN
23317,C_ID_91594da573,-0.915569,2017-03-01,2017-10-14 00:04:43,2017-11-01,2017-03-09 20:22:01,2017-03-01,2017-11-09 18:54:44,2017-12-01,2017-11-08 00:00:00,...,-4.693051,-4.851895,-4.346174,-6.464081,-4.168981,-4.406268,-4.932598,-5.608560,0.453709,NaN
23859,C_ID_d30f66e770,-9.386788,2017-03-01,2018-01-21 14:38:23,2018-02-01,2017-03-04 19:25:38,2017-03-01,2018-02-24 17:47:48,2018-03-01,2018-02-03 12:02:23,...,-4.118790,-4.209389,-3.290835,-3.868073,-4.464280,-4.162394,-4.045760,-4.869726,0.570288,NaN
26674,C_ID_b4da97d454,-2.004525,2017-04-01,2018-01-10 14:01:37,2018-02-01,2017-04-07 11:33:57,2017-04-01,2018-03-22 07:06:15,2018-04-01,2018-03-22 07:06:15,...,-1.822728,-2.080783,-2.183020,-1.711744,-1.823299,-2.181329,-2.283324,-1.991605,0.539160,NaN
27547,C_ID_ce5e5c15d8,-3.997558,2017-02-01,2018-02-08 01:13:23,2018-03-01,2017-02-13 09:55:31,2017-02-01,2018-04-22 14:10:25,2018-05-01,2018-03-29 08:03:26,...,-2.241054,-2.126757,-2.553632,-2.242380,-2.287452,-2.242090,-2.464474,-2.765811,0.331530,NaN
31974,C_ID_d40628dff9,-2.495871,2016-06-01,2017-10-30 19:42:52,2017-11-01,2017-01-15 21:18:12,2017-01-01,2017-12-10 09:44:20,2018-01-01,2017-11-14 01:27:05,...,-3.648942,-4.100359,-3.920105,-4.482713,-4.284388,-3.822391,-3.009845,-2.258547,0.481684,NaN
31989,C_ID_33212e3c87,-2.960978,2017-06-01,2017-12-04 11:32:48,2018-01-01,2017-06-29 13:27:13,2017-06-01,2018-01-08 13:32:22,2018-02-01,2018-01-08 13:32:22,...,-4.831110,-3.018462,-3.152658,-5.213877,-3.270980,-3.886873,-4.574645,-3.480524,2.623766,NaN
34548,C_ID_24be2cff53,-0.396033,2016-09-01,2017-09-26 00:30:12,2017-10-01,2017-01-04 14:24:15,2017-01-01,2017-10-26 00:50:20,2017-11-01,2017-10-26 00:50:20,...,-6.941929,-7.890004,-7.937437,-7.559006,-7.287220,-8.566418,-8.597969,-7.029614,0.803685,NaN
36660,C_ID_cfe098bad8,-0.471699,2017-05-01,2018-02-13 11:07:20,2018-03-01,2017-05-23 22:05:55,2017-05-01,2018-03-13 19:55:55,2018-04-01,2018-03-11 15:41:03,...,-0.045626,-0.127009,-0.386518,-0.012319,0.156024,-0.076485,0.299679,-0.263470,0.617674,NaN
45032,C_ID_f467f10386,-33.219281,2017-05-01,2017-10-31 00:00:00,2017-11-01,2017-05-13 12:13:00,2017-05-01,2017-11-29 20:47:14,2017-12-01,2017-11-02 01:40:34,...,-14.904929,-15.046229,-12.278174,-19.534819,-16.725299,-15.129064,-11.251678,-13.852036,0.379602,NaN
46630,C_ID_6efd28ad05,-2.833278,2016-11-01,2017-10-21 15:42:17,2017-11-01,2017-03-08 20:25:30,2017-03-01,2017-12-20 16:30:50,2018-01-01,2017-11-17 00:00:00,...,-2.729392,-3.016161,-2.783202,-3.019682,-2.972277,-3.056583,-2.876815,-2.797878,0.233732,NaN
49259,C_ID_a20725ede6,0.698476,2017-10-01,2018-02-27 08:39:24,2018-03-01,2017-10-26 11:24:28,2017-10-01,2018-04-22 20:43:04,2018-05-01,2018-04-17 15:20:18,...,-1.326062,-1.470050,-1.664326,-0.807430,-2.046884,-2.024033,-0.985066,-0.907284,0.860668,NaN
50642,C_ID_c95cd104c1,-0.716145,2017-07-01,2017-12-31 12:55:34,2018-01-01,2017-07-02 22:17:05,2017-07-01,2018-01-23 20:01:02,2018-02-01,2018-01-23 20:01:02,...,-9.690411,-11.803350,-14.225706,-7.865134,-13.249616,-14.211141,-8.016700,-8.610582,1.174647,NaN
57070,C_ID_d96260cb01,-33.219281,2016-12-01,2017-11-30 22:21:31,2017-12-01,2017-01-03 14:58:22,2017-01-01,2017-12-20 12:04:25,2018-01-01,2017-12-20 12:04:25,...,-11.597118,-8.782256,-11.623636,-12.290528,-7.664544,-13.134337,-11.626441,-14.983855,0.515151,NaN
59416,C_ID_98092068c9,-3.100413,2016-12-01,2017-10-20 20:18:41,2017-11-01,2017-01-06 13:44:14,2017-01-01,2018-01-10 12:19:39,2018-02-01,2017-12-06 07:58:00,...,-3.021079,-3.730046,-3.766112,-2.875223,-2.996763,-3.550601,-3.156567,-2.599588,0.357287,NaN
59479,C_ID_e4208298d5,2.798216,2017-04-01,2017-10-25 19:47:04,2017-11-01,2017-04-04 07:27:51,2017-04-01,2017-11-24 16:22:15,2017-12-01,2017-11-18 00:17:47,...,-14.175686,-16.405755,-16.920917,-15.325311,-14.964238,-17.544454,-13.225350,-13.722041,0.293771,NaN
68980,C_ID_2e9ce7e40a,-2.956948,2016-12-01,2017-09-08 15:27:23,2017-10-01,2017-02-06 12:07:07,2017-02-01,2018-01-02 18:05:35,2018-02-01,2017-12-01 18:31:23,...,-2.802954,-3.741048,-3.730095,-2.216969,-2.159550,-2.850364,-2.486919,-2.023410,0.247275,NaN
70485,C_ID_26255f7db0,-33.219281,2016-11-01,2017-12-30 15:04:22,2018-01-01,2017-01-01 20:20:40,2017-01-01,2018-01-09 19:39:58,2018-02-01,2018-01-03 18:36:33,...,-15.779555,-19.471652,-17.986867,-13.784943,-15.234189,-15.132537,-16.592188,-17.683170,0.206333,NaN
71209,C_ID_aeaad4e056,-1.557508,2016-02-01,2017-11-24 06:01:44,2017-12-01,2017-01-24 04:05:08,2017-01-01,2017-12-09 19:02:25,2018-01-01,2017-12-09 19:02:25,...,-5.235263,-4.329212,-6.411177,-5.687968,-3.440369,-10.603110,-7.527364,-5.861750,0.379463,NaN
84375,C_ID_651c977b78,-33.219281,2016-06-01,2017-05-25 11:44:15,2017-06-01,2017-01-21 18:02:45,2017-01-01,2017-07-12 19:19:18,2017-08-01,2017-06-03 11:21:00,...,-2.467862,-3.014696,-2.948929,-2.094968,-2.303158,-2.647817,-2.250192,-2.589562,0.375093,NaN
91531,C_ID_2e830230f8,0.049713,2017-07-01,2018-02-19 02:07:16,2018-03-01,2017-07-01 20:10:55,2017-07-01,NaT,NaT,NaT,...,1.028609,1.210514,1.264367,0.976799,1.295767,1.111724,0.888809,0.608027,1.573458,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107858,C_ID_41d87b0aae,-3.072106,2017-03-01,2018-02-18 12:09:56,2018-03-01,2017-01-03 11:19:46,2017-01-01,2018-03-04 09:13:38,2018-04-01,2018-03-04 09:13:38,...,-1.873307,-2.043510,-2.472118,-1.909728,-1.864905,-1.963900,-2.084656,-2.066880,0.370858,NaN
109779,C_ID_5ec32edac9,-1.085874,2016-07-01,2017-04-21 07:29:40,2017-05-01,2017-01-07 11:44:01,2017-01-01,2017-05-31 12:30:27,2017-06-01,2017-05-01 11:20:50,...,-1.669442,-1.791702,-2.123849,-1.167669,-1.761565,-1.777195,-1.495505,-1.498688,0.357961,NaN
110805,C_ID_9a3ab44f2a,-33.219281,2016-01-01,2017-08-28 20:54:40,2017-09-01,2017-01-02 04:15:06,2017-01-01,2017-10-09 19:19:32,2017-11-01,2017-10-09 19:19:32,...,-6.566813,-8.445425,-8.696374,-8.955288,-7.179723,-7.567073,-6.538330,-4.548885,0.803963,NaN
111880,C_ID_a9f74e5401,-5.953309,2016-12-01,2017-11-06 15:54:36,2017-12-01,2017-01-02 21:05:04,2017-01-01,2018-01-08 20:35:17,2018-02-01,2018-01-08 20:35:17,...,-6.679134,-8.515695,-7.874769,-5.298006,-9.172848,-6.093521,-5.679813,-5.149222,1.336421,NaN
116755,C_ID_d022235049,-6.083520,2017-04-01,2017-12-22 14:14:38,2018-01-01,2017-04-18 14:14:12,2017-04-01,2018-01-28 20:47:53,2018-02-01,2018-01-11 22:44:36,...,-8.085763,-6.664006,-7.300872,-10.754361,-8.854659,-8.555145,-8.172218,-9.593235,0.869135,NaN
116999,C_ID_dac7d642c8,-0.649488,2017-02-01,2018-01-27 11:01:27,2018-02-01,2017-02-11 20:27:31,2017-02-01,2018-03-24 20:13:31,2018-04-01,2018-03-24 20:13:31,...,-2.491963,-1.910775,-3.089111,-2.093077,-3.293240,-2.139629,-1.746677,-2.049473,0.232355,NaN
120308,C_ID_18d6666107,-1.742543,2017-03-01,2017-09-30 23:07:33,2017-10-01,2017-03-19 12:58:05,2017-03-01,2017-11-24 20:42:19,2017-12-01,2017-10-01 20:56:49,...,-1.788806,-1.301279,-2.379410,-2.088095,-2.382992,-1.306195,-0.678506,-0.759119,0.612102,NaN
132222,C_ID_ddc4def112,-2.657941,2017-02-01,2017-09-25 19:59:49,2017-10-01,2017-02-02 16:22:17,2017-02-01,2017-10-02 14:20:56,2017-11-01,2017-10-02 11:21:16,...,-5.025341,-6.363082,-5.649108,-5.305339,-6.810431,-6.849268,-4.899793,-4.179020,0.544398,NaN
144711,C_ID_2025b88be1,-2.291584,2017-04-01,2017-10-28 18:32:26,2017-11-01,2017-04-07 13:19:27,2017-04-01,2017-11-29 21:16:40,2017-12-01,2017-11-01 08:48:21,...,-4.876927,-4.649634,-6.211751,-5.352456,-4.655275,-4.720587,-4.868119,-4.452171,0.303822,NaN
151140,C_ID_782e1f2717,-8.339312,2016-09-01,2017-10-22 19:38:59,2017-11-01,2017-01-04 22:29:17,2017-01-01,2017-12-08 11:47:04,2018-01-01,2017-11-10 13:32:37,...,-4.088289,-5.055645,-4.299394,-3.660238,-4.525695,-5.073294,-3.593442,-3.118791,0.257903,NaN
153027,C_ID_b965ba4e9d,-1.125516,2016-07-01,2017-12-26 14:03:01,2018-01-01,2017-01-03 16:23:28,2017-01-01,2018-02-15 15:53:26,2018-03-01,2018-02-15 15:53:26,...,-6.209369,-6.011296,-7.194626,-8.242450,-6.936635,-5.106418,-6.579873,-6.629080,1.212555,NaN
158352,C_ID_60f45e5cfb,-4.731593,2017-01-01,2017-12-31 12:18:46,2018-01-01,2017-01-08 17:18:01,2017-01-01,2018-01-14 17:22:46,2018-02-01,2018-01-02 12:01:55,...,-4.477910,-4.181848,-4.703750,-4.527800,-4.287112,-4.299639,-4.032438,-5.300257,0.494219,NaN
158929,C_ID_95a987fe2a,-7.354010,2016-07-01,2018-01-22 17:04:38,2018-02-01,2017-02-10 07:28:25,2017-02-01,2018-03-20 15:21:15,2018-04-01,2018-02-24 19:29:18,...,-8.489632,-15.210811,-13.543887,-5.749174,-11.091660,-11.279486,-8.439762,-2.815947,0.424754,NaN
159124,C_ID_e434ea8771,-3.848734,2017-02-01,2018-01-02 17:17:07,2018-02-01,2017-02-11 07:31:59,2017-02-01,2018-03-29 06:27:09,2018-04-01,2018-03-17 21:39:15,...,-2.770051,-2.511447,-2.648083,-2.577723,-3.050012,-3.346719,-2.876638,-2.004427,0.342879,NaN
160539,C_ID_a16b33ac21,1.493593,2016-01-01,2017-07-14 21:00:15,2017-08-01,2017-01-14 22:00:07,2017-01-01,2017-10-26 16:52:45,2017-11-01,2017-10-26 16:52:45,...,-0.976642,-0.379111,-0.571771,-0.713250,0.078993,-0.619561,-1.015191,-1.402922,1.045551,NaN
160703,C_ID_c8076205fe,-1.245483,2016-11-01,2017-06-28 12:36:20,2017-07-01,2017-01-08 18:47:18,2017-01-01,2017-07-26 10:25:52,2017-08-01,2017-07-15 17:48:06,...,-4.250035,-4.078133,-3.233515,-4.221167,-4.912420,-3.328646,-5.100668,-3.689600,0.679840,NaN
167165,C_ID_0914593f80,1.972680,2017-04-01,2018-01-28 10:15:43,2018-02-01,2017-04-13 19:30:41,2017-04-01,2018-02-25 23:20:33,2018-03-01,2018-02-09 18:58:50,...,-6.898607,-5.523130,-6.206981,-8.467487,-7.148927,-5.905504,-6.314981,-5.648355,0.661582,NaN
172521,C_ID_3197805a28,-3.302124,2017-02-01,2017-11-20 21:23:10,2017-12-01,2017-02-20 18:24:32,2017-02-01,2018-01-08 14:50:03,2018-02-01,2017-12-12 12:39:40,...,-2.862501,-3.219367,-4.065999,-2.380998,-3.337098,-3.688716,-2.880899,-1.385423,0.392092,NaN
172911,C_ID_910c39b0ca,-5.518401,2016-09-01,2018-02-24 09:05:56,2018-03-01,2017-02-04 11:24:04,2017-02-01,2018-04-05 11:17:00,2018-05-01,2018-03-06 06:51:45,...,-2.896233,-3.427554,-3.289791,-1.968748,-3.187617,-2.628299,-2.541757,-2.566355,0.226598,NaN
176822,C_ID_c6b79dabde,-1.693991,2016-10-01,2018-01-21 11:13:43,2018-02-01,2017-01-16 20:27:05,2017-01-01,2018-03-02 13:00:52,2018-04-01,2018-02-11 20:35:15,...,-2.287061,-2.330571,-2.559003,-2.035832,-2.281430,-2.135609,-2.614892,-1.901730,0.424673,NaN
178805,C_ID_e8ff46c481,-33.219281,2017-04-01,2018-01-26 19:55:48,2018-02-01,2017-04-01 18:20:39,2017-04-01,NaT,NaT,NaT,...,-4.879030,-4.075236,-4.796540,-3.940165,-6.072434,-4.998322,-5.062366,-5.597286,0.859975,NaN
179418,C_ID_adf08b2c43,-4.235399,2017-01-01,2017-06-16 13:26:44,2017-07-01,2017-01-03 22:01:33,2017-01-01,2017-08-23 12:48:23,2017-09-01,2017-08-23 12:48:23,...,-3.881103,-3.587973,-4.006115,-5.027454,-4.759386,-2.350678,-3.975583,-4.783508,0.641559,NaN
185018,C_ID_a8c259eee3,-33.219281,2017-07-01,2017-11-28 17:48:02,2017-12-01,2017-07-03 10:06:50,2017-07-01,2017-12-30 16:22:16,2018-01-01,2017-12-22 11:55:27,...,-6.138714,-4.992436,-9.294683,-5.910691,-7.349163,-5.822413,-4.540502,-6.274228,0.665950,NaN
192113,C_ID_7ade7480ed,-33.219281,2017-02-01,2017-09-26 15:54:52,2017-10-01,2017-02-24 10:14:23,2017-02-01,2017-10-12 14:39:30,2017-11-01,2017-10-12 13:27:08,...,-12.400760,-14.727627,-12.923149,-11.108647,-13.945763,-10.434550,-9.459755,-11.078780,0.461928,NaN
196554,C_ID_147d4492fd,-33.219281,2017-05-01,2017-10-31 16:57:33,2017-11-01,2017-05-13 19:34:15,2017-05-01,2017-11-16 00:46:45,2017-12-01,2017-11-01 15:25:48,...,-15.938165,-19.404475,-18.802831,-16.314033,-17.001738,-19.368371,-12.976498,-12.725460,0.481655,NaN
196584,C_ID_c048066a32,-1.393762,2016-02-01,2017-12-29 10:51:56,2018-01-01,2017-07-20 12:34:46,2017-07-01,2018-04-24 11:55:50,2018-05-01,2018-03-19 07:15:06,...,-1.056756,-0.907250,-0.994759,-0.852190,-0.708981,-0.920281,-0.466673,-0.391206,0.990371,NaN
198046,C_ID_8e55856924,-1.225198,2015-11-01,2018-02-23 17:27:23,2018-03-01,2017-01-02 08:46:07,2017-01-01,2018-04-08 17:35:00,2018-05-01,2018-04-08 17:35:00,...,0.145302,0.261973,0.550967,0.322930,0.455751,0.100750,0.257486,0.184263,1.156781,NaN
198194,C_ID_b01e03042a,-2.066769,2015-07-01,2017-09-28 11:25:02,2017-10-01,2017-01-10 20:19:10,2017-01-01,2017-11-15 00:00:00,2017-12-01,2017-10-04 15:37:43,...,-2.792151,-2.826256,-3.047411,-2.963434,-2.330544,-2.887516,-3.386167,-2.685341,0.247856,NaN
198484,C_ID_6a1f93f598,1.439586,2015-09-01,2017-12-16 19:31:02,2018-01-01,2017-01-09 21:56:15,2017-01-01,2018-01-31 22:24:30,2018-02-01,2018-01-31 22:24:30,...,-3.681449,-5.885184,-4.873609,-2.747381,-5.905614,-6.935073,-4.890093,-4.980321,1.011414,NaN
200534,C_ID_d24bbfba24,-33.219281,2016-12-01,2017-11-30 23:54:27,2017-12-01,2017-01-01 19:31:04,2017-01-01,2017-12-27 15:05:22,2018-01-01,2017-12-02 15:08:57,...,-13.428707,-15.227312,-12.128278,-13.767204,-15.944946,-11.927312,-13.861215,-12.988620,0.600952,NaN

In [58]:
for col in use_cols:
    tmp = train[col].isnull().sum()
    if tmp:
        print(col)

base_lgb_1-5486783250130114
base_lgb_1-5520199746035688
base_lgb_1-5520923703589151
base_lgb_1-553086826800966
base_lgb_1-5540396414459288