In [1]:
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
from __future__ import print_function, division
import numpy as np
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)
import os
import sys
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import get_categorical_features, get_numeric_features, reduce_mem_usage
from preprocessing import get_dummies
import datetime

from tqdm import tqdm
import time
import sys
from joblib import Parallel, delayed

os.listdir('../input/')
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_avtive_month']

In [2]:
#========================================================================
# Classifier
# clf = utils.read_pkl_gzip('../stack/0207_224_outlier_classify_9seed_lgb_binary_CV0-9099420278047783_235features.gz')[[key, 'pred_mean']].set_index(key)
# clf_2 = utils.read_pkl_gzip('../stack/0207_212_outlier_classify_9seed_lgb_binary_CV0-9084737642836664_235features.gz')[[key, 'pred_mean']].set_index(key)
# clf['pred_mean_2'] = clf_2['pred_mean']
# clf['clf_pred'] =  clf['pred_mean'].values*0.9 + clf['pred_mean_2'].values*0.1
# base['clf_pred'] = clf['clf_pred']
base = utils.read_pkl_gzip('../input/base_clf.gz')
#========================================================================

In [29]:
tmp = base[[target, 'clf_pred', 'no_out_flg']]
tmp['no_out_flg'] = tmp['no_out_flg'].fillna(0)
# tmp = tmp[tmp['no_out_flg']==0]
tmp = tmp[tmp[target]<-30]
thres_cnt = tmp['clf_pred'].map(lambda x: np.round(x, 10)).value_counts().sort_index()
# thres_cnt
thres_cnt = thres_cnt.reset_index()
thres_cnt[thres_cnt['index']<0.00048]

Empty DataFrame
Columns: [index, clf_pred]
Index: []

In [36]:
# base.loc[base['clf_pred']<0.00048, 'no_out_flg'] = 1
# base['no_out_flg'] = base['no_out_flg'].fillna(0)
# base['no_out_flg'].sum()
utils.to_pkl_gzip(obj=base, path='../input/base_no_out_clf')

In [35]:
base

,card_id,target,first_active_month,hist_purchase_date_max,hist_purchase_month_max,hist_purchase_date_min,hist_purchase_month_min,new_purchase_date_max,new_purchase_month_max,new_purchase_date_min,new_purchase_month_min,hist_personal_term,new_personal_term,hist_regist_term,new_regist_term,no_out_flg,clf_pred
0,C_ID_92a2005557,-0.820283,2017-06-01,2018-02-25 09:31:15,2018-03-01,2017-06-27 14:18:08,2017-06-01,2018-04-29 11:23:05,2018-05-01,2018-03-05 14:04:36,2018-03-01,9,2.0,9,11.0,1.0,0.000444
1,C_ID_3d0044924f,0.392913,2017-01-01,2018-01-31 22:31:09,2018-02-01,2017-01-06 16:29:42,2017-01-01,2018-03-30 06:48:26,2018-04-01,2018-02-01 17:07:54,2018-02-01,13,2.0,13,15.0,0.0,0.007831
2,C_ID_d639edf6cd,0.688056,2016-08-01,2018-02-27 19:08:25,2018-03-01,2017-01-11 08:21:22,2017-01-01,2018-04-28 17:43:11,2018-05-01,2018-04-28 17:43:11,2018-04-01,14,1.0,19,18.0,0.0,0.004074
3,C_ID_186d6a6901,0.142495,2017-09-01,2018-02-28 11:44:40,2018-03-01,2017-09-26 16:22:21,2017-09-01,2018-04-18 11:00:11,2018-05-01,2018-03-07 11:55:06,2018-03-01,6,2.0,6,8.0,0.0,0.000797
4,C_ID_cdbd2c0db2,-0.159749,2017-11-01,2018-02-28 20:40:41,2018-03-01,2017-11-12 00:00:00,2017-11-01,2018-04-28 18:50:25,2018-05-01,2018-03-02 11:55:43,2018-03-01,4,2.0,4,6.0,1.0,0.000251
5,C_ID_0894217f2f,0.871585,2016-09-01,2017-07-29 15:37:18,2017-08-01,2017-01-10 17:14:53,2017-01-01,2017-09-15 21:06:17,2017-10-01,2017-08-15 10:17:55,2017-08-01,7,2.0,11,13.0,0.0,0.043221
6,C_ID_7e63323c00,0.230129,2016-12-01,2018-02-23 16:09:32,2018-03-01,2017-01-05 12:19:24,2017-01-01,2018-04-06 17:52:25,2018-05-01,2018-03-06 12:37:14,2018-03-01,14,2.0,15,17.0,0.0,0.000891
7,C_ID_dfa21fc124,2.135850,2017-09-01,2017-12-21 19:44:42,2018-01-01,2017-09-28 21:24:46,2017-09-01,2018-02-18 20:27:17,2018-03-01,2018-02-06 07:03:41,2018-02-01,4,1.0,4,6.0,1.0,0.001918
8,C_ID_fe0fdac8ea,-0.065406,2017-08-01,2017-12-09 13:02:59,2018-01-01,2017-08-18 16:21:38,2017-08-01,2018-03-20 21:23:02,2018-04-01,2018-03-17 14:22:31,2018-03-01,5,1.0,5,8.0,0.0,0.007651
9,C_ID_bf62c0b49d,0.300062,2016-08-01,2018-02-28 16:49:37,2018-03-01,2017-01-09 15:59:16,2017-01-01,2018-04-08 13:53:01,2018-05-01,2018-04-01 09:22:06,2018-04-01,14,1.0,19,18.0,0.0,0.001339
10,C_ID_92853cdb2c,-1.029562,2016-10-01,2018-02-23 07:01:11,2018-03-01,2017-04-03 13:38:27,2017-04-01,2018-04-13 06:10:04,2018-05-01,2018-03-29 17:01:43,2018-03-01,11,2.0,17,18.0,0.0,0.002179
11,C_ID_269d816788,-2.433761,2016-03-01,2017-12-29 19:54:33,2018-01-01,2017-01-06 11:44:40,2017-01-01,2018-03-12 05:50:28,2018-04-01,2018-03-12 05:50:28,2018-03-01,12,1.0,22,24.0,0.0,0.016421
12,C_ID_61d50d7057,1.304452,2017-09-01,2018-02-19 06:11:28,2018-03-01,2017-09-12 19:27:46,2017-09-01,2018-04-23 18:35:19,2018-05-01,2018-04-23 18:35:19,2018-04-01,6,1.0,6,8.0,0.0,0.002219
13,C_ID_4e07413433,0.093633,2017-04-01,2017-10-14 20:19:31,2017-11-01,2017-04-01 15:22:20,2017-04-01,2017-12-31 17:55:54,2018-01-01,2017-12-10 09:33:14,2017-12-01,7,1.0,7,9.0,0.0,0.007298
14,C_ID_b6302b31c6,1.597750,2017-08-01,2017-10-30 22:56:33,2017-11-01,2017-08-09 21:33:21,2017-08-01,2017-12-29 12:46:20,2018-01-01,2017-11-05 05:23:32,2017-11-01,3,2.0,3,5.0,1.0,0.000513
15,C_ID_3b69154173,1.010937,2017-02-01,2018-02-24 13:49:11,2018-03-01,2017-02-19 10:44:12,2017-02-01,NaT,NaT,NaT,NaT,13,NaN,13,NaN,0.0,0.004224
16,C_ID_9feec11e78,1.132236,2016-07-01,2018-02-28 06:00:17,2018-03-01,2017-01-13 13:49:38,2017-01-01,2018-03-14 12:52:28,2018-04-01,2018-03-07 08:06:44,2018-03-01,14,1.0,20,18.0,0.0,0.004057
17,C_ID_f6658dbefe,0.318062,2016-12-01,2018-02-06 11:07:37,2018-03-01,2017-01-14 13:05:18,2017-01-01,2018-04-03 15:42:34,2018-05-01,2018-04-03 15:42:34,2018-04-01,14,1.0,15,17.0,0.0,0.005449
18,C_ID_4a7dda0f9e,0.757280,2017-11-01,2018-02-04 17:27:22,2018-03-01,2017-11-11 21:38:26,2017-11-01,2018-04-20 15:52:01,2018-05-01,2018-03-01 13:27:11,2018-03-01,4,2.0,4,6.0,1.0,0.000284
19,C_ID_6adae2a906,0.334337,2017-01-01,2018-02-24 18:36:25,2018-03-01,2017-01-31 13:42:54,2017-01-01,2018-03-16 16:19:39,2018-04-01,2018-03-03 11:11:38,2018-03-01,14,1.0,14,15.0,0.0,0.003843
20,C_ID_0b70ca7347,1.442726,2017-09-01,2018-02-25 16:48:53,2018-03-01,2017-09-28 23:47:08,2017-09-01,2018-04-30 16:03:03,2018-05-01,2018-03-12 16:12:43,2018-03-01,6,2.0,6,8.0,0.0,0.000612
21,C_ID_25b2509282,4.747602,2016-06-01,2018-02-27 06:31:18,2018-03-01,2017-01-03 12:07:24,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,21,NaN,0.0,0.010148
22,C_ID_82fb11db22,0.464404,2017-09-01,2018-02-05 11:04:49,2018-03-01,2017-09-12 19:59:45,2017-09-01,2018-04-12 17:13:24,2018-05-01,2018-04-12 17:13:24,2018-04-01,6,1.0,6,8.0,0.0,0.003181
23,C_ID_e03db05bde,-0.529658,2017-10-01,2018-02-28 16:32:51,2018-03-01,2017-10-31 00:00:00,2017-10-01,2018-03-22 12:17:18,2018-04-01,2018-03-02 10:24:07,2018-03-01,5,1.0,5,6.0,0.0,0.002130
24,C_ID_dcb7c76747,-0.084951,2015-10-01,2018-02-28 08:59:28,2018-03-01,2017-01-14 21:00:43,2017-01-01,2018-04-26 06:34:13,2018-05-01,2018-03-09 07:31:00,2018-03-01,14,2.0,24,24.0,0.0,0.000492
25,C_ID_749cfc0c3a,1.525862,2016-04-01,2018-02-02 12:01:40,2018-03-01,2017-01-10 11:48:39,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,23,NaN,0.0,0.014669
26,C_ID_4a97126360,-0.090744,2017-07-01,2018-02-28 12:09:25,2018-03-01,2017-07-28 20:13:20,2017-07-01,2018-04-27 12:05:37,2018-05-01,2018-03-26 11:39:58,2018-03-01,8,2.0,8,10.0,0.0,0.000604
27,C_ID_17dea8d446,-1.361720,2017-09-01,2018-02-16 19:38:34,2018-03-01,2017-09-12 14:51:28,2017-09-01,2018-03-24 17:48:16,2018-04-01,2018-03-24 17:48:16,2018-03-01,6,1.0,6,7.0,0.0,0.003464
28,C_ID_fcef0dfd67,0.727093,2016-01-01,2018-02-28 06:38:02,2018-03-01,2017-01-13 14:39:41,2017-01-01,2018-04-27 11:40:27,2018-05-01,2018-03-01 09:50:56,2018-03-01,14,2.0,24,24.0,0.0,0.000638
29,C_ID_82868156f0,1.143863,2016-06-01,2017-05-29 09:30:49,2017-06-01,2017-01-11 08:28:23,2017-01-01,2017-07-24 13:43:48,2017-08-01,2017-06-12 16:11:00,2017-06-01,5,2.0,12,14.0,0.0,0.003031
30,C_ID_8fa2ad405d,-3.737835,2017-09-01,2018-02-24 12:26:35,2018-03-01,2017-09-16 19:32:57,2017-09-01,2018-04-21 14:40:17,2018-05-01,2018-03-03 19:29:36,2018-03-01,6,2.0,6,8.0,0.0,0.000750
31,C_ID_ee82cdf108,-4.730778,2017-07-01,2018-02-28 14:38:25,2018-03-01,2017-07-26 11:06:26,2017-07-01,2018-03-29 09:10:40,2018-04-01,2018-03-10 14:49:25,2018-03-01,8,1.0,8,9.0,0.0,0.001758
32,C_ID_22ca4a5cdc,0.491814,2017-01-01,2018-02-28 18:06:08,2018-03-01,2017-01-16 16:20:08,2017-01-01,2018-03-14 18:37:52,2018-04-01,2018-03-13 06:16:51,2018-03-01,14,1.0,14,15.0,0.0,0.002970
33,C_ID_7130fd2b3d,1.611887,2017-08-01,2018-01-31 20:04:44,2018-02-01,2017-08-27 14:00:01,2017-08-01,2018-03-31 11:19:44,2018-04-01,2018-03-03 08:44:59,2018-03-01,6,1.0,6,8.0,0.0,0.002948
34,C_ID_3140b5e572,0.781830,2016-07-01,2018-02-26 10:49:17,2018-03-01,2017-02-04 19:06:49,2017-02-01,2018-04-26 17:55:49,2018-05-01,2018-03-01 08:33:21,2018-03-01,13,2.0,20,18.0,0.0,0.000712
35,C_ID_022b48f3ac,1.233601,2016-11-01,2017-12-30 17:00:57,2018-01-01,2017-01-03 16:40:01,2017-01-01,2018-01-12 12:00:08,2018-02-01,2018-01-04 13:25:00,2018-01-01,12,1.0,14,15.0,0.0,0.072283
36,C_ID_0fb5eebcbb,0.605185,2016-08-01,2017-12-30 17:51:05,2018-01-01,2017-01-05 11:18:28,2017-01-01,2018-02-07 07:25:50,2018-03-01,2018-02-07 07:25:50,2018-02-01,12,1.0,17,18.0,0.0,0.029494
37,C_ID_38a4be198d,-0.557901,2017-08-01,2018-01-31 08:51:54,2018-02-01,2017-08-17 19:36:08,2017-08-01,2018-03-29 10:40:22,2018-04-01,2018-02-01 15:32:27,2018-02-01,6,2.0,6,8.0,0.0,0.002208
38,C_ID_8ffb6daff8,-0.565065,2015-11-01,2018-02-12 14:15:24,2018-03-01,2017-01-13 17:27:21,2017-01-01,2018-04-27 05:42:28,2018-05-01,2018-03-15 10:42:13,2018-03-01,14,2.0,24,24.0,0.0,0.000995
39,C_ID_5967df7a42,-0.469086,2016-04-01,2017-12-19 00:45:01,2018-01-01,2017-01-09 10:10:27,2017-01-01,2018-02-28 10:02:30,2018-03-01,2018-01-17 11:18:33,2018-01-01,12,2.0,21,18.0,0.0,0.030236
40,C_ID_c8cd0080cb,0.044092,2017-11-01,2018-02-27 17:10:34,2018-03-01,2017-11-15 12:56:56,2017-11-01,2018-04-17 10:15:33,2018-05-01,2018-03-03 17:00:42,2018-03-01,4,2.0,4,6.0,1.0,0.000298
41,C_ID_69e95a3ec9,-0.247440,2017-02-01,2017-07-31 17:11:00,2017-08-01,2017-02-18 18:30:30,2017-02-01,2017-09-29 19:30:50,2017-10-01,2017-08-04 16:33:58,2017-08-01,6,2.0,6,8.0,0.0,0.005032
42,C_ID_994d1ce39d,-0.804864,2017-07-01,2017-12-31 12:42:31,2018-01-01,2017-07-28 23:01:35,2017-07-01,2018-02-17 12:30:56,2018-03-01,2018-01-01 00:00:33,2018-01-01,6,2.0,6,8.0,0.0,0.000842
43,C_ID_1919f9080e,0.393388,2017-11-01,2018-02-08 11:04:39,2018-03-01,2017-11-04 00:00:00,2017-11-01,2018-03-12 08:48:59,2018-04-01,2018-03-09 11:55:36,2018-03-01,4,1.0,4,5.0,1.0,0.000425
44,C_ID_c9fc613553,-1.089796,2017-09-01,2018-02-16 19:05:31,2018-03-01,2017-09-02 23:55:29,2017-09-01,2018-04-14 11:13:21,2018-05-01,2018-03-01 10:01:48,2018-03-01,6,2.0,6,8.0,0.0,0.001150
45,C_ID_bff4607e58,1.032943,2016-12-01,2018-02-23 13:31:00,2018-03-01,2017-01-09 20:04:54,2017-01-01,2018-04-30 15:51:44,2018-05-01,2018-03-02 16:51:47,2018-03-01,14,2.0,15,17.0,0.0,0.001516
46,C_ID_f478df16fd,-1.029266,2017-09-01,2018-02-27 14:39:54,2018-03-01,2017-09-01 18:15:23,2017-09-01,2018-04-15 20:12:51,2018-05-01,2018-03-02 00:55:14,2018-03-01,6,2.0,6,8.0,0.0,0.001044
47,C_ID_69350a7ab6,-1.399748,2013-05-01,2017-12-23 15:36:13,2018-01-01,2017-04-19 18:02:36,2017-04-01,2018-03-12 14:57:05,2018-04-01,2018-03-12 14:57:05,2018-03-01,9,1.0,24,24.0,0.0,0.001791
48,C_ID_6c3cd81c4c,-0.624271,2017-06-01,2018-01-26 15:05:59,2018-02-01,2017-06-15 17:58:55,2017-06-01,2018-04-04 03:23:02,2018-05-01,2018-03-01 15:52:08,2018-03-01,8,2.0,8,11.0,0.0,0.003441
49,C_ID_f2e927e5da,3.659081,2017-02-01,2018-01-15 09:10:35,2018-02-01,2017-02-13 19:54:02,2017-02-01,NaT,NaT,NaT,NaT,12,NaN,12,NaN,0.0,0.010352
50,C_ID_3681e149f7,-0.227310,2017-01-01,2018-02-28 21:32:05,2018-03-01,2017-01-12 12:28:32,2017-01-01,2018-04-22 16:16:25,2018-05-01,2018-03-03 12:56:45,2018-03-01,14,2.0,14,16.0,0.0,0.000614
51,C_ID_4673dd0b7b,1.275634,2016-02-01,2017-12-28 18:45:12,2018-01-01,2017-01-04 21:20:30,2017-01-01,NaT,NaT,NaT,NaT,12,NaN,23,NaN,0.0,0.007790
52,C_ID_092d98ce80,1.493673,2017-07-01,2018-02-21 17:51:34,2018-03-01,2017-07-14 16:18:37,2017-07-01,2018-04-07 18:28:32,2018-05-01,2018-03-12 18:46:05,2018-03-01,8,2.0,8,10.0,0.0,0.004140
53,C_ID_a1bbd3be59,-0.027994,2016-12-01,2018-02-08 19:51:49,2018-03-01,2017-01-03 20:41:29,2017-01-01,2018-04-30 06:56:44,2018-05-01,2018-03-16 18:48:54,2018-03-01,14,2.0,15,17.0,0.0,0.001196
54,C_ID_db7c9bec8b,-0.408865,2017-06-01,2017-12-14 06:13:03,2018-01-01,2017-06-14 06:15:30,2017-06-01,2018-03-25 15:58:29,2018-04-01,2018-02-01 16:56:32,2018-02-01,7,2.0,7,10.0,0.0,0.012420
55,C_ID_81b1b66bad,-0.017847,2017-10-01,2018-02-24 15:52:57,2018-03-01,2017-10-20 00:00:00,2017-10-01,2018-04-24 20:02:30,2018-05-01,2018-03-09 13:30:37,2018-03-01,5,2.0,5,7.0,1.0,0.000423
56,C_ID_1490b92f50,1.718381,2017-10-01,2018-02-19 16:45:06,2018-03-01,2017-10-25 20:57:00,2017-10-01,2018-04-27 13:25:17,2018-05-01,2018-03-03 17:37:33,2018-03-01,5,2.0,5,7.0,0.0,0.001295
57,C_ID_e5e2476a92,-0.180882,2016-11-01,2018-02-28 17:30:12,2018-03-01,2017-01-20 21:44:36,2017-01-01,2018-04-28 19:57:28,2018-05-01,2018-03-03 17:30:48,2018-03-01,14,2.0,16,18.0,1.0,0.000420
58,C_ID_d6f59286b8,1.000759,2017-01-01,2018-01-24 16:52:30,2018-02-01,2017-01-19 16:06:07,2017-01-01,2018-02-19 09:32:11,2018-03-01,2018-02-11 08:28:51,2018-02-01,13,1.0,13,14.0,0.0,0.038453
59,C_ID_bb8dedf426,-0.380012,2017-06-01,2018-02-28 16:02:02,2018-03-01,2017-04-19 11:43:25,2017-04-01,2018-04-26 12:02:44,2018-05-01,2018-03-02 08:47:24,2018-03-01,11,2.0,9,11.0,0.0,0.000539
60,C_ID_f599442c5a,0.400101,2016-08-01,2018-02-26 13:58:08,2018-03-01,2017-01-01 16:01:26,2017-01-01,2018-04-10 19:09:01,2018-05-01,2018-03-01 23:32:51,2018-03-01,14,2.0,19,18.0,0.0,0.001260
61,C_ID_dc2bed74b4,-0.444718,2016-08-01,2017-05-31 16:20:41,2017-06-01,2017-01-16 11:43:27,2017-01-01,2017-06-11 12:22:18,2017-07-01,2017-06-11 12:22:18,2017-06-01,5,1.0,10,11.0,0.0,0.037699
62,C_ID_92b43c45f8,-0.060073,2017-06-01,2018-02-10 21:25:36,2018-03-01,2017-06-18 12:06:47,2017-06-01,2018-04-17 15:24:40,2018-05-01,2018-03-20 13:07:13,2018-03-01,9,2.0,9,11.0,0.0,0.002247
63,C_ID_ddaccbc994,-0.210314,2016-12-01,2018-01-31 15:04:53,2018-02-01,2017-01-10 18:18:41,2017-01-01,2018-03-31 09:24:45,2018-04-01,2018-02-09 18:19:13,2018-02-01,13,2.0,14,16.0,0.0,0.001511
64,C_ID_8186f3fcc1,-33.219281,2017-09-01,2018-02-28 19:27:18,2018-03-01,2017-09-30 21:07:14,2017-09-01,2018-04-23 20:55:01,2018-05-01,2018-03-05 14:22:03,2018-03-01,6,2.0,6,8.0,0.0,0.001156
65,C_ID_cc9651279c,-1.871755,2016-05-01,2018-02-19 16:30:31,2018-03-01,2017-01-04 05:52:18,2017-01-01,2018-03-29 15:02:21,2018-04-01,2018-03-28 17:29:22,2018-03-01,14,1.0,22,18.0,0.0,0.002198
66,C_ID_a2152a599d,0.476742,2017-10-01,2018-02-05 08:07:05,2018-03-01,2017-10-06 00:29:42,2017-10-01,2018-04-28 07:07:24,2018-05-01,2018-03-10 11:25:21,2018-03-01,5,2.0,5,7.0,0.0,0.002089
67,C_ID_8e6c22b8b8,-1.415037,2017-01-01,2017-10-01 15:26:37,2017-11-01,2017-01-23 23:27:31,2017-01-01,NaT,NaT,NaT,NaT,10,NaN,10,NaN,0.0,0.127846
68,C_ID_d1d859645f,-1.323338,2016-11-01,2018-02-27 15:51:45,2018-03-01,2017-01-13 22:38:03,2017-01-01,2018-03-28 10:05:24,2018-04-01,2018-03-28 10:05:24,2018-03-01,14,1.0,16,17.0,0.0,0.003277
69,C_ID_954f09c674,-0.183834,2014-02-01,2018-01-31 09:40:32,2018-02-01,2017-06-23 13:45:05,2017-06-01,2018-03-31 11:24:40,2018-04-01,2018-02-02 15:00:55,2018-02-01,8,2.0,24,24.0,0.0,0.001554
70,C_ID_3dc690b811,-0.040209,2017-05-01,2018-02-06 19:10:10,2018-03-01,2017-05-14 15:26:43,2017-05-01,2018-04-30 14:50:56,2018-05-01,2018-03-11 20:19:59,2018-03-01,10,2.0,10,12.0,0.0,0.000530
71,C_ID_b1a43b9458,-0.319336,2016-10-01,2018-02-27 11:59:22,2018-03-01,2017-01-05 16:10:47,2017-01-01,2018-04-04 06:19:58,2018-05-01,2018-03-07 16:04:33,2018-03-01,14,2.0,17,18.0,0.0,0.001118
72,C_ID_a46cd7043f,-0.409381,2016-11-01,2018-02-05 09:59:59,2018-03-01,2017-01-26 22:36:40,2017-01-01,2018-04-27 15:10:14,2018-05-01,2018-03-14 21:17:56,2018-03-01,14,2.0,16,18.0,0.0,0.000649
73,C_ID_e58112a217,-1.724547,2016-12-01,2018-02-17 21:15:02,2018-03-01,2017-01-04 16:18:14,2017-01-01,2018-04-21 20:15:34,2018-05-01,2018-04-11 13:02:12,2018-04-01,14,1.0,15,17.0,0.0,0.001170
74,C_ID_642f591402,0.000000,2017-02-01,2018-02-15 21:04:30,2018-03-01,2017-02-17 18:48:52,2017-02-01,NaT,NaT,NaT,NaT,13,NaN,13,NaN,0.0,0.007257
75,C_ID_55c8d478eb,0.779599,2017-05-01,2018-02-26 16:57:02,2018-03-01,2017-05-27 11:20:45,2017-05-01,2018-04-30 09:20:34,2018-05-01,2018-04-24 06:59:47,2018-04-01,10,1.0,10,12.0,0.0,0.001239
76,C_ID_21c68ed023,-4.302144,2017-09-01,2017-12-22 20:58:37,2018-01-01,2017-09-22 00:42:15,2017-09-01,2018-02-28 14:20:54,2018-03-01,2018-01-05 15:49:06,2018-01-01,4,2.0,4,6.0,1.0,0.000673
77,C_ID_8fdb8d95cd,0.151450,2017-09-01,2018-02-27 10:46:20,2018-03-01,2017-09-22 15:31:25,2017-09-01,2018-04-27 15:28:00,2018-05-01,2018-03-01 21:15:20,2018-03-01,6,2.0,6,8.0,0.0,0.000666
78,C_ID_991e1dbbd1,1.184269,2017-06-01,2018-02-12 15:49:15,2018-03-01,2017-06-09 10:17:07,2017-06-01,2018-04-25 20:28:29,2018-05-01,2018-04-25 20:28:29,2018-04-01,9,1.0,9,11.0,0.0,0.002386
79,C_ID_6dd4663764,0.307063,2017-05-01,2017-11-04 15:27:29,2017-12-01,2017-05-09 09:03:11,2017-05-01,NaT,NaT,NaT,NaT,7,NaN,7,NaN,0.0,0.003063
80,C_ID_09da8a2858,-0.833506,2017-12-01,2018-02-28 17:13:35,2018-03-01,2017-12-11 13:40:16,2017-12-01,2018-04-27 11:19:15,2018-05-01,2018-03-08 11:36:01,2018-03-01,3,2.0,3,5.0,1.0,0.000253
81,C_ID_4aa921d7ab,0.424518,2017-10-01,2018-02-23 11:50:38,2018-03-01,2017-10-11 20:34:38,2017-10-01,2018-04-20 12:39:29,2018-05-01,2018-03-09 05:21:52,2018-03-01,5,2.0,5,7.0,0.0,0.000958
82,C_ID_4761b1fe4b,0.169277,2017-11-01,2018-02-28 09:54:02,2018-03-01,2017-11-24 08:42:42,2017-11-01,2018-04-25 13:08:31,2018-05-01,2018-03-11 14:08:52,2018-03-01,4,2.0,4,6.0,1.0,0.000332
83,C_ID_3dc6288d77,-1.391602,2017-03-01,2018-01-22 16:24:37,2018-02-01,2017-03-19 00:11:39,2017-03-01,2018-03-31 16:22:25,2018-04-01,2018-03-11 14:15:52,2018-03-01,11,1.0,11,13.0,0.0,0.002570
84,C_ID_a5a8717598,-0.119525,2017-05-01,2018-02-20 09:12:49,2018-03-01,2017-05-19 19:00:12,2017-05-01,2018-04-15 01:07:29,2018-05-01,2018-03-27 15:35:01,2018-03-01,10,2.0,10,12.0,0.0,0.000984
85,C_ID_6f9037a176,0.008360,2017-07-01,2018-02-27 11:56:05,2018-03-01,2017-07-11 17:39:29,2017-07-01,2018-04-26 10:11:46,2018-05-01,2018-03-04 09:25:11,2018-03-01,8,2.0,8,10.0,0.0,0.001013
86,C_ID_db2bc1cc20,1.259903,2017-09-01,2017-12-30 12:02:20,2018-01-01,2017-09-03 14:53:47,2017-09-01,2018-02-14 19:42:54,2018-03-01,2018-01-03 19:55:20,2018-01-01,4,2.0,4,6.0,1.0,0.002746
87,C_ID_04dd9152c7,0.000000,2015-08-01,2018-02-12 00:47:07,2018-03-01,2017-11-05 02:20:40,2017-11-01,NaT,NaT,NaT,NaT,4,NaN,24,NaN,1.0,0.000466
88,C_ID_ac0d392217,1.038098,2017-01-01,2018-01-27 13:27:09,2018-02-01,2017-01-24 15:52:28,2017-01-01,2018-03-12 07:01:46,2018-04-01,2018-03-12 07:01:46,2018-03-01,13,1.0,13,15.0,0.0,0.007782
89,C_ID_923262df45,-0.495013,2017-11-01,2018-02-21 19:24:50,2018-03-01,2017-11-10 12:36:18,2017-11-01,2018-04-14 21:44:56,2018-05-01,2018-03-15 12:56:13,2018-03-01,4,2.0,4,6.0,1.0,0.000425
90,C_ID_643ddaea8c,3.459307,2017-01-01,2018-01-11 17:46:18,2018-02-01,2017-01-24 14:02:37,2017-01-01,2018-03-23 20:07:21,2018-04-01,2018-03-21 08:54:28,2018-03-01,13,1.0,13,15.0,0.0,0.004597
91,C_ID_d37ca48da9,0.108680,2016-10-01,2017-03-29 21:10:33,2017-04-01,2017-01-02 09:25:10,2017-01-01,2017-05-21 11:42:53,2017-06-01,2017-04-16 13:15:42,2017-04-01,3,2.0,6,8.0,1.0,0.000460
92,C_ID_b9379a30ea,-33.219281,2015-05-01,2017-08-10 11:26:28,2017-09-01,2017-01-02 11:53:33,2017-01-01,2018-01-13 10:41:01,2018-02-01,2018-01-09 11:40:28,2018-01-01,8,1.0,24,24.0,0.0,0.049381
93,C_ID_281e89ae65,0.103574,2015-01-01,2018-02-15 07:05:16,2018-03-01,2017-01-03 13:16:22,2017-01-01,2018-04-24 11:17:32,2018-05-01,2018-03-09 17:37:38,2018-03-01,14,2.0,24,24.0,0.0,0.001415
94,C_ID_c77514f6b2,-1.250505,2017-06-01,2018-02-23 23:08:54,2018-03-01,2017-06-22 10:11:55,2017-06-01,2018-04-30 21:39:02,2018-05-01,2018-03-06 16:34:03,2018-03-01,9,2.0,9,11.0,0.0,0.000820
95,C_ID_d9388844f8,-0.693928,2016-08-01,2018-02-28 06:59:00,2018-03-01,2017-01-02 17:52:06,2017-01-01,2018-04-24 11:05:05,2018-05-01,2018-03-08 10:04:29,2018-03-01,14,2.0,19,18.0,0.0,0.000518
96,C_ID_24b7e16c4f,-2.788379,2017-01-01,2017-09-25 11:48:41,2017-10-01,2017-01-25 14:42:08,2017-01-01,2017-10-06 15:46:09,2017-11-01,2017-10-05 11:37:58,2017-10-01,9,1.0,9,10.0,0.0,0.063832
97,C_ID_a8ad576b32,-2.939943,2017-03-01,2017-10-14 03:00:00,2017-11-01,2017-01-23 11:32:12,2017-01-01,2018-04-20 07:41:58,2018-05-01,2018-04-20 07:41:58,2018-04-01,10,1.0,8,14.0,0.0,0.001534
98,C_ID_26364d47bb,-5.288426,2014-08-01,2017-09-29 20:46:45,2017-10-01,2017-06-26 16:29:22,2017-06-01,2017-10-28 22:48:51,2017-11-01,2017-10-04 00:00:00,2017-10-01,4,1.0,24,24.0,0.0,0.003863
99,C_ID_26655f11a1,-0.018383,2016-09-01,2018-02-28 08:32:41,2018-03-01,2017-01-06 07:41:15,2017-01-01,2018-04-11 14:04:02,2018-05-01,2018-03-22 11:51:52,2018-03-01,14,2.0,18,18.0,0.0,0.000789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325440,C_ID_e0c937a28e,NaN,2016-08-01,2018-02-21 13:25:09,2018-03-01,2017-01-18 14:49:08,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,19,NaN,0.0,0.003770
325441,C_ID_150d750860,NaN,2017-05-01,2017-12-06 08:43:30,2018-01-01,2017-05-10 11:27:08,2017-05-01,2018-01-07 15:24:20,2018-02-01,2018-01-02 12:55:42,2018-01-01,8,1.0,8,9.0,0.0,0.075286
325442,C_ID_288f60f0f3,NaN,2016-03-01,2017-06-29 18:32:51,2017-07-01,2017-01-12 09:14:35,2017-01-01,2017-08-04 14:57:34,2017-09-01,2017-07-07 10:56:51,2017-07-01,6,2.0,16,18.0,0.0,0.059347
325443,C_ID_55038c97c6,NaN,2017-11-01,2018-02-27 11:14:38,2018-03-01,2017-11-22 23:27:46,2017-11-01,NaT,NaT,NaT,NaT,4,NaN,4,NaN,1.0,0.000525
325444,C_ID_7444c1f807,NaN,2017-08-01,2018-02-20 08:06:51,2018-03-01,2017-07-20 19:23:27,2017-07-01,NaT,NaT,NaT,NaT,8,NaN,7,NaN,0.0,0.002699
325445,C_ID_3ec7752205,NaN,2017-12-01,2018-02-24 07:42:01,2018-03-01,2017-12-02 13:32:08,2017-12-01,2018-04-25 16:36:21,2018-05-01,2018-04-18 10:48:33,2018-04-01,3,1.0,3,5.0,1.0,0.000298