In [1]:
is_stack = [True, False][0]
debug = False
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
import numpy as np
import os
import sys
import time
import datetime
import glob
sys.path.append('../py/')
from s027_kfold_ods import ods_kfold
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import logger_func, get_categorical_features, get_numeric_features, reduce_mem_usage, elo_save_feature, impute_feature
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

from sklearn.metrics import mean_squared_error, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold, KFold, train_test_split

#========================================================================
# Keras 
# Corporación Favorita Grocery Sales Forecasting
from sklearn.linear_model import Ridge
#========================================================================


#========================================================================
# Args
out_part = ['', 'part', 'all'][0]
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg']
stack_name='ridge'
submit = pd.read_csv('../input/sample_submission.csv')
model_type='ridge'
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())
#========================================================================

#========================================================================
# Data Load 
def get_stack_dataset(lgb_path='', is_clf_out=False, is_no_out_flg=False, is_rm_out=False, is_binary=False, is_nn=False, is_rmf=False, is_ext=False, is_rid=False, is_random=False, seed=328):
    print("Preparing dataset...")
    base = utils.read_df_pkl('../input/base_no_out_clf.gz').set_index(key)
    
    #========================================================================
    # Base Model Path
    #========================================================================
    # Clf Out Model
    if is_clf_out: ens_list = glob.glob('../ensemble/clf_min_thres_ensemble/*.gz')
    # No Out Flg Model
    elif is_no_out_flg: ens_list = glob.glob('../no_out_flg_ensemble/*.gz')
    elif is_rm_out: ens_list = glob.glob('../ensemble/rm_outlier_ensemble/*.gz')
    elif is_binary:
        model_type='lgr'
        lgb_list = glob.glob('../stack/*binary*.gz')
        nn_list = []
        ens_list = lgb_list + nn_list
    #========================================================================
    # Base Model
    else:
        if is_random:
            np.random.seed(seed)
            lgb_list = list(np.random.choice(lgb_list, 10))
#             nn_list = list(np.random.choice(nn_list, 1))
        nn_list = []
        rid_list = []
        ext_list = []
        rmf_list = []
        if is_nn : nn_list = glob.glob('../ensemble/NN_ensemble/*CV3*.gz')
        if is_rmf: rmf_list = glob.glob('../ensemble/various_model/*rmf*.gz')
        if is_ext: ext_list = glob.glob('../ensemble/various_model/*ext*.gz')
        if is_rid: rid_list = glob.glob('../ensemble/various_model/*ridge*.gz')
        lgb_list = glob.glob(lgb_path)
        ens_list = lgb_list + nn_list + rid_list + rmf_list + ext_list
    
    #========================================================================
    # Stack Models Load
    from joblib import Parallel, delayed
    def parallel_stack_model(model_path):
        try:
            cv = re.search(r'CV([^/.]*)_LB.gz', model_path).group(1)
        except AttributeError:
            cv = re.search(r'CV([^/.]*).gz', model_path.replace('.', '-')).group(1)
        tmp = utils.read_pkl_gzip(model_path)
        if key not in tmp.columns:
            tmp.reset_index(inplace=True)
        if 'pred_mean' in tmp.columns:
            tmp = tmp[[key, 'pred_mean']]
        else:
            tmp = tmp[[key, 'prediction']]
            
        if model_path.count('lgb'):
            tmp.columns = [key, f"base_lgb_{cv}"]
        elif model_path.count('NN'):
            tmp.columns = [key, f"base_NN_{cv}"]
        elif model_path.count('ridge'):
            tmp.columns = [key, f"base_ridge_{cv}"]
        elif model_path.count('rmf'):
            tmp.columns = [key, f"base_rmf_{cv}"]
        elif model_path.count('ext'):
            tmp.columns = [key, f"base_ext_{cv}"]
        else:
            tmp.columns = [key, f"base_model_{cv}"]
        return tmp.set_index(key)
    #========================================================================
    
    p_list = Parallel(n_jobs=-1)([delayed(parallel_stack_model)(model_path) for model_path in ens_list])
    df_pred = pd.concat(p_list, axis=1)
    if is_rm_out:
        cv15 = [col for col in df_pred.columns if col.count('1-5')]
        cv8 = [col for col in df_pred.columns if col.count('8-')]
        df_pred['tmp_mean'] = df_pred[cv8].mean(axis=1).values
        for col in cv15:
            df_pred.loc[df_pred[col].isnull(), col] = df_pred.loc[df_pred[col].isnull(), 'tmp_mean']
    base = base.join(df_pred)
    
    #========================================================================
    
    if key in base.columns:
        train = base[~base[target].isnull()]
        test = base[base[target].isnull()]
    else:
        train = base[~base[target].isnull()].reset_index()
        test = base[base[target].isnull()].reset_index()
    
    if is_rm_out:
        train = train[~train[target].isnull()]
    elif is_clf_out:
        train = train[train['clf_pred']<0.01]
        test = test[test['clf_pred']<0.01]
    elif is_binary:
        train[target] = train[target].map(lambda x: 1 if x<-30 else 0)
        
    display(train.head())
    
    return train, test

2019-02-18 10:06:21,437 utils 400 [INFO]    [logger_func] start

In [11]:
from sklearn.linear_model import LogisticRegression

valid_type = ['ods', 'pmo' ,'pm' ,'term'][3]
lgb_path = '../ensemble/pmo_all_stack_level1/*.gz'
lgb_path = '../ensemble/good_submit_ensemble/0215_083_stack_submit_OUT29-7593_CV3-61266_LB3-664.gz'
# lgb_path = '../ensemble/dir_stack_blend/tmp/*_lgb_*.gz'
#========================================================================
# Make Dataset 
is_clf_out = [True, False][1]
is_no_out_flg = [True, False][1]
is_rm_out = [True, False][1]
is_binary = [True, False][1]
is_nn = 0
is_rid = 0
is_rmf = 0
is_ext = 0
is_random = 0
seed_size = 1
#========================================================================
    
#========================================================================
# CVの準備
seed = 328
fold_seed = 328
fold_seed = 1208
seed_list = [328, 1208]
fold = 6

if is_rm_out:
    set_type = 'rm_out'
else:
    set_type = 'all'

#========================================================================
# Dataset
submit = pd.read_csv('../input/sample_submission.csv').set_index(key)
result_list = []
score_list = []
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg', 'clf_pred']
#========================================================================
    
train, test = get_stack_dataset(lgb_path=lgb_path, is_rmf=is_rmf, is_ext=is_ext, is_random=is_random, seed=seed)

  0%|          | 0/1 [00:00<?, ?it/s]

Preparing dataset...

100%|██████████| 1/1 [00:00<00:00,  3.97it/s]

,card_id,target,first_active_month,hist_purchase_date_max,hist_purchase_month_max,hist_purchase_date_min,hist_purchase_month_min,new_purchase_date_max,new_purchase_month_max,new_purchase_date_min,new_purchase_month_min,hist_personal_term,new_personal_term,hist_regist_term,new_regist_term,no_out_flg,clf_pred,base_model_3-61266_LB3-664
0,C_ID_92a2005557,-0.820283,2017-06-01,2018-02-25 09:31:15,2018-03-01,2017-06-27 14:18:08,2017-06-01,2018-04-29 11:23:05,2018-05-01,2018-03-05 14:04:36,2018-03-01,9,2.0,9,11.0,1.0,0.000444,-0.343964
1,C_ID_3d0044924f,0.392913,2017-01-01,2018-01-31 22:31:09,2018-02-01,2017-01-06 16:29:42,2017-01-01,2018-03-30 06:48:26,2018-04-01,2018-02-01 17:07:54,2018-02-01,13,2.0,13,15.0,0.0,0.007831,0.226026
2,C_ID_d639edf6cd,0.688056,2016-08-01,2018-02-27 19:08:25,2018-03-01,2017-01-11 08:21:22,2017-01-01,2018-04-28 17:43:11,2018-05-01,2018-04-28 17:43:11,2018-04-01,14,1.0,19,18.0,0.0,0.004074,0.750429
3,C_ID_186d6a6901,0.142495,2017-09-01,2018-02-28 11:44:40,2018-03-01,2017-09-26 16:22:21,2017-09-01,2018-04-18 11:00:11,2018-05-01,2018-03-07 11:55:06,2018-03-01,6,2.0,6,8.0,0.0,0.000797,0.193548
4,C_ID_cdbd2c0db2,-0.159749,2017-11-01,2018-02-28 20:40:41,2018-03-01,2017-11-12 00:00:00,2017-11-01,2018-04-28 18:50:25,2018-05-01,2018-03-02 11:55:43,2018-03-01,4,2.0,4,6.0,1.0,0.000251,-0.258822

In [39]:
# df_hist = pd.read_csv('../input/historical_transactions.csv')
# df_hist['purchase_amount_new'] = np.round(df_hist['purchase_amount'] / 0.00150265118 + 497.06, 2)
# df_new = pd.read_csv('../input/new_merchant_transactions.csv')
# df_new['purchase_amount_new'] = np.round(df_new['purchase_amount'] / 0.00150265118 + 497.06, 2)

# del df_hist
# gc.collect()

977

In [7]:
id_list = utils.read_pkl_gzip('../input/0217_merchant_one_id_list.gz')
# display(train.loc[train[key].isin(id_list), base_col][base_col[0]].map(lambda x: np.round(x, 1)).value_counts())
# display(test.loc[test[key].isin(id_list), base_col][base_col[0]].map(lambda x: np.round(x, 1)).value_counts())
# display(train.loc[train[key].isin(id_list), target].map(lambda x: np.round(x, 1)).value_counts())
tmp = train.loc[train[key].isin(id_list), [key, target]]
# id_list = tmp[tmp[target]<-30][key].values

train.loc[train[key].isin(id_list), :]

,card_id,target,first_active_month,hist_purchase_date_max,hist_purchase_month_max,hist_purchase_date_min,hist_purchase_month_min,new_purchase_date_max,new_purchase_month_max,new_purchase_date_min,new_purchase_month_min,hist_personal_term,new_personal_term,hist_regist_term,new_regist_term,no_out_flg,clf_pred,base_model_3-61266_LB3-664
175,C_ID_7decdf7eec,0.000000,2016-04-01,2018-02-24 05:32:54,2018-03-01,2017-01-24 07:04:52,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,23,NaN,0.0,0.002881,0.147969
818,C_ID_fba4a71df1,0.135437,2015-11-01,2018-02-18 06:16:55,2018-03-01,2017-01-16 07:32:14,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.002387,0.133502
1100,C_ID_dc8b95d37f,0.000000,2016-02-01,2017-07-06 07:20:23,2017-08-01,2017-01-06 07:03:40,2017-01-01,NaT,NaT,NaT,NaT,7,NaN,18,NaN,0.0,0.029440,-0.365080
2061,C_ID_716e065493,-0.487497,2017-10-01,2018-02-26 08:06:27,2018-03-01,2017-09-25 19:45:46,2017-09-01,NaT,NaT,NaT,NaT,6,NaN,5,NaN,0.0,0.002798,0.134141
3442,C_ID_460aa35ea2,0.000000,2015-12-01,2017-07-05 06:40:50,2017-08-01,2017-01-05 07:26:19,2017-01-01,NaT,NaT,NaT,NaT,7,NaN,20,NaN,0.0,0.025907,-0.728847
3485,C_ID_5da6294302,0.000000,2016-06-01,2018-02-12 09:10:03,2018-03-01,2017-01-29 08:57:40,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,21,NaN,0.0,0.002430,0.098572
4061,C_ID_9000088bfa,0.149481,2016-03-01,2017-03-18 11:17:40,2017-04-01,2017-01-16 08:21:02,2017-01-01,NaT,NaT,NaT,NaT,3,NaN,13,NaN,1.0,0.000605,0.141312
4089,C_ID_c94316139b,0.000000,2016-09-01,2017-08-21 09:15:29,2017-09-01,2017-01-06 09:21:00,2017-01-01,NaT,NaT,NaT,NaT,8,NaN,12,NaN,0.0,0.048857,-0.721559
4148,C_ID_1a4fbf387c,0.000000,2017-11-01,2018-02-26 08:33:02,2018-03-01,2017-11-26 15:50:14,2017-11-01,NaT,NaT,NaT,NaT,4,NaN,4,NaN,1.0,0.000441,0.143168
4712,C_ID_909bc065d5,0.000000,2017-09-01,2018-02-09 07:18:27,2018-03-01,2017-09-09 23:22:00,2017-09-01,NaT,NaT,NaT,NaT,6,NaN,6,NaN,0.0,0.003234,0.146546
5479,C_ID_ffafee7ba5,1.000000,2015-08-01,2017-05-30 06:18:16,2017-06-01,2017-01-30 08:56:30,2017-01-01,NaT,NaT,NaT,NaT,5,NaN,22,NaN,0.0,0.015134,-0.049877
5612,C_ID_601d0f0968,0.000000,2016-07-01,2018-02-12 10:05:52,2018-03-01,2017-01-12 09:06:12,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,20,NaN,0.0,0.002502,0.106467
6205,C_ID_c96fc9a6c1,0.000190,2016-05-01,2018-02-28 06:29:54,2018-03-01,2017-01-31 07:19:44,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,22,NaN,0.0,0.004557,0.146475
7066,C_ID_fe13eb2f13,0.000000,2017-10-01,2018-02-21 06:15:34,2018-03-01,2017-10-11 03:07:38,2017-10-01,NaT,NaT,NaT,NaT,5,NaN,5,NaN,0.0,0.001788,0.209414
7325,C_ID_c896741d32,0.284918,2017-09-01,2018-02-09 09:56:48,2018-03-01,2017-09-09 23:22:00,2017-09-01,NaT,NaT,NaT,NaT,6,NaN,6,NaN,0.0,0.003759,0.219521
8415,C_ID_114a185185,2.365127,2015-09-01,2017-11-27 09:29:48,2017-12-01,2017-01-27 06:58:15,2017-01-01,NaT,NaT,NaT,NaT,11,NaN,24,NaN,0.0,0.044209,-1.365098
9016,C_ID_4122576347,0.000000,2016-11-01,2017-04-14 07:24:58,2017-05-01,2017-01-14 08:31:56,2017-01-01,NaT,NaT,NaT,NaT,4,NaN,6,NaN,1.0,0.000744,0.118595
9047,C_ID_5e4878340b,0.000000,2015-12-01,2018-02-08 10:53:24,2018-03-01,2017-01-25 09:24:30,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.003168,0.122991
9122,C_ID_aa729ac642,0.000000,2016-10-01,2018-02-14 11:31:55,2018-03-01,2017-01-14 13:22:51,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,17,NaN,0.0,0.002896,0.131630
9391,C_ID_4c1d47dc60,0.000000,2017-05-01,2017-09-14 08:57:58,2017-10-01,2017-05-08 17:54:51,2017-05-01,NaT,NaT,NaT,NaT,5,NaN,5,NaN,0.0,0.019050,-0.266688
9704,C_ID_a85aeacf0d,0.000000,2017-11-01,2018-02-03 12:40:14,2018-03-01,2017-09-08 13:10:00,2017-09-01,NaT,NaT,NaT,NaT,6,NaN,4,NaN,1.0,0.004794,0.242414
11064,C_ID_2ec9a647df,0.000000,2015-09-01,2017-06-20 05:56:32,2017-07-01,2017-01-20 08:39:38,2017-01-01,NaT,NaT,NaT,NaT,6,NaN,22,NaN,0.0,0.039929,-0.820967
11240,C_ID_43c66de601,0.000000,2015-12-01,2018-02-14 08:45:09,2018-03-01,2017-01-14 08:06:20,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.002461,0.096629
11675,C_ID_fdca051c45,0.000000,2015-09-01,2018-02-13 06:32:39,2018-03-01,2017-10-14 00:15:26,2017-10-01,NaT,NaT,NaT,NaT,5,NaN,24,NaN,0.0,0.002480,0.275270
12119,C_ID_78228f251c,0.284918,2016-05-01,2017-06-27 08:24:05,2017-07-01,2017-01-25 07:38:03,2017-01-01,NaT,NaT,NaT,NaT,6,NaN,14,NaN,0.0,0.029150,-1.277570
12835,C_ID_c6950b594c,0.000000,2017-09-01,2017-12-26 07:47:00,2018-01-01,2017-08-26 15:30:07,2017-08-01,NaT,NaT,NaT,NaT,5,NaN,4,NaN,1.0,0.011291,0.102421
13516,C_ID_855df91a10,0.000000,2016-04-01,2018-02-27 05:45:27,2018-03-01,2017-01-27 06:40:12,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,23,NaN,0.0,0.002842,0.081769
13811,C_ID_717c6f2883,0.000000,2018-01-01,2018-02-04 07:39:23,2018-03-01,2017-12-05 01:58:53,2017-12-01,NaT,NaT,NaT,NaT,3,NaN,2,NaN,1.0,0.000494,0.237218
13821,C_ID_b3c7ff9e19,0.000000,2016-04-01,2018-02-03 19:03:10,2018-03-01,2017-01-03 15:28:20,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,23,NaN,0.0,0.008794,0.119642
14006,C_ID_f6ad942e7d,0.000000,2015-10-01,2017-10-29 10:49:18,2017-11-01,2017-01-29 07:59:44,2017-01-01,NaT,NaT,NaT,NaT,10,NaN,24,NaN,0.0,0.054389,-1.745101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173755,C_ID_640f9c957c,0.000000,2017-09-01,2018-02-15 08:02:05,2018-03-01,2017-09-14 14:40:57,2017-09-01,NaT,NaT,NaT,NaT,6,NaN,6,NaN,0.0,0.002598,0.214728
174011,C_ID_f910b1611b,0.000000,2016-07-01,2018-02-28 09:49:54,2018-03-01,2017-01-28 08:48:54,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,20,NaN,0.0,0.002971,0.084124
174643,C_ID_fc8c48525b,0.181140,2015-09-01,2017-04-07 04:49:39,2017-05-01,2017-01-07 06:43:45,2017-01-01,NaT,NaT,NaT,NaT,4,NaN,20,NaN,0.0,0.000777,0.097955
175250,C_ID_24e899710f,0.000000,2016-08-01,2018-02-20 08:10:13,2018-03-01,2017-01-20 10:14:33,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,19,NaN,0.0,0.002980,0.114013
177331,C_ID_d8c4b0cf3d,0.000000,2017-10-01,2018-02-28 08:42:02,2018-03-01,2017-10-25 12:31:13,2017-10-01,NaT,NaT,NaT,NaT,5,NaN,5,NaN,0.0,0.002310,0.216935
179441,C_ID_050dd3c541,6.377131,2017-11-01,2017-12-27 07:07:25,2018-01-01,2017-11-27 19:08:42,2017-11-01,NaT,NaT,NaT,NaT,2,NaN,2,NaN,1.0,0.000534,0.189497
180501,C_ID_4475a91e5c,0.000000,2017-06-01,2017-10-29 10:59:50,2017-11-01,2017-05-29 08:51:09,2017-05-01,NaT,NaT,NaT,NaT,6,NaN,5,NaN,0.0,0.041778,-1.478712
180885,C_ID_a40e135ea1,0.000000,2016-07-01,2018-02-19 07:12:46,2018-03-01,2017-01-19 10:41:18,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,20,NaN,0.0,0.002686,0.153287
181553,C_ID_bdcbc3cedc,0.284918,2017-04-01,2018-02-16 07:08:31,2018-03-01,2017-03-16 19:42:26,2017-03-01,NaT,NaT,NaT,NaT,12,NaN,11,NaN,0.0,0.002509,0.134938
183062,C_ID_12f48a1d1f,0.000000,2015-08-01,2018-02-08 16:26:45,2018-03-01,2017-01-08 12:55:53,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.003173,0.145573
183543,C_ID_955314e248,0.000000,2016-11-01,2018-02-10 08:08:56,2018-03-01,2017-02-07 19:57:24,2017-02-01,NaT,NaT,NaT,NaT,13,NaN,16,NaN,0.0,0.002969,0.090317
185901,C_ID_5513d9c658,0.000000,2017-12-01,2018-02-28 08:02:23,2018-03-01,2017-12-03 11:20:18,2017-12-01,NaT,NaT,NaT,NaT,3,NaN,3,NaN,1.0,0.000482,0.234950
186777,C_ID_a0b6ba9ae3,0.000000,2016-12-01,2018-02-21 09:32:38,2018-03-01,2017-01-21 12:41:35,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,15,NaN,0.0,0.002853,0.095588
187840,C_ID_6eedf684cf,0.135437,2015-11-01,2017-05-18 05:47:45,2017-06-01,2017-01-17 08:03:35,2017-01-01,NaT,NaT,NaT,NaT,5,NaN,19,NaN,0.0,0.011179,0.223094
189118,C_ID_712a13032b,0.000000,2015-09-01,2018-02-07 08:06:30,2018-03-01,2017-01-07 07:34:42,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.003032,0.060406
189317,C_ID_349c7aa6bb,0.000000,2013-12-01,2018-02-21 08:09:00,2018-03-01,2017-01-18 09:38:52,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.003937,0.057995
190309,C_ID_385a3e4b76,7.976341,2016-12-01,2017-09-13 17:13:17,2017-10-01,2017-05-13 16:16:20,2017-05-01,NaT,NaT,NaT,NaT,5,NaN,10,NaN,0.0,0.021337,-0.055760
191255,C_ID_c2a16ecdd5,0.149481,2015-09-01,2017-04-05 06:23:54,2017-05-01,2017-01-05 07:48:22,2017-01-01,NaT,NaT,NaT,NaT,4,NaN,20,NaN,0.0,0.000693,0.126501
193289,C_ID_1ba232d408,0.000000,2016-01-01,2018-01-10 08:26:51,2018-02-01,2017-01-10 07:46:38,2017-01-01,NaT,NaT,NaT,NaT,13,NaN,24,NaN,0.0,0.011678,0.298845
193959,C_ID_170b15819c,0.000000,2018-01-01,2018-02-26 07:23:21,2018-03-01,2017-12-26 21:57:10,2017-12-01,NaT,NaT,NaT,NaT,3,NaN,2,NaN,1.0,0.000420,0.198747
195329,C_ID_9b26016600,0.441933,2017-01-01,2017-10-14 09:19:01,2017-11-01,2017-01-02 16:48:45,2017-01-01,NaT,NaT,NaT,NaT,10,NaN,10,NaN,0.0,0.059691,-3.727689
195824,C_ID_958200bf46,0.000000,2016-07-01,2018-02-09 16:11:16,2018-03-01,2017-01-09 13:52:18,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,20,NaN,0.0,0.003350,0.120722
195858,C_ID_bc18032082,0.000000,2015-11-01,2018-02-24 07:21:42,2018-03-01,2017-01-24 07:35:01,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.002635,0.182792
195966,C_ID_1e6ba7c34f,0.000000,2017-10-01,2018-02-27 10:01:04,2018-03-01,2017-10-09 18:55:09,2017-10-01,NaT,NaT,NaT,NaT,5,NaN,5,NaN,0.0,0.002758,0.202335
196032,C_ID_59ac96a8bf,6.175741,2015-10-01,2018-02-20 06:55:43,2018-03-01,2017-01-20 07:44:01,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.002354,0.102251
196428,C_ID_6c9769e4d8,0.000000,2015-11-01,2018-02-02 17:49:39,2018-03-01,2017-01-02 16:16:09,2017-01-01,NaT,NaT,NaT,NaT,14,NaN,24,NaN,0.0,0.008658,0.118893
196620,C_ID_e9c9991334,0.000000,2017-06-01,2018-02-21 07:12:54,2018-03-01,2017-05-30 21:02:52,2017-05-01,NaT,NaT,NaT,NaT,10,NaN,9,NaN,0.0,0.003070,0.170446
200427,C_ID_e2209387ad,0.000000,2017-07-01,2018-02-28 07:27:20,2018-03-01,2017-06-26 08:34:46,2017-06-01,NaT,NaT,NaT,NaT,9,NaN,8,NaN,0.0,0.003457,0.183264
200730,C_ID_ba26c0f556,0.000000,2017-08-01,2018-02-21 08:43:04,2018-03-01,2017-07-21 21:11:49,2017-07-01,NaT,NaT,NaT,NaT,8,NaN,7,NaN,0.0,0.002283,0.112680
201152,C_ID_5b962bfb84,0.000000,2016-09-01,2018-02-05 07:41:27,2018-03-01,2017-10-05 23:58:24,2017-10-01,NaT,NaT,NaT,NaT,5,NaN,18,NaN,0.0,0.002441,0.275281

In [37]:
pd.set_option('max_row', 500)
tmp = df_hist.loc[df_hist[key].isin(id_list), :]
train['raw_target'] = 2**train[target]
base_col = [col for col in train.columns if col.count('base_')]
# tmp[tmp[target]>3]
tmp.set_index([key, 'purchase_date'], inplace=True)
tmp = tmp.join(train.set_index([key])[[target, 'raw_target', 'clf_pred', base_col[0]]])
tmp.sort_values(by=[target], ascending=True, inplace=True)
tmp.sort_values(by=[key, 'purchase_date'], ascending=True, inplace=True)

In [38]:
viz_cols = ['authorized_flag', 'installments', 'merchant_id', 'month_lag', 'purchase_amount_new', target, 'raw_target', 'clf_pred', base_col[0]]
tmp = tmp[~tmp[target].isnull()][viz_cols]
tmp['diff'] = np.abs(tmp[target] - tmp[base_col[0]])
tmp[tmp['diff']>2]

                                    authorized_flag  installments  \
card_id         purchase_date
C_ID_039afe8efd 2017-01-21 08:53:30               Y             1
                2017-02-21 07:58:54               Y             1
                2017-03-21 10:13:38               Y             1
                2017-04-21 07:10:57               Y             1
                2017-05-21 07:07:24               Y             1
                2017-06-21 07:09:02               Y             1
                2017-07-21 08:50:59               Y             1
                2017-08-21 14:23:35               Y             1
                2017-09-21 11:47:02               Y             1
                2017-10-21 09:12:55               Y             1
                2017-11-21 10:48:37               Y             1
                2017-12-21 09:12:24               Y             1
C_ID_050dd3c541 2017-11-27 19:08:42               Y             1
                2017-11-27 19:08:46               Y             1
                2017-12-27 07:07:25               Y             1
C_ID_1024152955 2017-02-12 22:24:00               Y             1
                2017-03-15 10:23:04               Y             1
                2017-04-15 07:00:57               Y             1
                2017-05-15 16:06:25               Y             1
                2017-06-15 08:27:48               Y             1
                2017-07-16 08:05:33               Y             1
                2017-08-15 07:11:13               Y             1
                2017-09-15 09:43:32               N             1
                2017-09-19 15:49:39               N             1
                2017-09-27 16:55:12               Y             1
                2017-10-27 12:41:14               N             1
                2017-10-31 15:17:53               N             1
                2017-11-08 19:05:34               N             1
                2017-11-16 17:28:06               Y             1
                2017-12-16 08:11:54               N             1
                2017-12-20 16:55:12               Y             1
C_ID_114a185185 2017-01-27 06:58:15               Y             1
                2017-02-27 06:40:34               Y             1
                2017-03-27 09:12:52               Y             1
                2017-04-27 05:26:06               Y             1
                2017-05-27 06:00:40               Y             1
                2017-06-27 06:05:10               Y             1
                2017-07-27 05:12:12               Y             1
                2017-08-27 06:31:00               Y             1
                2017-09-27 08:56:27               Y             1
                2017-10-27 09:42:40               Y             1
                2017-11-27 09:29:48               Y             1
C_ID_1c92f0c51b 2017-01-10 08:35:29               Y             1
                2017-02-10 08:10:42               Y             1
                2017-03-10 11:18:20               Y             1
                2017-04-10 06:17:17               Y             1
                2017-05-11 01:42:25               Y             1
                2017-06-10 07:06:31               Y             1
                2017-07-10 09:54:12               Y             1
                2017-08-10 07:14:35               Y             1
                2017-09-10 20:05:46               Y             1
                2017-10-10 10:05:12               Y             1
                2017-11-10 11:43:21               Y             1
                2017-12-10 10:08:31               Y             1
                2018-01-10 10:12:25               Y             1
                2018-01-25 18:01:19               Y             1
                2018-01-26 06:48:09               Y             1
                2018-02-10 09:04:39               Y             1
C_ID_385a3e4b76 2017-05-13 16:16:20               Y             1
                2017-05-13 16:16:50               Y             1
                2017-06-13 11:02:38               Y             1
                2017-07-13 15:03:22               Y             1
                2017-08-13 12:22:07               Y             1
                2017-09-13 17:13:17               Y             1
C_ID_4c44b1b175 2017-01-03 16:25:08               Y             1
                2017-02-03 09:42:00               Y             1
                2017-03-03 11:22:51               Y             1
                2017-04-03 07:41:34               Y             1
                2017-05-04 02:42:53               Y             1
                2017-06-03 08:01:00               Y             1
                2017-07-03 07:28:40               Y             1
                2017-08-03 21:24:27               Y             1
                2017-09-03 10:43:49               Y             1
                2017-11-03 12:21:41               Y             1
                2017-12-03 09:23:40               Y             1
                2018-01-03 10:07:23               Y             1
                2018-02-03 13:58:40               Y             1
C_ID_4c554166a2 2017-12-29 11:59:38               Y             1
                2018-01-29 07:02:35               Y             1
                2018-02-28 06:36:51               Y             1
C_ID_52a0771a37 2017-01-24 09:04:12               Y             1
                2017-02-24 08:04:06               Y             1
                2017-03-24 09:35:14               Y             1
                2017-04-24 06:43:18               Y             1
                2017-05-25 03:40:19               Y             1
                2017-06-24 08:29:50               Y             1
                2017-07-25 07:04:23               Y             1
                2017-08-24 06:51:12               Y             1
                2017-09-24 11:31:29               Y             1
                2017-10-24 09:55:42               Y             1
                2017-11-24 10:42:29               Y             1
                2017-12-24 09:32:48               Y             1
C_ID_5597ab65c2 2017-01-03 09:53:06               Y             1
                2017-02-03 10:35:52               Y             1
                2017-03-03 12:49:39               Y             1
                2017-04-03 09:05:35               Y             1
                2017-05-03 17:39:46               Y             1
                2017-06-03 09:39:58               Y             1
                2017-07-03 09:27:01               Y             1
                2017-08-03 13:52:29               Y             1
                2017-09-03 12:42:04               Y             1
                2017-10-05 17:47:48               Y             1
                2017-11-05 10:27:26               Y             1
                2017-12-05 11:00:48               Y             1
C_ID_59ac96a8bf 2017-01-20 07:44:01               Y             1
                2017-02-20 06:43:32               Y             1
                2017-03-20 10:00:03               Y             1
                2017-04-20 06:42:04               Y             1
                2017-05-20 05:07:40               Y             1
                2017-06-20 05:49:08               Y             1
                2017-07-20 17:28:58               Y             1
                2017-08-20 04:54:10               Y             1
                2017-09-20 08:49:18               Y             1
                2017-10-20 08:48:36               Y             1
                2017-11-20 09:00:57               Y             1
                2017-12-20 07:49:49               Y             1
                2018-01-20 07:58:04               Y             1
                2018-02-20 06:55:43               Y             1
C_ID_6216dd25c3 2017-01-01 11:08:30               Y             1
                2017-02-01 08:52:23               Y             1
                2017-03-01 10:09:47               Y             1
                2017-04-01 06:32:52               Y             1
                2017-05-01 05:51:00               Y             1
                2017-06-01 06:28:40               Y             1
                2017-07-01 04:53:42               Y             1
                2017-08-01 07:45:29               Y             1
                2017-09-01 09:36:01               Y             1
                2017-10-01 10:42:59               Y             1
                2017-11-01 09:24:51               Y             1
                2017-12-01 09:33:33               Y             1
                2018-01-01 09:58:10               Y             1
                2018-02-01 06:54:57               Y             1
C_ID_9b26016600 2017-01-02 16:48:45               Y             1
                2017-01-02 16:48:47               Y             1
                2017-02-02 08:23:23               Y             1
                2017-03-02 09:45:09               Y             1
                2017-04-02 05:44:49               Y             1
                2017-05-02 18:24:27               Y             1
                2017-06-02 06:55:41               Y             1
                2017-07-02 05:32:20               N             1
                2017-07-06 07:31:33               N             1
                2017-07-14 07:39:41               Y             1
                2017-08-14 06:21:38               Y             1
                2017-09-14 09:29:19               Y             1
                2017-10-14 09:19:01               Y             1
C_ID_a2dc8471b4 2017-01-30 07:23:59               Y             1
                2017-02-28 07:10:16               Y             1
                2017-03-30 08:00:58               Y             1
                2017-04-30 06:24:22               Y             1
                2017-05-30 05:18:54               Y             1
                2017-07-30 07:17:12               Y             1
                2017-08-30 07:02:59               Y             1
                2017-09-30 08:53:10               Y             1
                2017-10-30 08:09:04               N             1
                2017-10-30 15:20:54               Y             1
C_ID_a7b6bb03a3 2017-05-03 15:08:23               Y             1
                2017-07-15 08:46:22               Y             1
                2017-08-15 06:53:56               Y             1
                2017-09-15 08:48:57               Y             1
                2017-10-15 10:55:43               Y             1
                2017-11-15 11:01:56               Y             1
                2017-12-15 08:04:43               Y             1
C_ID_b0019dd5c7 2017-03-25 20:16:44               Y             1
                2017-04-25 06:26:12               N             1
                2017-04-25 19:47:54               Y             1
                2017-04-25 19:47:56               Y             1
                2017-05-25 11:01:26               N             1
                2017-05-29 12:39:46               N             1
                2017-06-06 15:13:22               N             1
                2017-06-14 17:22:55               N             1
                2017-06-22 19:43:27               N             1
                2017-06-23 07:16:36               Y             1
                2017-06-23 07:16:39               Y             1
                2017-07-23 06:55:53               Y             1
                2017-08-23 14:19:20               Y             1
                2017-09-23 11:52:42               Y             1
                2017-10-23 11:20:11               N             1
                2017-10-27 16:29:23               N             1
                2017-10-28 03:06:35               Y             1
                2017-10-28 03:06:41               Y             1
C_ID_cc0ceda878 2017-08-06 16:56:04               Y             1
                2017-10-05 01:21:49               N             1
                2017-12-28 10:39:08               Y             1
                2017-12-28 10:39:15               Y             1
C_ID_d91a751e33 2017-01-24 09:00:07               Y             1
                2017-02-24 07:48:46               Y             1
                2017-03-24 09:30:37               Y             1
                2017-04-24 07:32:29               Y             1
                2017-06-24 07:37:09               N             1
                2017-06-25 18:45:39               Y             1
                2017-06-25 18:45:42               Y             1
                2017-07-25 09:01:13               Y             1
                2017-08-25 20:40:53               Y             1
                2017-09-25 10:18:49               Y             1
                2017-10-25 10:32:35               Y             1
                2017-12-25 09:34:07               Y             1
C_ID_d9bd7ba8a9 2017-01-10 09:00:15               Y             1
                2017-02-10 08:13:26               Y             1
                2017-03-10 11:28:56               Y             1
                2017-04-10 07:25:04               Y             1
                2017-05-10 13:41:17               Y             1
                2017-06-10 07:10:06               Y             1
                2017-07-10 08:23:17               Y             1
                2017-08-10 05:51:02               Y             1
                2017-09-10 12:49:44               Y             1
C_ID_f840a74f9d 2017-01-08 07:12:32               Y             1
                2017-02-08 07:16:33               Y             1
                2017-03-08 09:21:24               Y             1
                2017-05-09 02:57:11               Y             1
                2017-06-08 05:22:21               Y             1
                2017-07-08 05:15:23               Y             1
                2017-08-08 05:11:41               Y             1
C_ID_fc0d2e9fc9 2017-01-15 08:04:59               Y             1
                2017-02-15 07:45:35               Y             1
                2017-03-15 08:45:27               Y             1
                2017-04-15 05:46:42               Y             1
                2017-05-15 15:24:29               Y             1
                2017-06-15 05:57:20               Y             1
                2017-07-15 08:11:30               Y             1
                2017-08-15 18:53:49               Y             1
                2017-09-15 08:39:39               Y             1
                2017-10-15 09:41:59               Y             1
                2017-11-15 09:29:01               N             1
                2017-11-19 19:14:16               Y             1
                2017-12-19 07:19:22               Y             1
C_ID_fdd580d78d 2017-01-31 07:28:19               N             1
                2017-02-04 10:33:52               N             1
                2017-02-12 15:26:50               N             1
                2017-02-14 18:34:53               Y             1
                2017-02-14 18:34:55               Y             1
                2017-03-14 08:55:28               N             1
                2017-03-15 00:25:04               Y             1
                2017-03-15 00:25:06               Y             1
                2017-04-14 05:17:56               Y             1
                2017-05-14 15:44:08               N             1
                2017-05-14 18:55:14               Y             1
                2017-05-14 18:55:15               Y             1
                2017-06-14 06:20:42               Y             1
                2017-07-14 05:22:38               N             1
                2017-07-15 14:39:04               Y             1
                2017-07-15 14:39:08               N             1
                2017-07-15 14:39:58               N             1
                2017-07-15 14:41:05               Y             1
                2017-08-15 06:43:04               Y             1
                2017-09-15 08:20:51               Y             1
                2017-10-15 09:39:16               Y             1
                2017-11-15 09:38:01               N             1
                2017-11-15 16:51:43               Y             1
                2017-11-15 16:51:48               Y             1
                2017-12-15 07:45:55               Y             1

                                         merchant_id  month_lag  \
card_id         purchase_date
C_ID_039afe8efd 2017-01-21 08:53:30  M_ID_fc7d7969c3        -11
                2017-02-21 07:58:54  M_ID_fc7d7969c3        -10
                2017-03-21 10:13:38  M_ID_fc7d7969c3         -9
                2017-04-21 07:10:57  M_ID_fc7d7969c3         -8
                2017-05-21 07:07:24  M_ID_fc7d7969c3         -7
                2017-06-21 07:09:02  M_ID_fc7d7969c3         -6
                2017-07-21 08:50:59  M_ID_fc7d7969c3         -5
                2017-08-21 14:23:35  M_ID_fc7d7969c3         -4
                2017-09-21 11:47:02  M_ID_fc7d7969c3         -3
                2017-10-21 09:12:55  M_ID_fc7d7969c3         -2
                2017-11-21 10:48:37  M_ID_fc7d7969c3         -1
                2017-12-21 09:12:24  M_ID_fc7d7969c3          0
C_ID_050dd3c541 2017-11-27 19:08:42  M_ID_fc7d7969c3         -1
                2017-11-27 19:08:46  M_ID_fc7d7969c3         -1
                2017-12-27 07:07:25  M_ID_fc7d7969c3          0
C_ID_1024152955 2017-02-12 22:24:00  M_ID_fc7d7969c3        -10
                2017-03-15 10:23:04  M_ID_fc7d7969c3         -9
                2017-04-15 07:00:57  M_ID_fc7d7969c3         -8
                2017-05-15 16:06:25  M_ID_fc7d7969c3         -7
                2017-06-15 08:27:48  M_ID_fc7d7969c3         -6
                2017-07-16 08:05:33  M_ID_fc7d7969c3         -5
                2017-08-15 07:11:13  M_ID_fc7d7969c3         -4
                2017-09-15 09:43:32  M_ID_fc7d7969c3         -3
                2017-09-19 15:49:39  M_ID_fc7d7969c3         -3
                2017-09-27 16:55:12  M_ID_fc7d7969c3         -3
                2017-10-27 12:41:14  M_ID_fc7d7969c3         -2
                2017-10-31 15:17:53  M_ID_fc7d7969c3         -2
                2017-11-08 19:05:34  M_ID_fc7d7969c3         -1
                2017-11-16 17:28:06  M_ID_fc7d7969c3         -1
                2017-12-16 08:11:54  M_ID_fc7d7969c3          0
                2017-12-20 16:55:12  M_ID_fc7d7969c3          0
C_ID_114a185185 2017-01-27 06:58:15  M_ID_fc7d7969c3        -10
                2017-02-27 06:40:34  M_ID_fc7d7969c3         -9
                2017-03-27 09:12:52  M_ID_fc7d7969c3         -8
                2017-04-27 05:26:06  M_ID_fc7d7969c3         -7
                2017-05-27 06:00:40  M_ID_fc7d7969c3         -6
                2017-06-27 06:05:10  M_ID_fc7d7969c3         -5
                2017-07-27 05:12:12  M_ID_fc7d7969c3         -4
                2017-08-27 06:31:00  M_ID_fc7d7969c3         -3
                2017-09-27 08:56:27  M_ID_fc7d7969c3         -2
                2017-10-27 09:42:40  M_ID_fc7d7969c3         -1
                2017-11-27 09:29:48  M_ID_fc7d7969c3          0
C_ID_1c92f0c51b 2017-01-10 08:35:29  M_ID_fc7d7969c3        -13
                2017-02-10 08:10:42  M_ID_fc7d7969c3        -12
                2017-03-10 11:18:20  M_ID_fc7d7969c3        -11
                2017-04-10 06:17:17  M_ID_fc7d7969c3        -10
                2017-05-11 01:42:25  M_ID_fc7d7969c3         -9
                2017-06-10 07:06:31  M_ID_fc7d7969c3         -8
                2017-07-10 09:54:12  M_ID_fc7d7969c3         -7
                2017-08-10 07:14:35  M_ID_fc7d7969c3         -6
                2017-09-10 20:05:46  M_ID_fc7d7969c3         -5

In [21]:
df_hist[df_hist[key]=='C_ID_a2dc8471b4']
# df_new[df_new[key]=='C_ID_0fb0e3b5cb']

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id, purchase_amount_new]
Index: []