In [1]:
debug = False
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
import numpy as np
import os
import sys
import time
import datetime
import glob
sys.path.append('../py/')
from s027_kfold_ods import ods_kfold
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import logger_func, get_categorical_features, get_numeric_features, reduce_mem_usage, elo_save_feature, impute_feature
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

from sklearn.metrics import mean_squared_error, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold, KFold, train_test_split


#========================================================================
# Args
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg']
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())
#========================================================================

2019-02-18 21:10:53,063 utils 400 [INFO]    [logger_func] start

In [2]:
df_hist = pd.read_csv('../input/historical_transactions.csv')
df_hist['purchase_amount_new'] = np.round(df_hist['purchase_amount'] / 0.00150265118 + 497.06, 2)

In [5]:
id_list = utils.read_pkl_gzip('../input/0217_merchant_one_id_list.gz')
df_hist.loc[df_hist[key].isin(id_list), :].head(10)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,purchase_amount_new
4163811,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-1,-0.717005,2018-01-21 10:50:35,NaN,-1,8,19.9
4163812,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-3,-0.717005,2017-11-21 10:49:52,NaN,-1,8,19.9
4163813,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,0,-0.717005,2018-02-21 08:43:04,NaN,-1,8,19.9
4163814,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-2,-0.717005,2017-12-21 08:44:22,NaN,-1,8,19.9
4163815,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-5,-0.717005,2017-09-21 11:22:47,NaN,-1,8,19.9
4163816,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-7,-0.745405,2017-07-21 21:11:49,NaN,-1,8,1.0
4163817,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-6,-0.717005,2017-08-21 08:13:08,NaN,-1,8,19.9
4163818,Y,C_ID_ba26c0f556,-1,Y,1,B,661,M_ID_fc7d7969c3,-4,-0.717005,2017-10-21 09:38:01,NaN,-1,8,19.9
4233736,Y,C_ID_7f628a65cd,-1,Y,1,B,661,M_ID_fc7d7969c3,-8,-0.745405,2017-06-10 20:58:16,NaN,-1,8,1.0
4233737,Y,C_ID_7f628a65cd,-1,Y,1,B,661,M_ID_fc7d7969c3,-1,-0.745405,2018-01-14 16:59:52,NaN,-1,8,1.0

In [7]:
use_cols = [key, 'month_lag', 'purchase_date', 'authorized_flag', 'installments', 'merchant_id', 'purchase_amount_new', 'subsector_id', 'merchant_category_id']
df_hist = df_hist[use_cols]

In [23]:
#========================================================================
# 最初の購買と次の購買の比
df_hist.set_index([key, 'merchant_id'], inplace=True)
# df_hist.sort_values(by=[key, 'purchase_date', 'merchant_id'], inplace=True)
# df_hist = utils.row_number(df=df_hist, level=[key, 'merchant_id'])
# df_amt = df_hist[[key, 'merchant_id', 'purchase_date', 'purchase_amount_new']]
#========================================================================

In [40]:
# df_hist.sort_values(by=[key, 'purchase_date', 'merchant_id'], inplace=True)
# df_hist = utils.row_number(df=df_hist, level=[key, 'merchant_id'])
# tmp = df_hist[df_hist[key]=='C_ID_00007093c1']
df_hist = utils.row_number(df=df_hist, level=[key, 'merchant_id'])
df_hist.sort_values(by=[key, 'merchant_id', 'purchase_date'], inplace=True)
df_hist

,card_id,merchant_id,month_lag,purchase_date,authorized_flag,installments,purchase_amount_new,subsector_id,merchant_category_id,row_no
102,C_ID_00007093c1,M_ID_0379adb435,-8,2017-06-07 10:28:34,Y,1,56.00,18,45,1
103,C_ID_00007093c1,M_ID_0379adb435,-7,2017-07-06 12:41:24,Y,2,151.00,18,45,2
104,C_ID_00007093c1,M_ID_0379adb435,-6,2017-08-08 15:26:32,Y,2,65.00,18,45,3
105,C_ID_00007093c1,M_ID_0379adb435,-5,2017-09-25 12:14:35,Y,3,220.00,18,45,4
148,C_ID_00007093c1,M_ID_06a8d84366,0,2018-02-07 11:11:27,Y,1,207.44,15,437,1
106,C_ID_00007093c1,M_ID_0dabc5a70c,-8,2017-06-07 10:47:20,Y,2,98.00,10,298,1
107,C_ID_00007093c1,M_ID_0dabc5a70c,-5,2017-09-28 14:39:39,Y,3,149.50,10,298,2
95,C_ID_00007093c1,M_ID_109e9d2b1d,-9,2017-05-16 17:16:11,Y,1,106.00,16,367,1
96,C_ID_00007093c1,M_ID_109e9d2b1d,-7,2017-07-05 17:27:26,Y,1,39.00,16,367,2
97,C_ID_00007093c1,M_ID_15446e939c,-9,2017-05-18 16:52:22,N,1,702.00,34,108,1
98,C_ID_00007093c1,M_ID_15446e939c,-9,2017-05-18 16:53:21,N,1,702.00,34,108,2
99,C_ID_00007093c1,M_ID_15446e939c,-9,2017-05-18 16:53:49,N,1,500.00,34,108,3
100,C_ID_00007093c1,M_ID_15446e939c,-9,2017-05-18 16:54:17,Y,1,300.00,34,108,4
144,C_ID_00007093c1,M_ID_1b440d74fb,-3,2017-11-03 19:24:09,Y,2,236.00,19,307,1
108,C_ID_00007093c1,M_ID_24e067cb2b,-8,2017-06-09 10:47:39,Y,3,341.00,27,427,1
146,C_ID_00007093c1,M_ID_2efbd71a00,-1,2018-01-08 18:13:40,Y,1,52.00,18,45,1
101,C_ID_00007093c1,M_ID_3c6556f2dd,-9,2017-05-30 11:10:06,Y,1,110.00,29,607,1
133,C_ID_00007093c1,M_ID_490fc654fb,-6,2017-08-28 11:43:28,N,3,1500.00,18,373,1
134,C_ID_00007093c1,M_ID_490fc654fb,-6,2017-08-28 11:44:16,Y,3,1300.00,18,373,2
135,C_ID_00007093c1,M_ID_490fc654fb,-6,2017-08-28 11:46:28,N,1,100.00,18,373,3
138,C_ID_00007093c1,M_ID_5357547c3e,-4,2017-10-06 21:40:23,Y,1,154.00,19,307,1
139,C_ID_00007093c1,M_ID_5357547c3e,-4,2017-10-28 20:11:04,Y,1,115.00,19,307,2
140,C_ID_00007093c1,M_ID_5357547c3e,-1,2018-01-05 13:55:01,Y,1,236.00,19,307,3
141,C_ID_00007093c1,M_ID_5357547c3e,0,2018-02-02 18:28:53,Y,1,144.33,19,307,4
60,C_ID_00007093c1,M_ID_57df19bf28,-10,2017-04-17 20:20:37,Y,1,12.00,8,755,1
61,C_ID_00007093c1,M_ID_57df19bf28,-10,2017-04-17 20:29:12,Y,1,12.00,8,755,2
62,C_ID_00007093c1,M_ID_57df19bf28,-8,2017-06-14 14:18:48,N,1,12.00,8,755,3
63,C_ID_00007093c1,M_ID_57df19bf28,-8,2017-06-14 14:22:05,Y,1,17.00,8,755,4
64,C_ID_00007093c1,M_ID_57df19bf28,-7,2017-07-03 15:43:57,Y,1,25.00,8,755,5
65,C_ID_00007093c1,M_ID_57df19bf28,-7,2017-07-06 10:58:03,Y,1,17.00,8,755,6
...,...,...,...,...,...,...,...,...,...,...
28973868,C_ID_fffffd5772,M_ID_7840c5d7b0,0,2018-02-19 16:05:08,Y,1,10.00,16,367,2
28973869,C_ID_fffffd5772,M_ID_8e03a902b7,-1,2018-01-21 08:49:39,Y,1,110.00,19,307,1
28973865,C_ID_fffffd5772,M_ID_9139332ccc,-2,2017-12-08 12:09:26,Y,2,82.52,29,879,1
28973866,C_ID_fffffd5772,M_ID_9139332ccc,-2,2017-12-08 12:11:55,Y,2,82.52,29,879,2
28973847,C_ID_fffffd5772,M_ID_95bcc49b39,-5,2017-09-27 17:33:49,Y,2,281.70,27,87,1
28973872,C_ID_fffffd5772,M_ID_b737a61aa4,0,2018-02-16 10:45:19,Y,1,10.80,33,705,1
28973870,C_ID_fffffd5772,M_ID_caa705da68,-1,2018-01-26 14:27:23,Y,1,18.00,27,518,1
28973849,C_ID_fffffd5772,M_ID_cc18e4b61e,-4,2017-10-19 13:33:33,Y,1,78.00,18,373,1
28973850,C_ID_fffffd5772,M_ID_cc18e4b61e,-2,2017-12-05 11:37:33,Y,1,35.00,18,373,2
28973851,C_ID_fffffd5772,M_ID_cc18e4b61e,-2,2017-12-30 10:34:09,Y,1,20.00,18,373,3
28973852,C_ID_fffffd5772,M_ID_cc18e4b61e,-1,2018-01-02 11:01:04,Y,1,61.00,18,373,4
28973853,C_ID_fffffd5772,M_ID_cc18e4b61e,0,2018-02-15 10:27:51,Y,1,50.00,18,373,5
28973854,C_ID_fffffd5772,M_ID_cc18e4b61e,0,2018-02-20 07:52:58,Y,3,290.00,18,373,6
28973873,C_ID_fffffd5772,M_ID_d6626c9a19,0,2018-02-16 12:38:56,Y,1,9.60,33,705,1
28973874,C_ID_fffffd5772,M_ID_d6626c9a19,0,2018-02-23 14:13:52,Y,1,38.35,33,705,2
28973856,C_ID_fffffd5772,M_ID_db0fa76591,-3,2017-11-04 00:00:00,Y,1,34.00,37,80,1
28973857,C_ID_fffffd5772,M_ID_db0fa76591,-2,2017-12-17 23:36:30,Y,1,40.00,37,80,2
28973858,C_ID_fffffd5772,M_ID_db0fa76591,-2,2017-12-18 02:31:37,Y,1,20.00,37,80,3
28973859,C_ID_fffffd5772,M_ID_db0fa76591,-2,2017-12-29 23:08:40,Y,1,15.00,37,80,4
28973860,C_ID_fffffd5772,M_ID_db0fa76591,0,2018-02-17 20:34:24,Y,1,27.00,37,80,5
28973861,C_ID_fffffd5772,M_ID_e80ebae5da,-3,2017-11-09 00:00:00,Y,-1,152.00,27,87,1
28973862,C_ID_fffffd5772,M_ID_e80ebae5da,-3,2017-11-09 20:15:32,Y,1,82.00,27,884,2
28973863,C_ID_fffffd5772,M_ID_e80ebae5da,-2,2017-12-16 10:20:14,Y,1,125.00,27,87,3
28973864,C_ID_fffffd5772,M_ID_e80ebae5da,-2,2017-12-23 07:34:38,Y,1,30.00,27,87,4
28973848,C_ID_fffffd5772,M_ID_e8c10bd049,-4,2017-10-13 14:20:05,Y,1,59.90,27,422,1
28973875,C_ID_fffffd5772,M_ID_fc7d7969c3,0,2018-02-26 06:55:45,N,1,1.00,8,661,1
28973876,C_ID_fffffd5772,M_ID_fc7d7969c3,0,2018-02-26 06:56:26,N,1,1.00,8,661,2
28973877,C_ID_fffffd5772,M_ID_fc7d7969c3,0,2018-02-26 06:56:49,N,1,1.00,8,661,3
28973878,C_ID_fffffd5772,M_ID_fc7d7969c3,0,2018-02-26 06:57:39,N,1,1.00,8,661,4
28973879,C_ID_fffffd5772,M_ID_fc7d7969c3,0,2018-02-26 06:58:17,Y,1,1.00,8,661,5

In [11]:
df_rank2 = df_amt[df_amt['row_no']<=2]
df_rank2

df_rank2.set_index([key, 'merchant_id', 'row_no']).unstack()

,card_id,merchant_id,purchase_date,purchase_amount_new,row_no
0,C_ID_00007093c1,M_ID_0379adb435,2017-06-07 10:28:34,56.00,1
1,C_ID_00007093c1,M_ID_0379adb435,2017-07-06 12:41:24,151.00,1
2,C_ID_00007093c1,M_ID_0379adb435,2017-08-08 15:26:32,65.00,1
3,C_ID_00007093c1,M_ID_0379adb435,2017-09-25 12:14:35,220.00,1
4,C_ID_00007093c1,M_ID_06a8d84366,2018-02-07 11:11:27,207.44,1
5,C_ID_00007093c1,M_ID_0dabc5a70c,2017-06-07 10:47:20,98.00,1
6,C_ID_00007093c1,M_ID_0dabc5a70c,2017-09-28 14:39:39,149.50,1
7,C_ID_00007093c1,M_ID_109e9d2b1d,2017-05-16 17:16:11,106.00,1
8,C_ID_00007093c1,M_ID_109e9d2b1d,2017-07-05 17:27:26,39.00,1
9,C_ID_00007093c1,M_ID_15446e939c,2017-05-18 16:52:22,702.00,1
10,C_ID_00007093c1,M_ID_15446e939c,2017-05-18 16:53:21,702.00,1
11,C_ID_00007093c1,M_ID_15446e939c,2017-05-18 16:53:49,500.00,1
12,C_ID_00007093c1,M_ID_15446e939c,2017-05-18 16:54:17,300.00,1
13,C_ID_00007093c1,M_ID_1b440d74fb,2017-11-03 19:24:09,236.00,1
14,C_ID_00007093c1,M_ID_24e067cb2b,2017-06-09 10:47:39,341.00,1
15,C_ID_00007093c1,M_ID_2efbd71a00,2018-01-08 18:13:40,52.00,1
16,C_ID_00007093c1,M_ID_3c6556f2dd,2017-05-30 11:10:06,110.00,1
17,C_ID_00007093c1,M_ID_490fc654fb,2017-08-28 11:43:28,1500.00,1
18,C_ID_00007093c1,M_ID_490fc654fb,2017-08-28 11:44:16,1300.00,1
19,C_ID_00007093c1,M_ID_490fc654fb,2017-08-28 11:46:28,100.00,1
20,C_ID_00007093c1,M_ID_5357547c3e,2017-10-06 21:40:23,154.00,1
21,C_ID_00007093c1,M_ID_5357547c3e,2017-10-28 20:11:04,115.00,1
22,C_ID_00007093c1,M_ID_5357547c3e,2018-01-05 13:55:01,236.00,1
23,C_ID_00007093c1,M_ID_5357547c3e,2018-02-02 18:28:53,144.33,1
24,C_ID_00007093c1,M_ID_57df19bf28,2017-04-17 20:20:37,12.00,1
25,C_ID_00007093c1,M_ID_57df19bf28,2017-04-17 20:29:12,12.00,1
26,C_ID_00007093c1,M_ID_57df19bf28,2017-06-14 14:18:48,12.00,1
27,C_ID_00007093c1,M_ID_57df19bf28,2017-06-14 14:22:05,17.00,1
28,C_ID_00007093c1,M_ID_57df19bf28,2017-07-03 15:43:57,25.00,1
29,C_ID_00007093c1,M_ID_57df19bf28,2017-07-06 10:58:03,17.00,1
...,...,...,...,...,...
28973850,C_ID_fffffd5772,M_ID_7840c5d7b0,2018-02-19 16:05:08,10.00,1
28973851,C_ID_fffffd5772,M_ID_8e03a902b7,2018-01-21 08:49:39,110.00,1
28973852,C_ID_fffffd5772,M_ID_9139332ccc,2017-12-08 12:09:26,82.52,1
28973853,C_ID_fffffd5772,M_ID_9139332ccc,2017-12-08 12:11:55,82.52,1
28973854,C_ID_fffffd5772,M_ID_95bcc49b39,2017-09-27 17:33:49,281.70,1
28973855,C_ID_fffffd5772,M_ID_b737a61aa4,2018-02-16 10:45:19,10.80,1
28973856,C_ID_fffffd5772,M_ID_caa705da68,2018-01-26 14:27:23,18.00,1
28973857,C_ID_fffffd5772,M_ID_cc18e4b61e,2017-10-19 13:33:33,78.00,1
28973858,C_ID_fffffd5772,M_ID_cc18e4b61e,2017-12-05 11:37:33,35.00,1
28973859,C_ID_fffffd5772,M_ID_cc18e4b61e,2017-12-30 10:34:09,20.00,1
28973860,C_ID_fffffd5772,M_ID_cc18e4b61e,2018-01-02 11:01:04,61.00,1
28973861,C_ID_fffffd5772,M_ID_cc18e4b61e,2018-02-15 10:27:51,50.00,1
28973862,C_ID_fffffd5772,M_ID_cc18e4b61e,2018-02-20 07:52:58,290.00,1
28973863,C_ID_fffffd5772,M_ID_d6626c9a19,2018-02-16 12:38:56,9.60,1
28973864,C_ID_fffffd5772,M_ID_d6626c9a19,2018-02-23 14:13:52,38.35,1
28973865,C_ID_fffffd5772,M_ID_db0fa76591,2017-11-04 00:00:00,34.00,1
28973866,C_ID_fffffd5772,M_ID_db0fa76591,2017-12-17 23:36:30,40.00,1
28973867,C_ID_fffffd5772,M_ID_db0fa76591,2017-12-18 02:31:37,20.00,1
28973868,C_ID_fffffd5772,M_ID_db0fa76591,2017-12-29 23:08:40,15.00,1
28973869,C_ID_fffffd5772,M_ID_db0fa76591,2018-02-17 20:34:24,27.00,1
28973870,C_ID_fffffd5772,M_ID_e80ebae5da,2017-11-09 00:00:00,152.00,1
28973871,C_ID_fffffd5772,M_ID_e80ebae5da,2017-11-09 20:15:32,82.00,1
28973872,C_ID_fffffd5772,M_ID_e80ebae5da,2017-12-16 10:20:14,125.00,1
28973873,C_ID_fffffd5772,M_ID_e80ebae5da,2017-12-23 07:34:38,30.00,1
28973874,C_ID_fffffd5772,M_ID_e8c10bd049,2017-10-13 14:20:05,59.90,1
28973875,C_ID_fffffd5772,M_ID_fc7d7969c3,2018-02-26 06:55:45,1.00,1
28973876,C_ID_fffffd5772,M_ID_fc7d7969c3,2018-02-26 06:56:26,1.00,1
28973877,C_ID_fffffd5772,M_ID_fc7d7969c3,2018-02-26 06:56:49,1.00,1
28973878,C_ID_fffffd5772,M_ID_fc7d7969c3,2018-02-26 06:57:39,1.00,1
28973879,C_ID_fffffd5772,M_ID_fc7d7969c3,2018-02-26 06:58:17,1.00,1