In [2]:
debug = False
%load_ext autoreload
%autoreload 2
import gc
import re
import pandas as pd
import numpy as np
import os
import sys
import time
import datetime
import glob
sys.path.append('../py/')
from s027_kfold_ods import ods_kfold
HOME = os.path.expanduser("~")
sys.path.append(f'{HOME}/kaggle/data_analysis/library')
import utils
from utils import logger_func, get_categorical_features, get_numeric_features, reduce_mem_usage, elo_save_feature, impute_feature
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

#========================================================================
# Args
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month', 'index', 'personal_term', 'no_out_flg']
start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())
#========================================================================

2019-02-19 20:42:11,963 utils 400 [INFO]    [logger_func] start

In [60]:
base = utils.read_pkl_gzip('../input/base_no_out_clf.gz')[[key, target]].set_index(key)
# df_hist = pd.read_csv('../input/historical_transactions.csv')
# df_hist['purchase_amount_new'] = np.round(df_hist['purchase_amount'] / 0.00150265118 + 497.06, 2)

In [46]:
# id_list = utils.read_pkl_gzip('../input/0217_merchant_one_id_list.gz')
# tmp = df_hist.loc[df_hist[key].isin(id_list), :]
tmp = df_hist.copy()

use_cols = [key, 'month_lag', 'purchase_date', 'authorized_flag', 'installments', 'merchant_id', 'purchase_amount_new', 'subsector_id', 'merchant_category_id']
tmp = tmp[use_cols]

# First purchase_date amount
date_min = tmp.groupby(key)['purchase_date'].min().reset_index()
date_min = tmp.merge(date_min, how='inner', on=[key, 'purchase_date'])
date_min = date_min[[key, 'merchant_id', 'purchase_amount_new']].rename(columns={'purchase_amount_new':'purchase_amount_new_first'})

# First purchase_month amount
month_min = tmp.groupby(key)['month_lag'].min().reset_index()
month_min = tmp.merge(month_min, how='inner', on=[key, 'month_lag'])
month_min = month_min[[key, 'merchant_id', 'purchase_amount_new']].groupby([key, 'merchant_id'])['purchase_amount_new'].sum().reset_index().rename(columns={'purchase_amount_new':'purchase_amount_new_first_month'})

# amount per first amount or first month amount
tmp = tmp.merge(date_min, how='inner', on=[key, 'merchant_id']).merge(month_min, how='inner', on=[key, 'merchant_id'])
tmp['purchase_amount_new_per_first_amount'] =  tmp['purchase_amount_new'] / tmp['purchase_amount_new_first']
tmp['purchase_amount_new_per_first_month_amount'] =  tmp['purchase_amount_new'] / tmp['purchase_amount_new_first_month']

tmp['purchase_amount_new_replace'] = tmp['purchase_amount_new'].replace(22.9, 27.9)
mer_amount_nunique = tmp.groupby([key, 'merchant_id'])['purchase_amount_new_replace'].nunique()
amount_nunique = tmp.groupby([key])['purchase_amount_new_replace'].nunique()
mer_amount_nunique.name = 'merchant_amount_new_nunique'
amount_nunique.name = 'amount_new_nunique'
tmp.set_index([key, 'merchant_id'], inplace=True)
tmp = tmp.join(mer_amount_nunique).join(amount_nunique)
tmp.head(10)

                                 month_lag        purchase_date  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4        -11  2017-03-08 15:05:29
                M_ID_69423b34e4        -11  2017-03-11 15:04:31
                M_ID_69423b34e4        -10  2017-04-19 12:19:08
                M_ID_69423b34e4         -1  2018-01-08 16:58:13
                M_ID_69423b34e4        -11  2017-03-11 15:26:58
                M_ID_69423b34e4         -8  2017-06-01 18:42:38
                M_ID_69423b34e4        -10  2017-04-19 11:46:58
                M_ID_69423b34e4         -7  2017-07-04 17:14:03
                M_ID_69423b34e4        -12  2017-02-14 14:00:43
                M_ID_69423b34e4         -2  2017-12-09 11:34:09

                                authorized_flag  installments  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             1
                M_ID_69423b34e4               Y             2
                M_ID_69423b34e4               N             1

                                 purchase_amount_new  subsector_id  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4               230.00            33
                M_ID_69423b34e4               120.00            33
                M_ID_69423b34e4               218.45            33
                M_ID_69423b34e4               200.00            33
                M_ID_69423b34e4               120.00            33
                M_ID_69423b34e4               120.55            33
                M_ID_69423b34e4               500.00            33
                M_ID_69423b34e4               121.60            33
                M_ID_69423b34e4               521.80            33
                M_ID_69423b34e4               400.00            33

                                 merchant_category_id  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705
                M_ID_69423b34e4                   705

                                 purchase_amount_new_first  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8
                M_ID_69423b34e4                      521.8

                                 purchase_amount_new_first_month  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8
                M_ID_69423b34e4                            521.8

                                 purchase_amount_new_per_first_amount  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                              0.440782
                M_ID_69423b34e4                              0.229973
                M_ID_69423b34e4                              0.418647
                M_ID_69423b34e4                              0.383289
                M_ID_69423b34e4                              0.229973
                M_ID_69423b34e4                              0.231027
                M_ID_69423b34e4                              0.958222
                M_ID_69423b34e4                              0.233039
                M_ID_69423b34e4                              1.000000
                M_ID_69423b34e4                              0.766577

                                 purchase_amount_new_per_first_month_amount  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                                    0.440782
                M_ID_69423b34e4                                    0.229973
                M_ID_69423b34e4                                    0.418647
                M_ID_69423b34e4                                    0.383289
                M_ID_69423b34e4                                    0.229973
                M_ID_69423b34e4                                    0.231027
                M_ID_69423b34e4                                    0.958222
                M_ID_69423b34e4                                    0.233039
                M_ID_69423b34e4                                    1.000000
                M_ID_69423b34e4                                    0.766577

                                 purchase_amount_new_replace  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                       230.00
                M_ID_69423b34e4                       120.00
                M_ID_69423b34e4                       218.45
                M_ID_69423b34e4                       200.00
                M_ID_69423b34e4                       120.00
                M_ID_69423b34e4                       120.55
                M_ID_69423b34e4                       500.00
                M_ID_69423b34e4                       121.60
                M_ID_69423b34e4                       521.80
                M_ID_69423b34e4                       400.00

                                 merchant_amount_new_nunique  \
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10
                M_ID_69423b34e4                           10

                                 amount_new_nunique
card_id         merchant_id
C_ID_00007093c1 M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10
                M_ID_69423b34e4                  10

In [ ]:
# tmp = tmp.reset_index().sort_values(by=[key, 'merchant_id', 'purchase_date'])
# tmp = utils.row_number(df=tmp, level=[key, 'merchant_id'])
tmp.groupby(key)['merchant_id'].nunique().sort_values()

In [70]:
#========================================================================
# Ratio first purchase_amount
#========================================================================
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

base = utils.read_pkl_gzip('../input/base_no_out_clf.gz')[[key, target]].set_index(key)

df_rank2 = tmp[tmp['row_no']==2]
aggs = {}
aggs['purchase_amount_new_per_first_amount'] = ['mean', 'max', 'min']
aggs['purchase_amount_new_per_first_month_amount'] = ['mean', 'max', 'min']
new_cols = get_new_columns('second_purchase', aggs)
df_agg = df_rank2.groupby(key).agg(aggs)
df_agg.columns = new_cols
df_agg['second_purchase_purchase_amount_new_per_first_amount_max-min'] = df_agg['second_purchase_purchase_amount_new_per_first_amount_max'] - df_agg['second_purchase_purchase_amount_new_per_first_amount_min']
df_agg['second_purchase_purchase_amount_new_per_first_month_amount_max-min'] = df_agg['second_purchase_purchase_amount_new_per_first_month_amount_max'] - df_agg['second_purchase_purchase_amount_new_per_first_month_amount_min']
display(df_agg.head())

prefix = '257_one'
base = base.join(df_agg).fillna(-1)
utils.elo_save_feature(df_feat=base, prefix=prefix)

,second_purchase_purchase_amount_new_per_first_amount_mean,second_purchase_purchase_amount_new_per_first_amount_max,second_purchase_purchase_amount_new_per_first_amount_min,second_purchase_purchase_amount_new_per_first_month_amount_mean,second_purchase_purchase_amount_new_per_first_month_amount_max,second_purchase_purchase_amount_new_per_first_month_amount_min,second_purchase_purchase_amount_new_per_first_amount_max-min,second_purchase_purchase_amount_new_per_first_month_amount_max-min
card_id,,,,,,,,
C_ID_00007093c1,0.440782,0.440782,0.440782,0.440782,0.440782,0.440782,0.0,0.0
C_ID_0001238066,9.532726,9.532726,9.532726,0.905058,0.905058,0.905058,0.0,0.0
C_ID_0001793786,1.021178,1.021178,1.021178,1.021178,1.021178,1.021178,0.0,0.0
C_ID_000183fdda,1.000000,1.000000,1.000000,0.500000,0.500000,0.500000,0.0,0.0
C_ID_00024e244b,0.888889,0.888889,0.888889,0.888889,0.888889,0.888889,0.0,0.0

In [71]:
#========================================================================
# Ratio first purchase_amount
#========================================================================
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

base = utils.read_pkl_gzip('../input/base_no_out_clf.gz')[[key, target]].set_index(key)

aggs = {}
aggs['merchant_amount_new_nunique'] = ['mean', 'max', 'min']
aggs['amount_new_nunique'] = ['mean']
new_cols = get_new_columns('variety', aggs)
df_agg = tmp.groupby(key).agg(aggs)
df_agg.columns = new_cols
display(df_agg.head())

prefix = '257_one'
base = base.join(df_agg).fillna(-1)
utils.elo_save_feature(df_feat=base, prefix=prefix)

,variety_merchant_amount_new_nunique_mean,variety_merchant_amount_new_nunique_max,variety_merchant_amount_new_nunique_min,variety_amount_new_nunique_mean
card_id,,,,
C_ID_00007093c1,10.0,10,10,10
C_ID_0001238066,24.0,24,24,24
C_ID_0001506ef0,1.0,1,1,1
C_ID_0001793786,10.0,10,10,10
C_ID_000183fdda,1.0,1,1,1

In [72]:
#========================================================================
# merchantauth0
# merchant
#========================================================================
tmp.head(30)

,card_id,merchant_id,month_lag,purchase_date,authorized_flag,installments,purchase_amount_new,subsector_id,merchant_category_id,purchase_amount_new_first,purchase_amount_new_first_month,purchase_amount_new_per_first_amount,purchase_amount_new_per_first_month_amount,purchase_amount_new_replace,merchant_amount_new_nunique,amount_new_nunique,row_no
0,C_ID_00007093c1,M_ID_69423b34e4,-12,2017-02-14 14:00:43,Y,2,521.80,33,705,521.80,521.80,1.000000,1.000000,521.80,10,10,1
1,C_ID_00007093c1,M_ID_69423b34e4,-11,2017-03-08 15:05:29,Y,1,230.00,33,705,521.80,521.80,0.440782,0.440782,230.00,10,10,2
2,C_ID_00007093c1,M_ID_69423b34e4,-11,2017-03-11 15:04:31,Y,1,120.00,33,705,521.80,521.80,0.229973,0.229973,120.00,10,10,3
3,C_ID_00007093c1,M_ID_69423b34e4,-11,2017-03-11 15:10:15,Y,1,45.90,33,705,521.80,521.80,0.087965,0.087965,45.90,10,10,4
4,C_ID_00007093c1,M_ID_69423b34e4,-11,2017-03-11 15:26:58,Y,1,120.00,33,705,521.80,521.80,0.229973,0.229973,120.00,10,10,5
5,C_ID_00007093c1,M_ID_69423b34e4,-10,2017-04-19 11:46:58,Y,1,500.00,33,705,521.80,521.80,0.958222,0.958222,500.00,10,10,6
6,C_ID_00007093c1,M_ID_69423b34e4,-10,2017-04-19 12:19:08,Y,1,218.45,33,705,521.80,521.80,0.418647,0.418647,218.45,10,10,7
7,C_ID_00007093c1,M_ID_69423b34e4,-8,2017-06-01 18:42:38,Y,1,120.55,33,705,521.80,521.80,0.231027,0.231027,120.55,10,10,8
8,C_ID_00007093c1,M_ID_69423b34e4,-7,2017-07-04 17:14:03,Y,1,121.60,33,705,521.80,521.80,0.233039,0.233039,121.60,10,10,9
9,C_ID_00007093c1,M_ID_69423b34e4,-2,2017-12-09 11:34:09,N,1,400.00,33,705,521.80,521.80,0.766577,0.766577,400.00,10,10,10
10,C_ID_00007093c1,M_ID_69423b34e4,-1,2018-01-08 16:58:13,Y,1,200.00,33,705,521.80,521.80,0.383289,0.383289,200.00,10,10,11
11,C_ID_0001238066,M_ID_d17aabd756,-5,2017-09-28 22:25:14,Y,1,12.07,33,705,12.07,127.13,1.000000,0.094942,12.07,24,24,1
12,C_ID_0001238066,M_ID_d17aabd756,-5,2017-09-29 23:33:20,Y,3,115.06,33,705,12.07,127.13,9.532726,0.905058,115.06,24,24,2
13,C_ID_0001238066,M_ID_d17aabd756,-4,2017-10-08 16:19:47,Y,3,140.95,33,705,12.07,127.13,11.677713,1.108708,140.95,24,24,3
14,C_ID_0001238066,M_ID_d17aabd756,-4,2017-10-19 21:30:20,Y,3,64.03,33,705,12.07,127.13,5.304888,0.503658,64.03,24,24,4
15,C_ID_0001238066,M_ID_d17aabd756,-4,2017-10-21 16:07:12,Y,3,225.03,33,705,12.07,127.13,18.643745,1.770078,225.03,24,24,5
16,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-07 23:53:05,Y,3,64.79,33,705,12.07,127.13,5.367854,0.509636,64.79,24,24,6
17,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-12 14:39:04,Y,1,31.38,33,705,12.07,127.13,2.599834,0.246834,31.38,24,24,7
18,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-15 12:53:13,Y,3,76.62,33,705,12.07,127.13,6.347970,0.602690,76.62,24,24,8
19,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-18 14:33:32,Y,3,219.78,33,705,12.07,127.13,18.208782,1.728782,219.78,24,24,9
20,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-24 22:16:49,Y,3,201.73,33,705,12.07,127.13,16.713339,1.586801,201.73,24,24,10
21,C_ID_0001238066,M_ID_d17aabd756,-3,2017-11-26 21:31:28,Y,3,67.26,33,705,12.07,127.13,5.572494,0.529065,67.26,24,24,11
22,C_ID_0001238066,M_ID_d17aabd756,-2,2017-12-01 19:42:58,Y,3,137.20,33,705,12.07,127.13,11.367026,1.079210,137.20,24,24,12
23,C_ID_0001238066,M_ID_d17aabd756,-2,2017-12-02 20:13:44,Y,3,105.81,33,705,12.07,127.13,8.766363,0.832298,105.81,24,24,13
24,C_ID_0001238066,M_ID_d17aabd756,-2,2017-12-14 21:27:30,Y,3,135.19,33,705,12.07,127.13,11.200497,1.063400,135.19,24,24,14
25,C_ID_0001238066,M_ID_d17aabd756,-2,2017-12-20 21:37:24,Y,3,156.98,33,705,12.07,127.13,13.005800,1.234799,156.98,24,24,15
26,C_ID_0001238066,M_ID_d17aabd756,-2,2017-12-20 21:42:58,Y,3,257.53,33,705,12.07,127.13,21.336371,2.025722,257.53,24,24,16
27,C_ID_0001238066,M_ID_d17aabd756,-1,2018-01-27 19:56:46,Y,3,239.99,33,705,12.07,127.13,19.883181,1.887753,239.99,24,24,17
28,C_ID_0001238066,M_ID_d17aabd756,-1,2018-01-30 19:22:37,Y,1,20.78,33,705,12.07,127.13,1.721624,0.163455,20.78,24,24,18
29,C_ID_0001238066,M_ID_d17aabd756,0,2018-02-06 19:25:24,Y,2,57.98,33,705,12.07,127.13,4.803645,0.456069,57.98,24,24,19